{% extends 'core/base.html' %}
{% load i18n %}
  {% block title %}{% translate 'Passwort zurücksetzen' %}{% endblock %}
{% block content %}
  <div class="grid-container" style="margin: 0; max-width: none">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-6 large-3" style="margin-top: 20vh; text-align: center">
        {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <div>
              {{form.new_password1.errors}}
          <label for="id_new_password1">{% translate 'Neues Passwort' %}</label>
              {{form.new_password1}}
            </div>
            <div>
              {{ form.new_password2.errors }}
          <label for="id_new_password2">{% translate 'Passwort wiederholen' %}</label>
              {{form.new_password2}}
            </div>
            <input type="submit" class="button" value="Passwort ändern"/>
          </form>
        {% else %}
      <p style="font-size:1.5rem">{% translate 'Fehler beim Zurücksetzen des Passworts' %}</p>
        {% url 'core:password_reset' as reset_url%}
        {% blocktranslate %}<p>Der Rücksetzungslink war fehlerhaft, vermutlich wurde er bereits benutzt. Bitte <a href="{{reset_url}}">fordere ein neues Passwort an.</a></p>
        {% endblocktranslate %}{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
