{% extends 'base.html' %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}
  <div class="grid-container" style="margin: 0; max-width: none">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-6 medium-offset-3" style="margin-top: 20vh; text-align: center">
        <p style="font-size:1.5rem">Ihr Passwort wurde erfolgreich geändert.</p>
        <p><a href="{% url 'core:login' %}">Wieder einloggen</a></p>
      </div>
    </div>
  </div>
{% endblock %}
