{% extends 'core/base.html' %}
{% load i18n %}
  {% block title %}{% translate 'Abgemeldet' %}{% endblock %}
{% block content %}
  <main class="flex-grow flex flex-col items-center justify-center text-center sm:px-6 lg:px-8">
    <div class="grid-container" style="margin: 0; max-width: none">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6 medium-offset-3">
          <p>{% translate 'Abgemeldet!' %}</p>
          <a href="{% url 'core:login'%}">{% translate 'Hier klicken um sich wieder anzumelden.' %}</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
