{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block content %}
  <div class="grid-container" style="margin: 0; max-width: none">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-6 large-3">
      <h2>{% translate 'Passwort zurücksetzen' %}</h2>
        <form method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
        {% translate 'Ihre E-Mail-Adresse:' %}<p>{{ form.email }}</p>
          <input type="submit" class="button" value="Zurücksetzen">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
