{% extends 'core/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% translate 'Passwort ändern' %}{% endblock %}

{% block content %}
<main class="flex-grow flex flex-col items-center justify-center text-center sm:px-6 lg:px-8">
  <div class="flex min-h-full min-w-[32rem] flex-col justify-center pt-0 pb-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h1 class="text-center text-2xl/9 font-bold tracking-tight text-slate-800">{% translate 'Passwort ändern' %}</h1>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white px-6 py-12 shadow-lg sm:rounded-lg sm:px-12">
        <form class="space-y-6" method="post">
          {% csrf_token %}
          <div>
            <label for="id_old_password" class="block text-sm/6 font-semibold text-slate-800">{% translate 'Altes Passwort' %}</label>
            <div class="mt-2">
              {% render_field form.old_password class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-slate-800 outline outline-1 -outline-offset-1 outline-slate-300 placeholder:text-slate-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-emerald-500 sm:text-sm/6" %}
            </div>
            {% for error in form.old_password.errors %}
              <p class="mt-1 text-red-500 text-xs break-words">{{ error }}</p>
            {% endfor %}
          </div>

          <div>
            <label for="id_new_password1" class="block text-sm/6 font-semibold text-slate-800">{% translate 'Neues Passwort' %}</label>
            <div class="mt-2">
              {% render_field form.new_password1 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-slate-800 outline outline-1 -outline-offset-1 outline-slate-300 placeholder:text-slate-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-emerald-500 sm:text-sm/6" %}
            </div>
            {% for error in form.new_password1.errors %}
              <p class="mt-1 text-red-500 text-xs break-words">{{ error }}</p>
            {% endfor %}
          </div>

          <div>
            <label for="id_new_password2" class="block text-sm/6 font-semibold text-slate-800">{% translate 'Neues Passwort wiederholen' %}</label>
            <div class="mt-2">
              {% render_field form.new_password2 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-slate-800 outline outline-1 -outline-offset-1 outline-slate-300 placeholder:text-slate-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-emerald-500 sm:text-sm/6" %}
            </div>
            {% for error in form.new_password2.errors %}
              <p class="mt-1 text-red-500 text-xs break-words">{{ error }}</p>
            {% endfor %}
          </div>

          <div>
            <input class="w-full px-6 py-2 bg-slate-800 text-white text-base font-semibold rounded-full tracking-wide hover:bg-black hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black active:bg-slate-900 transition-all duration-300" type="submit" name="updatePW" value="{% translate 'Passwort aktualisieren' %}"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
