{% load i18n static %}

{% block imports %}
<link href="{%  static 'ebustoolbox/css/costs.css' %}" rel="stylesheet">
{% endblock imports %}

<div class="flex-grow">
  <div class="flex items-center gap-2">
      <label class="block text-sm/6 font-medium text-slate-800">{% blocktrans %}{{ label }}{% endblocktrans %}</label>
    <div class="relative inline-block">
      {% if tooltip %}
        <!-- Info Icon -->
        <span class="cursor-pointer group">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
          </svg>
          <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
            {% blocktrans %}{{ tooltip }}{% endblocktrans %}
          </div>
        </span>
      {% endif %}
    </div>
  </div>
  <div class="mt-2">
    <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
      <span>{{name}}</span>
      <input
        {{ input }}
        type="number"
        value="{{ initial }}"
        class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
      >
      <div class="shrink-0 select-none text-sm text-slate-500">{% blocktrans %}{{ unit }}{% endblocktrans %}</div>
    </div>
  </div>
</div>
