{% load i18n %}
{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}

{% translate 'Ein Algorithmus bestimmt die benötigte Größe des Depots sowie technische Parameter automatisch für Sie.' as  automatic_calc_tooltip %}
<div id="depot_form_{{depot.id}}" class="px-4 sm:p-6 depot-form-container"
  hx-on:htmx:after-settle="openAccordion({{depot.id}}); validateDepotContainers()")
>
<div class="flex gap-2">
  <div class="flex items-center">
      {% include 'ebustoolbox/partials/toggle_field.html' with field=depot_form.auto_generate tooltip=automatic_calc_tooltip label="Automatische Berechnung" %}
  </div>
</div>

{% if depot_form.auto_generate.value %}
    <div class="py-4 w-4/12">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.default_power tooltip="Welche Ladeleistung haben die einzelnen Ladepunkte?" unit="kW" label="Leistung" %}
    </div>

    <div class="py-4 w-4/12">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.standard_block_length tooltip="Wieviel Plätze gibt es pro Fahrzeugtyp und Linie?" unit="[-]" label="Platzanzahl je Linie" %}
    </div>
{% endif %}

{% if not depot_form.auto_generate.value %}
<div class="py-4">
  <div class="grid grid-cols-1 gap-6"">

    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.cleaning_slots tooltip="Reinigungsplätze" label="Reinigungsplätze" %}
      </div>

      <div class="flex">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.cleaning_duration tooltip="Wie lange dauert die Reinigung" unit="Minuten" label="Reinigungsdauer" %}
      </div>
      </div>
    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.shunting_slots tooltip="Anzahl an Rangierparkplätzen" label="Rangierplarkplätze" %}
      </div>

      <div class="flex">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=depot_form.shunting_duration tooltip="Wie lange dauert das Rangieren" unit="Minuten" label="Rangierdauer" %}
      </div>
      </div>
</div>
</div>



<div id="area_informations_{{ depot.id }}" class="pt-6 pb-4 border-b border-slate-200">
  <div class="mb-4">
    <h2 class="block text-base font-semibold text-slate-800">{% translate "Flächendetails" %}</h2>
  </div>
  {#          Iterate over all rows of ladepunkte and leistung#}
  {% for form in form_dict.area_information %}

  <div class="mb-2 mt-4">
      <h1.5 class="block text-sm font-semibold text-slate-800">Fläche für Fahrzeugtyp: {{form.instance.vehicle_type.name}}</h1>
  </div>
    <!-- Use alpine js to toggle values of the block length. First we define a variable which can be used in the scope of the div. disable reflects if the block_length in put should be disabled -->
    <div class="grid grid-cols-1 gap-6" id="pointsContainer_{{ depot.id }}" data-depot-id="{{ depot.id }}" x-data="{capacity: '', selected: '',block_length: '', get disable() {return this.selected !=='LINE'}}"
      @checkblocklength="block_length = (findClosestDivider(capacity, block_length))" >
      <div class="flex flex-row gap-6 point-row" >
      <!-- First Column: Anzahl -->
      <div class="flex flex-1" >
{% include 'ebustoolbox/partials/tailwind_field.html' with field=form.capacity|attr:"x-on::change:dispatchCheckBlockEvent($event)"|attr:"x-model.fill:capacity" tooltip="Wie viel Ladeplätze gibt es" unit="" label="Ladeplätze" %}
      </div>

      <div class="flex flex-1">
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=form.power tooltip="Welche Ladeleistung haben die einzelenen Ladepunkte?" unit="kW" label="Ladeleistung" %}
      </div>

        <!-- Third Column: Area Type -->

      <div class="flex flex-1">

    <!-- Use alpine js to toggle values of the block length. We bind the selected value to the value of this input/select field. Selected now reflects what is selected in this field. fill means the variable instance is initialized with the html/input value. When disable is triggered after a change, reset block length to blank -->
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=form.area_type|attr:"x-model.fill:selected"|attr:"x-on::change:if (disable) block_length=''" tooltip="Welche Form hat die Fläche?" unit="" label="Flächentyp" %}
      </div>
        <div class="flex flex-1" >
      <!-- Depending on the state of this variable the input is disabled   -->
{% include 'ebustoolbox/partials/tailwind_field.html' with field=form.block_length|attr:"x-bind::disabled:disable"|attr:"x-model.fill:block_length"|attr:"x-bind::required:!disable"|attr:"@change:dispatchCheckBlockEvent($event)" tooltip="Wieviel Ladeplätze sind in einer Reihe angeordnet? Der eingegebene Wert wird automatisch auf den nächsten ganzahligen Teil der Ladeplätze gerundet." unit="" label="Ladeplätze pro Reihe" label_position="right-0 top-full" %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
</div>


<script>
function dispatchCheckBlockEvent(event){
 event.target.dispatchEvent(new CustomEvent('checkblocklength', {bubbles: true}));
}

function findClosestDivider(total, divider) {
  total = parseInt(total);
  divider = parseInt(divider);
  divider = Math.min(total,divider);
  divider = Math.max(1,divider);
  if (total % divider == 0) return divider;
  var bigger = divider;
  while (bigger<total && total % bigger != 0) bigger++;
  var smaller = divider;
  while (smaller>0 && total % smaller != 0) smaller--;
  if (divider - smaller< bigger-divider) return smaller;
  return bigger;
}



function addHTMX(button_id) {
button = document.getElementById(button_id);
button.setAttribute("hx-post", ".");
button.setAttribute("hx-swap", "outerHTML ");
form_container= button.closest(".depot-form-container");
button.setAttribute("hx-target", "#"+form_container.id);
button.setAttribute("hx-select", "#"+form_container.id);
}
addHTMX("button_{{depot_form.auto_generate.auto_id}}");
</script>

<script>
  document.addEventListener("htmx:afterRequest", () => {
    addHTMX("button_{{depot_form.auto_generate.auto_id}}");
  });
</script>
