{% load i18n %}
{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}

{% translate 'Ein Algorithmus bestimmt die benötigte Größe des Depots sowie technische Parameter automatisch für Sie.' as  automatic_calc_tooltip %}
<div id="depot_form_{{depot.id}}" class="px-4 sm:p-6 depot-form-container"
  hx-on:htmx:after-settle="openAccordion({{depot.id}}); validateDepotContainers()")
>
<div class="flex gap-2">
  <div class="flex items-center">
      {% with field=depot_form.auto_generate %}
      {% include 'ebustoolbox/partials/toggle_field.html' with field=field tooltip=field.help_text label=field.label %}
      {% endwith %}
  </div>
</div>

{% if depot_form.auto_generate.value %}
    <div class="py-4 w-4/12">
    {% with field=depot_form.default_power %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}

    </div>

    <div class="py-4 w-4/12">

    {% with field=depot_form.standard_block_length %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
    </div>
{% endif %}

{% if not depot_form.auto_generate.value %}
<div class="py-4">
  <div class="grid grid-cols-1 gap-6"">

    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">

    {% with field=depot_form.cleaning_slots %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex">

    {% with field=depot_form.cleaning_duration %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
      </div>
    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">

    {% with field=depot_form.shunting_slots %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex">

    {% with field=depot_form.shunting_duration %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
      </div>
</div>
</div>



<div id="area_informations_{{ depot.id }}" class="pt-6 pb-4 border-b border-slate-200">
  <div class="mb-4">
    <h2 class="block text-base font-semibold text-slate-800">{% translate "Flächendetails" %}</h2>
      <p class='text-sm text-slate-800'>
      Hier können Sie manuell die Flächen des Depots definieren. Die Kapazität entspricht der gesamten Anzahl an Ladeflächen für diesen Fahrzeugtyp. Ein Fahrzeugtyp kann nur eine Fläche nutzen und mehrere Fahrzeugtypen können sich keine Ladeflächen teilen. Sollten die Fläche ein Block bzw. Rechteck sein, wählen sie unter Anordnung 'Blockabstellung' aus. In diesem Fall wird der Rangiervorgang auf der Ladefläche berücksichtigt. Beachten Sie, dass die Mindeskapazität jeder einzelnen Fläche zwei betragen muss. Die Blocklänge gibt an, wieviele Busse hintereinander stehen und sich somit beim rangieren blockieren. Die Blocklänge muss nur angegeben werden wenn 'Blockabstellung' ausgewählt ist. In diesem Fall muss die Blocklänge ein ganzzahliger Teiler der Kapazität sein. Die Eingabemaske springt automatisch auf den nächstgelegenen erlaubten Wert, falls Sie einen nicht erlaubten Wert eingeben.
      </p>
  </div>
  {#          Iterate over all rows of ladepunkte and leistung#}
  {% for form in form_dict.area_information %}

  <div class="mb-2 mt-4">
      <h1.5 class="block text-sm font-semibold text-slate-800">Fläche für Fahrzeugtyp: {{form.instance.vehicle_type.name}}</h1>
  </div>
    <!-- Use alpine js to toggle values of the block length. First we define a variable which can be used in the scope of the div. disable reflects if the block_length in put should be disabled -->
    <div class="grid grid-cols-1 gap-6" id="pointsContainer_{{ depot.id }}" data-depot-id="{{ depot.id }}" x-data="{capacity: '', selected: '',prev_block_length: '1', block_length: '', get disable() {return this.selected !=='LINE'}}"
      @checkblocklength="block_length=foobar(capacity, block_length, prev_block_length, $el); prev_block_length=block_length" >
      <div class="flex flex-row gap-6 point-row" >
      <!-- First Column: Anzahl -->
      <div class="flex flex-1" >

    {% with field=form.capacity %}
{% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-on::change:dispatchCheckBlockEvent($event)"|attr:"x-model.fill:capacity" tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex flex-1">

    {% with field=form.power %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

        <!-- Third Column: Area Type -->

      <div class="flex flex-1">

    <!-- Use alpine js to toggle values of the block length. We bind the selected value to the value of this input/select field. Selected now reflects what is selected in this field. fill means the variable instance is initialized with the html/input value. When disable is triggered after a change, reset block length to blank -->

    {% with field=form.area_type %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-model.fill:selected"|attr:"x-on::change:if (disable) block_length=''" tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
        <div class="flex flex-1 flex-col" >
      <!-- Depending on the state of this variable the input is disabled   -->
          {% with field=form.block_length %}
          {% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-bind::disabled:disable"|attr:"x-model.fill:block_length"|attr:"x-bind::required:!disable"|attr:"@change:dispatchCheckBlockEvent($event)"|attr:"x-bind::placeholder:!capacity&&!disable?'Geben Sie erst die Kapazität an':' ' " tooltip=field.help_text unit=field.field.unit label=field.label %}
          {% endwith %}

          {% comment %}
          show a notification which explains why the block length is adjusted, 2s after timeout its hidden again
          {% endcomment %}

          <div class='overflow-hidden'>
            <div class="notification text-slate-800 bg-yellow-200 border rounded-md mr-2 text-xs p-1"
        x-transition:enter="animate-slide-in-top"
        x-transition:leave="animate-slide-out-top"
              x-data='{show:false}' x-show="show" @blocklengthchanged="show = true;setTimeout(()=>show=false,2000)">
              Die Blocklänge wurde automatisch auf einen Teiler der Kapazität gesetzt.
            </div>
            </div>
        </div>
    </div>
  </div>

{% endfor %}
</div>
{% endif %}

<script>
addHTMX("button_{{depot_form.auto_generate.auto_id}}");

  document.addEventListener("htmx:afterRequest", () => {
    addHTMX("button_{{depot_form.auto_generate.auto_id}}");
  });
</script>
</div>
