{% load i18n %}
{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}

{% translate 'Ein Algorithmus bestimmt die benötigte Größe des Depots sowie technische Parameter automatisch für Sie.' as  automatic_calc_tooltip %}
<div id="depot_form_{{depot.id}}" class="px-4 sm:p-6 depot-form-container"
  hx-on:htmx:after-settle="openAccordion({{depot.id}}); validateDepotContainers()")
>
<div class="flex gap-2">
  <div class="flex items-center">
      {% with field=depot_form.auto_generate %}
      {% include 'ebustoolbox/partials/toggle_field.html' with field=field tooltip=field.help_text label=field.label %}
      {% endwith %}
  </div>
</div>

{% if depot_form.auto_generate.value %}
    <div class="py-4 w-4/12">
    {% with field=depot_form.default_power %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}

    </div>

    <div class="py-4 w-4/12">

    {% with field=depot_form.standard_block_length %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
    </div>
{% endif %}

{% if not depot_form.auto_generate.value %}
<div class="py-4">
  <div class="grid grid-cols-1 gap-6"">

    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">

    {% with field=depot_form.cleaning_slots %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex">

    {% with field=depot_form.cleaning_duration %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
      </div>
    <div class="grid grid-cols-2 gap-6 point-row">
      <div class="flex">

    {% with field=depot_form.shunting_slots %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex">

    {% with field=depot_form.shunting_duration %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
      </div>
</div>
</div>



<div id="area_informations_{{ depot.id }}" class="pt-6 pb-4 border-b border-slate-200">
  <div class="mb-4">
    <h2 class="block text-base font-semibold text-slate-800">{% translate "Flächendetails" %}</h2>
  </div>
  {#          Iterate over all rows of ladepunkte and leistung#}
  {% for form in form_dict.area_information %}

  <div class="mb-2 mt-4">
      <h1.5 class="block text-sm font-semibold text-slate-800">Fläche für Fahrzeugtyp: {{form.instance.vehicle_type.name}}</h1>
  </div>
    <!-- Use alpine js to toggle values of the block length. First we define a variable which can be used in the scope of the div. disable reflects if the block_length in put should be disabled -->
    <div class="grid grid-cols-1 gap-6" id="pointsContainer_{{ depot.id }}" data-depot-id="{{ depot.id }}" x-data="{capacity: '', selected: '',prev_block_length: '1', block_length: '', get disable() {return this.selected !=='LINE'}}"
      @checkblocklength="block_length = (findClosestDivider(capacity, block_length, prev_block_length)); prev_block_length = block_length;" >
      <div class="flex flex-row gap-6 point-row" >
      <!-- First Column: Anzahl -->
      <div class="flex flex-1" >

    {% with field=form.capacity %}
{% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-on::change:dispatchCheckBlockEvent($event)"|attr:"x-model.fill:capacity" tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

      <div class="flex flex-1">

    {% with field=form.power %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>

        <!-- Third Column: Area Type -->

      <div class="flex flex-1">

    <!-- Use alpine js to toggle values of the block length. We bind the selected value to the value of this input/select field. Selected now reflects what is selected in this field. fill means the variable instance is initialized with the html/input value. When disable is triggered after a change, reset block length to blank -->

    {% with field=form.area_type %}
      {% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-model.fill:selected"|attr:"x-on::change:if (disable) block_length=''" tooltip=field.help_text unit=field.field.unit label=field.label %}
      {% endwith %}
      </div>
        <div class="flex flex-1" >
      <!-- Depending on the state of this variable the input is disabled   -->
          {% with field=form.block_length %}
          {% include 'ebustoolbox/partials/tailwind_field.html' with field=field|attr:"x-bind::disabled:disable"|attr:"x-model.fill:block_length"|attr:"x-bind::required:!disable"|attr:"@change:dispatchCheckBlockEvent($event)" tooltip=field.help_text unit=field.field.unit label=field.label %}
          {% endwith %}
        </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
</div>


<script>
function dispatchCheckBlockEvent(event){
 event.target.dispatchEvent(new CustomEvent('checkblocklength', {bubbles: true}));
}


function findClosestDivider(total, divider, prev_divider) {
  // We use the previous divider to determine, the direction the user used the stepper and enforce
  // to find an element in this direction, so there is no lock in effect for needed steps > stepsize
  total = parseInt(total);
  divider = parseInt(divider);
  divider = Math.min(total,divider);
  min_value = 2;
  divider = Math.max(min_value,divider);
  if (total % divider == 0) return divider;
  var bigger = divider;
  while (bigger<total && total % bigger != 0) bigger++;
  var smaller = divider;
  while (smaller>min_value && total % smaller != 0) smaller--;
  // Set the default output to the bigger value
  output = bigger;
  // Use the smaller divider if it is closer to the target and not identical with the previous divider
  if (total % smaller == 0){
  if (divider - smaller< bigger-divider && prev_divider != smaller ) output=smaller;
  else {
    // if the bigger divider is closer to the target but indentical we also use the smaller divider
    if (prev_divider == bigger) output=smaller;
  }
  }
  return output;
}



function addHTMX(button_id) {
button = document.getElementById(button_id);
button.setAttribute("hx-post", ".");
button.setAttribute("hx-swap", "outerHTML ");
form_container= button.closest(".depot-form-container");
button.setAttribute("hx-target", "#"+form_container.id);
button.setAttribute("hx-select", "#"+form_container.id);
}
addHTMX("button_{{depot_form.auto_generate.auto_id}}");
</script>

<script>
  document.addEventListener("htmx:afterRequest", () => {
    addHTMX("button_{{depot_form.auto_generate.auto_id}}");
  });
</script>
