{% load i18n %}
{% load custom_filters %}
{% load static %}

<form id="trips_form"
  class="w-full max-w-7xl"
  hx-post="{% url 'simba:trips' %}"
  hx-encoding="multipart/form-data"
  hx-trigger="submit"
  hx-swap="outerHTML"
>

  {% csrf_token %}
  <div class="sm:pt-8 sm:pb-4 lg:pt-6 sm:px-6 lg:px-8 w-full max-w-7xl">
    <h1 class="pb-6 text-2xl text-slate-600 font-light tracking-wide uppercase">{% translate 'Umlaufplan' %}</h1>
    <span class="block mb-6 text-sm text-slate-500">{% translate 'Laden Sie ihren Umlaufplan hoch. Alternativ können Sie den Umlaufplan aus einem existierendem Szenario auswählen.' %}</span>

{# ToDo @Bryan add styling and position div to your liking #}
    <div id="error-message" style="display:None">{% translate 'Lade eine Datei aus oder wähle ein Szenario aus.' %}</div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-full pb-4">
        <div class="flex justify-between">
          <label for="" class="flex items-center gap-2 text-sm font-medium text-slate-800">
            {% translate 'Neue Datei' %}
            <div class="relative inline-block">
              <!-- Info Icon with group -->
              <span class="cursor-pointer group">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"/>
                </svg>
                <!-- Tooltip -->
                <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                  {% translate 'Bottom Left-Aligned Tooltip' %}
                </div>
              </span>
            </div>
          </label>
          <a href="{% static 'ebustoolbox/examples/trips_example.csv' %}">
          <button type="button" class="text-sm font-semibold text-emerald-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-green-600 focus-within:ring-offset-2 hover:text-emerald-600 transition-all duration-300"
                  title="Beispieldatei herunterladen">
            <span class="flex items-center gap-2" >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                   stroke="currentColor" class="size-4" >
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"/>
              </svg>
                {% translate 'Beispieldatei' %}
            </span>
          </button>
            </a>
        </div>
        {# Make the whole div a drop zone. js will be applied to the drop_zone at the end to make it functional #}
        {# by calling it drop_zone the styling of #drop zone will be applied when dragging #}
        <div id="drop_zone"
             class="mt-2 flex justify-center bg-white rounded-lg border border-dashed border-slate-400 px-6 py-10">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#94a3b8" class="inline-block size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
            </svg>

            <p class="mt-4 pb-2 flex text-sm text-slate-800">
              <label for="{{ form.data_file.auto_id }}"
                  class="relative w-full cursor-pointer text-sm font-semibold text-emerald-700">
                <span>{% translate 'Datei hochladen' %}</span>
                {# this sets the id=form.data_file.auto_id #}
                <input {{ form.data_file|widget_attrs }} type="file" class="sr-only" accept=".csv" onchange="updateFileName(this)">
                {# progress bar during upload #}
                <progress
                  id='progress'
                  class="mt-2"
                  value='0'
                  max='100'
                ></progress>
              </label>
            <p class="pl-1 text-sm text-slate-500">{% translate 'oder ziehen und ablegen' %}</p>
            <div
              id="uploaded_file_id"
              class="pt-6 text-md font-semibold text-slate-800"
            >
            </div>
            <p class="text-sm text-slate-500 pt-8">{% translate 'Beispiel: VDV 454 (.zip)/BVG-IVU-XML' %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-full pt-4 pb-8">
      <div class="flex items-center gap-4">
        <div class="text-sm text-slate-600">
          {% translate 'oder aus bestehendem Szenario' %}
        </div>
        <div class="flex-grow">
          <label id="listbox-label" class="block text-sm font-medium text-slate-800">

          </label>

          <!-- Dropdown -->
          <div class="relative">
            <select
              id="{{ form.existing_scenario.auto_id }}"
              name="{{ form.existing_scenario.name }}"
              class="flex flex-wrap items-center w-full rounded-md bg-white px-3 py-1.5 text-left text-slate-800 border border-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6 cursor-pointer"
            >
              <option value="">{% translate '-- Szenario auswählen --' %}</option>
              {% for scenario in scenarios %}
                <option
                  value="{{ scenario.task_id }}"
                  {% if scenario.id|stringformat:"i" == requested %}selected{% endif %}
                >{{ scenario.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-full pt-4 border-t">
      <div class="w-full pb-6">
        <label for="{{ form.scenario_name.auto_id }}"
          class="block text-sm/6 font-medium text-slate-900">{% translate 'Szenario-Name' %}</label>
        <div class="mt-2">
          <input type="text" {{ form.scenario_name|widget_attrs }}
            class="bg-white w-full px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-emerald-400 sm:text-sm/6"
            placeholder={% translate "Szenario-Name eingeben" %}>
        </div>
      </div>
      <div class="w-full">
        <div class="flex justify-between">
          <label for="{{ form.description.auto_id }}" class="block text-sm/6 font-medium text-slate-800">
            {% translate 'Beschreibung' %}
            <span class="text-slate-500 pl-2" id="description-optional">{% translate '(Optional)' %}</span>
          </label>
        </div>
        <div class="mt-2">
          <textarea type="text" {{ form.description|widget_attrs }} rows="3"
            class="bg-white w-full px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-emerald-400 sm:text-sm/6"
            placeholder="{% translate "Beschreiben Sie Ihr Szenario..." %}"
            aria-describedby="description-optional">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>
      </div>
    </div>
  </div>
  </div>
  <button hidden id="hidden_button" onclick="validateAndSubmit()"></button>
</form>
