{% extends 'core/base.html' %}

{% block title %}WeBus - Szenarienvergleich{% endblock title %}

{% block content %}
<main class="flex flex-col items-center flex-grow">
  <div class="sm:py-8 lg:py-12 sm:px-6 lg:px-8 w-full max-w-7xl">
    <h1 class="text-4xl font-semibold mb-6">Szenarienvergleich</h1>
  {% if scenarios %}
    <div class="sm:py-8 lg:py-12 sm:px-6 lg:px-8 w-full max-w-7xl">
      <div class="flex flex-col">
        <div class="mt-4 shadow border border-slate-100 rounded-lg overflow-auto">
          <div class="bg-white rounded-lg shadow-md overflow-x-auto">
            <table id="table" class="w-full text-left border-collapse">
              <thead class="bg-slate-100 text-slate-800 text-sm">
                <tr>
                  <th class="px-4 py-4 font-medium"> </th>
                </tr>
              </thead>
              <tbody class="text-sm text-slate-700">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    Keine Szenarien vorhanden zum Vergleichen.
    <a href="{% url 'simba:trips' %}" class="px-4 py-1 border-2 border-green-400 text-slate-800 text-sm font-semibold tracking-wide rounded-full hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400 active:bg-green-500 transition-all duration-300">
      + Szenario erstellen
    </a>
  {% endif %}
  </div>

</main>
{% endblock content %}

{% block script %}
{{ scenarios|json_script:"scenarios" }}
{{ requested|json_script:"requested" }}
<script>
  const scenarios = JSON.parse(document.getElementById('scenarios').textContent);
  const requested = JSON.parse(document.getElementById('requested').textContent);
  const table = document.getElementById('table');

  // table styles
  const columnHeaderStyle = ['px-4', 'py-4', 'font-medium', 'text-center'];
  const rowStyle = ['border-t'];
  const rowKeyStyle = ['px-4', 'py-3', 'text-slate-500'];
  const rowValueStyle = ['px-4', 'py-3', 'text-center'];

  window.onload = _ => {
    // on page start, create basic table
    // row description in first column
    const keys = Object.keys(Object.values(scenarios)[0]);
    for (let key of keys) {
      if (key == 'Name')
          continue;  // displayed in table header
      let tr = table.insertRow();
      tr.classList.add(...rowStyle);
      let td = tr.insertCell(0);
      td.classList.add(...rowKeyStyle);
      td.textContent = key;
    }

    // add column with scenario selection and empty cells
    // this will always be last column (to add new scenarios for comparison)
    let th = table.rows[0].insertCell();
    th.classList.add(...columnHeaderStyle);
    let select = document.createElement('SELECT');
    th.appendChild(select);
    let option = document.createElement('option');
    option.value = '0';
    option.textContent = '--- Szenario auswählen ---';
    select.appendChild(option);
    // options for each scenario
    for (let [scenario_id, scenario] of Object.entries(scenarios)) {
      option = document.createElement('option');
      option.value = scenario_id;
      option.textContent = scenario.Name;
      select.appendChild(option);
    }
    select.onchange = addColumn
    // empty cells (mainly for visual effect)
    for (let i=1; i<keys.length; i++) {
      let td = table.rows[i].insertCell();
      td.classList.add(...rowValueStyle);
      td.textContent = '';
    }

    if (requested && scenarios[requested]) {
      // show requested scenario fixed as first comparison
      // use default function to add new comparison
      select.value = requested;
      select.dispatchEvent(new Event('change'));
    }
  };

  function addColumn(e) {
    // add new scenario column to comparison
    // position: after last scenario, before selection column
    if (e.target.value == '0')
      return;
    let scenario = scenarios[e.target.value];
    num_columns = table.rows[0].childElementCount;
    let th = table.rows[0].insertCell(num_columns-1);
    th.classList.add(...columnHeaderStyle);
    th.textContent = scenario.Name;

    let values = Object.values(scenario);
    for (let i=1; i<values.length; i++) {
      td = table.rows[i].insertCell(num_columns-1);
      td.classList.add(...rowValueStyle);
      td.textContent = values[i];
    }
    // reset scenario selection
    e.target.value = 0;
  }

</script>
{% endblock script %}
