{% extends 'core/base.html' %}

{% block title %}WeBus - Szenarienvergleich{% endblock title %}

{% block content %}
<main class="flex flex-col items-center flex-grow">
  <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
    <h1 class="text-4xl font-semibold mb-6">Szenarienvergleich</h1>
  {% if scenarios %}
    <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
      <div class="flex flex-col">
        <div class="mt-4 shadow border border-slate-100 rounded-lg overflow-auto">
          <div class="bg-white rounded-lg shadow-md overflow-x-auto">
            <table id="table" class="w-full text-left border-collapse">
              <thead class="bg-slate-100 text-slate-800 text-sm">
                <tr>
                  <th class="px-4 py-4 font-medium"> </th>
                </tr>
              </thead>
              <tbody class="text-sm text-slate-700">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    Keine Szenarien vorhanden zum Vergleichen.
    <a href="{% url 'simba:trips' %}" class="px-4 py-1 border-2 border-green-400 text-slate-800 text-sm font-semibold tracking-wide rounded-full hover:bg-green-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400 active:bg-green-500 transition-all duration-300">
      + Szenario erstellen
    </a>
  {% endif %}
  </div>

</main>
{% endblock content %}

{% block script %}
{{ scenarios|json_script:"scenarios" }}
{{ requested|json_script:"requested" }}
<script>
  const scenarios = JSON.parse(document.getElementById('scenarios').textContent);
  const requested = JSON.parse(document.getElementById('requested').textContent);
  const table = document.getElementById('table');

  // table styles
  const columnHeaderStyle = ['px-4', 'py-4', 'font-medium', 'text-center'];
  const headerBtnStyle = ['size-5', 'shrink-0', 'rounded-full', 'border-2', 'border-slate-300'];
  const rowStyle = ['border-t'];
  const rowKeyStyle = ['px-4', 'py-3', 'text-slate-500'];
  const rowValueStyle = ['px-4', 'py-3', 'text-center'];

  // keep track which scenarios are not displayed yet
  var availableScenarios = new Set(Object.keys(scenarios));

  window.onload = _ => {
    // on page start, create basic table
    // row description in first column
    const keys = Object.keys(Object.values(scenarios)[0]);
    for (let key of keys) {
      if (key == 'Name')
          continue;  // displayed in table header
      let tr = table.tBodies[0].insertRow();
      tr.classList.add(...rowStyle);
      let td = tr.insertCell(0);
      td.classList.add(...rowKeyStyle);
      td.textContent = key;
    }

    {
      // add empty column (always last column)
      let th = table.rows[0].insertCell();  // insertCell always TD, not TH
      th.classList.add(...columnHeaderStyle);
      for (let i=1; i<table.rows.length; i++)
        (table.rows[i].insertCell()).classList.add(...rowValueStyle);
      // add new scenario button in last column
      var addBtn = document.createElement('BUTTON');
      addBtn.id = 'cmp-addBtn';
      addBtn.classList.add(...headerBtnStyle);
      addBtn.textContent = '+';
      // only show if there are more scenarios to compare
      addBtn.style.display = availableScenarios.size?'':'none';
      th.appendChild(addBtn);

      addBtn.onclick = _ => {
        // add button click: create selection with remaining scenarios, hide button
        addBtn.style.display = 'none';
        let select = document.createElement('SELECT');
        select.id = 'cmp-select';
        th.appendChild(select);
        let option = document.createElement('option');
        option.value = '0';
        option.textContent = '--- Szenario auswählen ---';
        select.appendChild(option);
        // options for each available scenario
        // sort by numeric scenario ID
        let sorted_ids = Array(...availableScenarios).sort(
          (a, b) => a.localeCompare(b, undefined, { numeric: true }));
        for (let scenario_id of sorted_ids) {
          option = document.createElement('option');
          option.value = scenario_id;
          option.textContent = scenarios[scenario_id].Name;
          select.appendChild(option);
        }
        select.onchange = _ => {
          // scenario selected: add new column before last
          addColumn(select.value);  // may also make addBtn visible again, depending on availableScenarios
          th.removeChild(select);
        }
      }
    }

    if (requested && scenarios[requested]) {
      // show requested scenario fixed as first comparison
      // use default function to add new comparison
      // empty column must have been added prior (add in second-to-last column)
      addColumn(requested);
    }
  };

  function addColumn(scenario_id) {
    // add new scenario column to comparison
    // add as second-to-last column
    let scenario = scenarios[scenario_id];
    numColumns = table.rows[0].childElementCount;
    let th = table.rows[0].insertCell(numColumns-1);
    th.classList.add(...columnHeaderStyle);
    let headerDiv = document.createElement('DIV');
    headerDiv.setAttribute('scenario', scenario_id);
    headerDiv.style.display = 'flex';
    let headerSpan = document.createElement('SPAN');
    headerSpan.textContent = scenario.Name;
    headerDiv.appendChild(headerSpan);
    if (scenario_id != requested) {
      // add minus button, except for requested scenario
      let headerBtn = document.createElement('BUTTON');
      headerBtn.textContent = '-';
      headerBtn.classList.add(...headerBtnStyle);
      headerBtn.onclick = _ => deleteColumn(scenario_id);
      headerDiv.appendChild(headerBtn);
    }
    th.appendChild(headerDiv);

    // write values in rows
    let values = Object.values(scenario);
    for (let i=1; i<values.length; i++) {
      td = table.rows[i].insertCell(numColumns-1);
      td.classList.add(...rowValueStyle);
      td.textContent = values[i];
    }

    availableScenarios.delete(scenario_id);
    // show add button (again) if there are other scenarios to compare to
    document.getElementById('cmp-addBtn').style.display = availableScenarios.size?'':'none';
  }

  function deleteColumn(scenario_id) {
    // find column index (prior columns might have been deleted)
    let index = null;
    for (let i=0; i<table.rows[0].childElementCount; i++) {
      let headerDiv = table.rows[0].cells[i].firstElementChild;
      if (headerDiv && headerDiv.getAttribute('scenario') == scenario_id) {
        // found scenario column
        index = i;
        break;
      }
    }
    for (let row of table.rows)
      row.deleteCell(index);
    availableScenarios.add(scenario_id);
    // show add button again
    document.getElementById('cmp-addBtn').style.display = '';
    // remove select if visible
    let select = document.getElementById('cmp-select');
    if (select)
      select.remove();
  }

</script>
{% endblock script %}
