{% load i18n %}
{% extends 'ebustoolbox/wizard.html' %}
{% load custom_filters %}
{% block title %}WeBus - Kosten{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=4 %}
    {{ block.super }}
  {% endwith %}
{% endblock wizard_navigation %}

{% block wizard_content %}
<main class="flex flex-col items-center flex-grow">

<form
        method="post"
        enctype="multipart/form-data">
      {% csrf_token %}
  <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
    <h1 class="pb-12 text-2xl text-slate-600 font-light tracking-wide uppercase">
        {% translate "Kosten" %}
        <span class="text-sm normal-case font-normal text-slate-600">{% translate '(optional)' %}</span>
    </h1>
    <section class="pb-12">
      <fieldset class="pb-8">
          <legend class="text-xl font-semibold text-slate-800">{% translate 'Kostenparameter' %}</legend>
        <p class="mt-1 text-sm text-slate-500 leading-6">
            {% translate 'Beim Life Cycle Costing (LCC) können neben den finanziellen auch die ökologischen Kosten über den gesamten Lebenszyklus betrachtet werden. So unterstützt LCC nachhaltige Entscheidungen, indem es Umweltauswirkungen wie Emissionen und Ressourcenverbrauch einbezieht.' %}
        </p>
        <div class="mt-6">
          <!-- Option 1 -->
          <div class="flex items-center h-12">
            <input id="costsAutomatic" name="{{ cost_mode_form.input_mode.html_name }}" value="{{ radio_values.no_input }}" type="radio" checked class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <div class="flex items-center gap-2">
                <label for="costsAutomatic" class="ml-3 block text-sm/6 font-medium text-slate-800">{% translate 'Keine Eingabe' %}</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
                  </svg>
                  <!-- Tooltip -->
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Bottom Left-Aligned Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
          </div>
          <!-- Option 2 -->
          <div class="flex items-center h-12">
            <input id="costsFile" name="{{ cost_mode_form.input_mode.html_name }}" value="{{ radio_values.file_upload }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <div class="flex items-center gap-2">
                <label for="costsFile" class="ml-3 block text-sm/6 font-medium text-slate-800">{% translate 'Datei hochladen' %}</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
                  </svg>
                  <!-- Tooltip -->
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Bottom Left-Aligned Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="ml-4 flex-grow hidden" id="file-upload">
              <div class="flex items-center rounded-md bg-white px-1 py-1 outline outline-1 -outline-offset-1 outline-slate-400">
                <input
                        type="file"
                  {{ costs_fileUpload.file|widget_attrs }}
                  class="block w-full text-sm text-slate-800 file:mr-4 file:py-1 file:px-4 file:rounded-md file:border-0 file:bg-slate-800 file:text-white hover:file:bg-black"
                >
              </div>
            </div>
          </div>
          <!-- Option 3 -->
          <div class="flex items-center h-12">
            <input id="costsScenario" name="{{ cost_mode_form.input_mode.html_name }}" value="{{ radio_values.reference_scenario }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
              <label for="costsScenario" class="ml-3 block text-sm/6 font-medium text-slate-800">{% translate 'Werte aus anderem Szenario übernehmen' %}</label>
            <div class="ml-4 flex-grow hidden" id="dropdown-select">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <select
                        {{ costs_scenario_selection.scenario|widget_attrs }}
                        class="block w-full rounded-md bg-white py-1.5 px-3 text-left text-slate-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                >
                    <option value="">{% translate 'Szenario auswählen' %}</option>
                  {% for choice in  costs_scenario_selection.scenario.field.queryset %}
                    <option value="{{ choice.id }}">{{ choice.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- Option 4 -->
          <div class="flex items-center h-12">
            <input id="costsManually" name="{{ cost_mode_form.input_mode.html_name }}" value="{{ radio_values.manual }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
              <label for="costsManually" class="ml-3 block text-sm/6 font-medium text-slate-800">{% translate 'Manuelle Eingabe' %}</label>
          </div>
        </div>
      </fieldset>
      <div id="costsInputs" class="hidden">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
          <!-- CO2 Emission -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="co2Emissions" id="co2EmissionsLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'CO₂-Emissionen' %}</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'CO₂ Emission Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                        {{ costs_manual.co2_emissions|widget_attrs }}
                  type="number"
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="800"
                  aria-labelledby="co2EmissionsLabel co2EmissionsUnit">
                  <div id="co2EmissionsUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'g/km' %}</div>
              </div>
            </div>
          </div>

          <!-- Energy Consumption -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="energyConsumption" id="energyConsumptionLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'Energieverbrauch' %}</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Energieverbrauch Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                        {{ costs_manual.energy_consumption|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="1.2"
                  aria-labelledby="energyConsumptionLabel energyConsumptionUnit">
                  <div id="energyConsumptionUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'kWh/km' %}</div>
              </div>
            </div>
          </div>

          <!-- Resource Consumption -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="resourceConsumption" id="resourceConsumptionLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'Ressourcenverbrauch' %}</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Ressourcenverbrauch Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                        {{ costs_manual.resources_consumption|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="500"
                  aria-labelledby="resourceConsumptionLabel resourceConsumptionUnit">
                  <div id="resourceConsumptionUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'kg/Jahr' %}</div>
              </div>
            </div>
          </div>

          <!-- Lifetime Analysis -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="lifetimeAnalysis" id="lifetimeAnalysisLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'Lebensdaueranalyse' %}</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Lebensdaueranalyse Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                        {{ costs_manual.years|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="15"
                  aria-labelledby="lifetimeAnalysisLabel lifetimeAnalysisUnit">
                  <div id="lifetimeAnalysisUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'Jahre' %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-12">
      <fieldset class="pb-8">
          <legend class="text-xl font-semibold text-slate-800">{% translate 'Umweltparameter' %}</legend>
        <p class="mt-1 text-sm text-slate-500 leading-6">
            {% translate 'Umweltparameter umfassen verschiedene Aspekte der Umweltbelastung, die durch den Lebenszyklus eines Produkts oder einer Dienstleistung verursacht werden. Dazu gehören Emissionen, Energieverbrauch und Ressourcenverbrauch.' %}
        </p>
        <div class="mt-6">
          <!-- Option 1 -->
          <div class="flex items-center h-12">
            <input id="envAutomatic" name="{{ env_mode_form.input_mode.html_name }}" value="{{ radio_values.no_input }}" type="radio" checked class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <div class="flex items-center gap-2">
              <label for="envAutomatic" class="ml-3 block text-sm/6 font-medium text-slate-800">Keine Eingabe</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
                  </svg>
                  <!-- Tooltip -->
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                    Bottom Left-Aligned Tooltip
                  </div>
                </span>
              </div>
            </div>
          </div>
          <!-- Option 2 -->
          <div class="flex items-center h-12">
            <input id="envFile" name="{{ env_mode_form.input_mode.html_name }}" value="{{ radio_values.file_upload }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <div class="flex items-center gap-2">
              <label for="envFile" class="ml-3 block text-sm/6 font-medium text-slate-800">Datei hochladen</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
                  </svg>
                  <!-- Tooltip -->
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                    Bottom Left-Aligned Tooltip
                  </div>
                </span>
              </div>
            </div>
            <div class="ml-4 flex-grow hidden" id="env-file-upload">
              <div class="flex items-center rounded-md bg-white px-1 py-1 outline outline-1 -outline-offset-1 outline-slate-400">
                <input
                  type="file"
                  {{ env_fileUpload.file|widget_attrs }}
                  class="block w-full text-sm text-slate-800 file:mr-4 file:py-1 file:px-4 file:rounded-md file:border-0 file:bg-slate-800 file:text-white hover:file:bg-black"
                >
              </div>
            </div>
          </div>
          <!-- Option 3 -->
          <div class="flex items-center h-12">
            <input id="envScenario" name="{{ env_mode_form.input_mode.html_name }}" value="{{ radio_values.reference_scenario }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <label for="envScenario" class="ml-3 block text-sm/6 font-medium text-slate-800">Werte aus anderem Szenario übernehmen</label>
            <div class="ml-4 flex-grow hidden" id="env-dropdown-select">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <select
                        {{ env_scenario_selection.scenario|widget_attrs }}
                  class="block w-full rounded-md bg-white py-1.5 px-3 text-left text-slate-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                >
                  <option value="">Szenario auswählen</option>
                  {% for choice in  env_scenario_selection.scenario.field.queryset %}
                    <option value="{{ choice.id }}">{{ choice.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- Option 4 -->
          <div class="flex items-center h-12">
            <input id="envManually" name="{{ env_mode_form.input_mode.html_name }}" value="{{ radio_values.manual }}" type="radio" class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500">
            <label for="envManually" class="ml-3 block text-sm/6 font-medium text-slate-800">Manuelle Eingabe</label>
          </div>
        </div>
      </fieldset>
      <div id="envInputs" class="hidden">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
          <!-- CO2 Emission -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
              <label for="envCo2Emissions" id="envCo2EmissionsLabel" class="block text-sm/6 font-medium text-slate-800">CO₂-Emissionen</label>
              <div class="relative inline-block">
                <!-- Info Icon -->
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                    CO₂ Emission Tooltip
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                  type="number"
                  {{ env_manual.co2_emissions|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="800"
                  aria-labelledby="envCo2EmissionsLabel envCo2EmissionsUnit">
                <div id="envCo2EmissionsUnit" class="shrink-0 select-none text-sm text-slate-500">g/km</div>
              </div>
            </div>
          </div>

          <!-- Energy Consumption -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
              <label for="envEnergyConsumption" id="envEnergyConsumptionLabel" class="block text-sm/6 font-medium text-slate-800">Energieverbrauch</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                    Energieverbrauch Tooltip
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                  {{ env_manual.energy_consumption|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="1.2"
                  aria-labelledby="envEnergyConsumptionLabel envEnergyConsumptionUnit">
                <div id="envEnergyConsumptionUnit" class="shrink-0 select-none text-sm text-slate-500">kWh/km</div>
              </div>
            </div>
          </div>

          <!-- Resource Consumption -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="envResourceConsumption" id="envResourceConsumptionLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'Ressourcenverbrauch' %}</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Ressourcenverbrauch Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                  {{ env_manual.resources_consumption|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="500"
                  aria-labelledby="envResourceConsumptionLabel envResourceConsumptionUnit">
                  <div id="envResourceConsumptionUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'kg/Jahr' %}</div>
              </div>
            </div>
          </div>

          <!-- Lifetime Analysis -->
          <div class="flex-grow">
            <div class="flex items-center gap-2">
                <label for="envLifetimeAnalysis" id="envLifetimeAnalysisLabel" class="block text-sm/6 font-medium text-slate-800">{% translate 'Lebensdaueranalyse' %}</label>
              <div class="relative inline-block">
                <span class="cursor-pointer group">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Lebensdaueranalyse Tooltip' %}
                  </div>
                </span>
              </div>
            </div>
            <div class="mt-2">
              <div class="flex items-center rounded-md outline outline-1 outline-transparent mt-2">
                <input
                  {{ env_manual.years|widget_attrs }}
                  class="block bg-white min-w-0 grow mr-2 px-3 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                  placeholder="15"
                  aria-labelledby="envLifetimeAnalysisLabel envLifetimeAnalysisUnit">
                  <div id="envLifetimeAnalysisUnit" class="shrink-0 select-none text-sm text-slate-500">{% translate 'Jahre' %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<button id="submitButton" hidden></button>
</form>
</main>
{% endblock wizard_content %}

{% block wizard_buttons %}
  {% url 'simba:stations' scenario.task_id as prev_url %}
  {% with "submitButton" as buttonId %}
  {{ block.super }}
  {% endwith %}
{% endblock wizard_buttons %}

{% block script %}
<script>
  // Show and hide inputs based on selected option
  const fileUpload = document.getElementById('file-upload');
  const dropdownSelect = document.getElementById('dropdown-select');
  const costsInputs = document.getElementById('costsInputs');

  const radioButtons = document.querySelectorAll('input[name^="costsRadio"]');

  radioButtons.forEach(radio => {
      radio.addEventListener('change', () => {
          fileUpload.classList.toggle('hidden', radio.id !== 'costsFile');
          childrenInputs(fileUpload).forEach((inputDiv) => toggleAttribute(inputDiv, "required", radio.id == 'costsFile'));

          dropdownSelect.classList.toggle('hidden', radio.id !== 'costsScenario');
          childrenInputs(dropdownSelect).forEach((inputDiv) =>  toggleAttribute(inputDiv, "required", radio.id == 'costsScenario'));

          costsInputs.classList.toggle('hidden', radio.id !== 'costsManually');
          childrenInputs(costsInputs).forEach((inputDiv) =>  toggleAttribute(inputDiv, "required", radio.id == 'costsManually'));

      });
  });
</script>

  <script>
      // Show and hide inputs based on selected option for Umweltparameter
      const envFileUpload = document.getElementById('env-file-upload');
      const envDropdownSelect = document.getElementById('env-dropdown-select');
      const envInputs = document.getElementById('envInputs');

      const envRadioButtons = document.querySelectorAll('input[name^="envRadio"]');

      const formAreas = [envFileUpload, envDropdownSelect, envInputs, fileUpload, dropdownSelect, costsInputs];
      // unrequire all form inputs at the start
      formAreas.forEach((area)=>
          childrenInputs(area).forEach((inputDiv) => toggleAttribute(inputDiv, "required", false))
      )

  envRadioButtons.forEach(radio => {
      radio.addEventListener('change', () => {
          envFileUpload.classList.toggle('hidden', radio.id !== 'envFile');
          childrenInputs(envFileUpload).forEach((inputDiv) => toggleAttribute(inputDiv, "required", radio.id == 'envFile'));

          envDropdownSelect.classList.toggle('hidden', radio.id !== 'envScenario');
          childrenInputs(envDropdownSelect).forEach((inputDiv) => toggleAttribute(inputDiv, "required", radio.id == 'envScenario'));

          envInputs.classList.toggle('hidden', radio.id !== 'envManually');
          childrenInputs(envInputs).forEach((inputDiv) => toggleAttribute(inputDiv, "required", radio.id == 'envManually'));

      });
  });

  function childrenInputs(element){
      return element.querySelectorAll("input")
  }

  function toggleAttribute(element, attribute, value){
      if (value){
          element.setAttribute(attribute, "");
      } else {
          element.removeAttribute(attribute);
      }

  }

</script>
{% endblock script %}
