{% extends 'ebustoolbox/wizard.html' %}
{% load i18n %}
{% load custom_filters %}
{% block title %}WeBus - Kosten{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=5 %}
    {{ block.super }}
  {% endwith %}
{% endblock wizard_navigation %}

{% block wizard_content %}
<main class="flex flex-col items-center flex-grow">

<form
  method="post"
  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
    <h1 class="pb-12 text-2xl text-slate-500 font-light tracking-wide uppercase">
      <span class="text-sm normal-case font-normal text-slate-500">{% translate '(optional)' %}</span>
      {% translate "Kosten" %}
    </h1>
    <section class="pb-12">
      <fieldset class="pb-8 flex" style="justify-content: center">
        <div class="mt-6">
          <!-- Option 1: default settings -->
          <div class="flex items-center h-12">
            <input
              id="costsAutomatic"
              type="radio"
              name="{{ cost_mode_form.input_mode.html_name }}"
              value="{{ radio_values.no_input }}"
              class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-500"
            >
            <div class="flex items-center gap-2">
              <label for="costsAutomatic" class="ml-3 block text-sm/6 font-normal text-slate-800">{% translate 'Standardwerte übernehmen' %}</label>
            </div>
          </div>
          <!-- Option 2: manual settings -->
          <div class="flex items-center h-12">
            <input
              id="costsManually"
              type="radio" checked
              name="{{ cost_mode_form.input_mode.html_name }}"
              value="{{ radio_values.manual }}"
              class="relative size-4 appearance-none rounded-full border border-slate-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-emerald-500 checked:bg-emerald-500 checked:hover:bg-emerald-500 checked:focus:bg-emerald-500 focus:ring-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-500"
            >
            <label for="costsManually" class="ml-3 block text-sm/6 font-normal text-slate-800">{% translate 'Manuelle Eingabe' %}</label>
          </div>
        </div>
      </fieldset>
      <div id="costsInputs" style="visibility:hidden">
        <div style="padding:1rem">
          <label
            class="block text-sm/6 font-normal text-slate-800"
            for="select-from-scenario"
          >{% translate 'Aus Szenario übernehmen' %}</label>
          <select
            id="select-from-scenario"
            class="flex flex-wrap items-center w-full rounded-md bg-white px-3 py-1.5 text-left text-slate-800 border border-slate-400 focus:outline-none focus:ring-2 focus:ring-emerald-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6 cursor-pointer"
            onchange="updateCostValues(this);"
          >
            <option value="">{% translate 'Auswählen...' %}</option>
            {% for cost in costs_scenario_selection.values %}
              <option value={{ cost.id }}>{{ cost.name }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- required manual inputs: general -->
        <div
          id="acc-req-general"
          class="rounded-lg bg-white shadow accordion-container"
          data-value="req-general"
        >
          <div class="border-b border-slate-200">
            <button id="acc-btn-req-general"
                    type="button"
                    onclick="toggleAccordion(this)"
                    class="w-full flex justify-between items-center py-5 text-slate-800 bg-emerald-200 accordion-header">
              <span class="w-max text-base font-bold px-2">{% translate 'Allgemeine Einstellungen' %}</span>
              <span id="acc-icon-req-general"
                    class="accordion-cost-icon text-slate-800 transition-transform duration-300">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     fill="currentColor"
                     class="w-4 h-4">
                  <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <div id="acc-content-req-general"
                 class="max-h-0 overflow-hidden transition-transform duration-300 ease-in-out">
              <div class="accordion-cost-content">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">

                  {% translate "Zeithorizont" as label %}
                  {% translate "Berechnungsdauer für die TCO. Gesamtsystemkosten und jährliche Kosten werden innerhalb dieses Zeitraums berechnet" as tooltip %}
                  {% translate "Jahre" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.project_duration|widget_attrs initial=scenario.tco_parameters.project_duration|default:costs_manual.project_duration.initial %}

                  {% translate "Zeithorizont" as label %}
                  {% translate "Personalkosten pro Betriebsstunde für ein Fahrzeug. Üblicherweise Arbeitgeberkosten für die Busfahrer:in, evtl. zzgl. Schaffner:in" as tooltip %}
                  {% translate "€/h" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.staff_cost|widget_attrs initial=scenario.tco_parameters.staff_cost|default:costs_manual.staff_cost.initial %}

                  {% translate "Stromkosten" as label %}
                  {% translate "Stromkosten pro kWh inklusive aller Gebühren" as tooltip %}
                  {% translate "€/kwh" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.energy_cost|widget_attrs initial=scenario.tco_parameters.fuel_cost.electricity|default:costs_manual.energy_cost.initial %}

                  {% translate "Wartungskosten E-Fahrzeug" as label %}
                  {% translate "Wartungskosten für ein Elektrofahrzeug, pro Fahrzeugkilometer" as tooltip %}
                  {% translate "€/km" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.maint_cost|widget_attrs initial=scenario.tco_parameters.vehicle_maint_cost.electricity|default:costs_manual.maint_cost.initial %}

                  {% translate "Wartungskosten Ladeinfrastruktur" as label %}
                  {% translate "Durchschnittliche Wartungskosten für eine Ladesäule über ein Jahr" as tooltip %}
                  {% translate "€/a" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.maint_infr_cost|widget_attrs initial=scenario.tco_parameters.infra_maint_cost|default:costs_manual.maint_infr_cost.initial %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- required manual inputs: charging infrastructure -->
        <div
          id="acc-req-charging"
          class="rounded-lg bg-white shadow accordion-container"
          data-value="req-charging"
        >
          <div class="border-b border-slate-200">
            <button type="button"
                    onclick="toggleAccordion(this)"
                    class="w-full flex justify-between items-center py-5 text-slate-800 bg-emerald-200 accordion-header">
              <span class="w-max text-base font-bold px-2">{% translate 'Ladeinfrastruktur' %}</span>
              <span id="acc-icon-req-charging"
                    class="accordion-cost-icon text-slate-800 transition-transform duration-300">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     fill="currentColor"
                     class="w-4 h-4">
                  <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <div id="acc-content-req-charging"
                 class="max-h-0 overflow-hidden transition-transform duration-300 ease-in-out">
              <div class="accordion-cost-content">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                  {% translate "Lebensdauer Depot-Ladepunkt" as label %}
                  {% translate "Durchschnittliche Lebensdauer für einen Depot-Ladepunkt" as tooltip %}
                  {% translate "Jahre" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.useful_life_chargepoint_depot|widget_attrs initial=scenario.tco_parameters.useful_life_chargepoint_depot|default:costs_manual.useful_life_chargepoint_depot.initial %}
                  {% translate "Kaufpreis Depot-Ladepunkt" as label %}
                  {% translate "Durchschnittlicher Kaufpreis für einen Depot-Ladepunkt, inklusive anteiliger Leistungselektronik und anteiligem Netzanschluss. Bitte gib einen Wert zu Beginn des Zeithorizonts an, für Ersatzkäufe wird der Preis automatisch entprechend der Preiseskalation angepasst." as tooltip %}
                  {% translate "€" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.procurement_cost_chargepoint_depot|widget_attrs initial=scenario.tco_parameters.procurement_cost_chargepoint_depot|default:costs_manual.procurement_cost_chargepoint_depot.initial %}
                  {% translate "Lebensdauer Opportunity-Ladepunkt" as label %}
                  {% translate "Durchschnittliche Lebensdauer für einen Opportunity-Ladepunkt." as tooltip %}
                  {% translate "Jahre" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.useful_life_chargepoint_opp|widget_attrs initial=scenario.tco_parameters.useful_life_chargepoint_opp|default:costs_manual.useful_life_chargepoint_opp.initial %}
                  {% translate "Kaufpreis Opportunity-Ladepunkt" as label %}
                  {% translate "Durchschnittlicher Kaufpreis für einen Opportunity-Ladepunkt, inklusive anteiliger Leistungselektronik und anteiligem Netzanschluss. Bitte gib einen Wert zu Beginn des Zeithorizonts an, für Ersatzkäufe wird der Preis automatisch entprechend der Preiseskalation angepasst." as tooltip %}
                  {% translate "€" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.procurement_cost_chargepoint_opp|widget_attrs initial=scenario.tco_parameters.procurement_cost_chargepoint_opp|default:costs_manual.procurement_cost_chargepoint_opp.initial %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- not implemented manual inputs: diesel -->
        <div
          id="acc-req-diesel"
          class="rounded-lg bg-white shadow accordion-container"
          data-value="req-diesel"
          style="display:none"
        >
          <div class="border-b border-slate-200">
            <button type="button"
                    onclick="toggleAccordion(this)"
                    class="w-full flex justify-between items-center py-5 text-slate-800 bg-slate-200 accordion-header">
              <span class="w-max text-base font-bold px-2">{% translate 'Diesel-Vergleich' %}</span>
              <span id="acc-icon-req-diesel"
                    class="accordion-cost-icon text-slate-800 transition-transform duration-300">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     fill="currentColor"
                     class="w-4 h-4">
                  <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <div id="acc-content-req-diesel"
                 class="max-h-0 overflow-hidden transition-transform duration-300 ease-in-out">
              <div class="accordion-cost-content">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                  {% include "ebustoolbox/partials/cost_input.html" with label="Dieselkosten" unit="€" input=costs_manual.fuel_cost|widget_attrs initial=scenario.tco_parameters.fuel_cost.diesel|default:costs_manual.fuel_cost.initial %}
                  {% include "ebustoolbox/partials/cost_input.html" with label="Wartungskosten Diesel-Fahrzeug" unit="€/km" tooltip="Wartungskosten für ein Dieselfahrzeug, pro Fahrzeugkilometer" input=costs_manual.maint_cost_diesel|widget_attrs initial=scenario.tco_parameters.vehicle_maint_cost.diesel|default:costs_manual.maint_cost_diesel.initial %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- required manual inputs: vehicle types -->
        {% for vehicle_type in vehicle_types %}
          <div
            id="acc-req-vt-{{vehicle_type}}"
            class="rounded-lg bg-white shadow accordion-container"
            data-value="req-vt-{{vehicle_type}}"
          >
            <div class="border-b border-slate-200">
              <button type="button"
                      onclick="toggleAccordion(this)"
                      class="w-full flex justify-between items-center py-5 text-slate-800 bg-emerald-200 accordion-header">
                <span class="w-max text-base font-bold px-2">{% translate 'Fahrzeugtyp' %} {{ vehicle_type.name }}</span>
                <span id="acc-icon-req-vt-{{vehicle_type}}"
                      class="accordion-cost-icon text-slate-800 transition-transform duration-300">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 16 16"
                       fill="currentColor"
                       class="w-4 h-4">
                    <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <div id="acc-content-req-vt-{{vehicle_type}}"
                   class="max-h-0 overflow-hidden transition-transform duration-300 ease-in-out">
                <div class="accordion-cost-content">
                  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                  {% translate "Fahrzeuglebensdauer" as label %}
                  {% translate "Durchschnittliche Lebensdauer für ein Fahrzeug dieses Fahrzeugtyps" as tooltip %}
                  {% translate "Jahre" as unit %}
                    {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.useful_life_bus|widget_attrs initial=vehicle_type.tco_parameters.useful_life|default:costs_manual.useful_life_bus.initial %}
                  {% translate "Kaufpreis" as label %}
                  {% translate "Durchschnittlicher Kaufpreis für ein Fahrzeug dieses Typs. Bitte gib einen Wert zu Beginn des Zeithorizonts an, für Ersatzkäufe wird der Preis automatisch entprechend der Preiseskalation angepasst" as tooltip %}
                  {% translate "€" as unit %}
                    {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.procurement_cost_bus|widget_attrs initial=vehicle_type.tco_parameters.procurement_cost|default:costs_manual.procurement_cost_bus.initial %}
                  {% translate "Batterielebensdauer" as label %}
                  {% translate "Durchschnittliche Lebensdauer für eine Batterie dieses Typs" as tooltip %}
                  {% translate "Jahre" as unit %}
                    {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.useful_life_battery|widget_attrs initial=vehicle_type.battery_type.tco_parameters.useful_life|default:costs_manual.procurement_cost_battery.initial %}
                  {% translate "Kaufpreis Batterie" as label %}
                  {% translate "Durchschnittlicher Kaufpreis für eine Batterie dieses Typs, angegeben pro kWh. Wenn unbekannt, Fahrzeugkaufpreis inkl. Batterie angeben und hier 0 (dann kann ein Batterietausch aber nicht abgebildet werden)" as tooltip %}
                  {% translate "€/kWh" as unit %}
                    {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit  name=vehicle_type.name input=costs_manual.procurement_cost_battery|widget_attrs initial=vehicle_type.battery_type.tco_parameters.procurement_cost|default:costs_manual.procurement_cost_battery.initial %}
                  {% translate "Kaufpreis (Dieselbus)" as label %}
                  {% translate "Durchschnittlicher Kaufpreis für einen äquivalenten Dieselbus" as tooltip %}
                  {% translate "€" as unit %}
                    {% include "ebustoolbox/partials/cost_input.html" with hidden=True label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.procurement_cost_diesel|widget_attrs initial=vehicle_type.tco_parameters.procurement_cost_diesel|default:costs_manual.procurement_cost_diesel.initial %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <!-- optional -->
        <div
          id="acc-optional"
          class="rounded-lg bg-white shadow accordion-container"
          data-value="optional"
        >
          <div class="border-b border-slate-200">
            <button type="button"
                    onclick="toggleAccordion(this)"
                    class="w-full flex justify-between items-center py-5 text-slate-800 bg-emerald-200 accordion-header">
              <span class="w-max text-base font-bold px-2">{% translate "Erweiterte Einstellungen" %}</span>
              <span id="acc-icon-optional"
                    class="accordion-cost-icon text-slate-800 transition-transform duration-300">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     fill="currentColor"
                     class="w-4 h-4">
                  <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <div id="acc-content-optional"
                 class="max-h-0 overflow-hidden transition-transform duration-300 ease-in-out">
              <div class="accordion-cost-content">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                  {% translate "Zinssatz" as label %}
                  {% translate "Zinssatz für Investitionen und Kredite" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label unit=unit tooltip=tooltip input=costs_manual.interest_rate|widget_attrs initial=scenario.tco_parameters.interest_rate|default:costs_manual.interest_rate.initial|multiply:100 %}
                  {% translate "Inflation" as label %}
                  {% translate "Inflationsrate, Teuerung aller Güter bei gleichbleibendem Wert" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label unit=unit tooltip=tooltip input=costs_manual.inflation_rate|widget_attrs initial=scenario.tco_parameters.inflation_rate|default:costs_manual.inflation_rate.initial|multiply:100 %}
                  {% translate "Kfz-Steuer" as label %}
                  {% translate "Durchschnittliche Kraftfahrzeugsteuer pro Jahr" as tooltip %}
                  {% translate "€" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.taxes|widget_attrs initial=scenario.tco_parameters.taxes|default:costs_manual.taxes.initial %}
                  {% translate "Versicherung für Fahrzeug" as label %}
                  {% translate "Durchschnittliche jährliche Versicherungskosten, pro Fahrzeug" as tooltip %}
                  {% translate "€/a" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.insurance|widget_attrs initial=scenario.tco_parameters.insurance|default:costs_manual.insurance.initial %}
                  {% translate "Preiseskalation – allgemein" as label %}
                  {% translate "Generelle Preissteigerung pro Jahr. Der Wert ist nicht relativ zur Inflation, d. h. bei einer Preiseskalation gleich der Inflation bleibt der Wert konstant" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.pef_general|widget_attrs initial=scenario.tco_parameters.cost_escalation_rate.general|default:costs_manual.pef_general.initial|multiply:100 %}
                  {% translate "Preiseskalation – Arbeitslohn" as label %}
                  {% translate "Preissteigerung für Arbeitslohn pro Jahr. Der Wert ist nicht relativ zur Inflation, d. h. bei einer Preiseskalation gleich der Inflation bleibt der Wert konstant" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.pef_wages|widget_attrs initial=scenario.tco_parameters.cost_escalation_rate.staff|default:costs_manual.pef_wages.initial|multiply:100 %}
                  {% translate "Preiseskalation – Strom" as label %}
                  {% translate "Preissteigerung für Stromkosten pro Jahr. Der Wert ist nicht relativ zur Inflation, d. h. bei einer Preiseskalation gleich der Inflation bleibt der Wert konstant" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.pef_energy|widget_attrs initial=scenario.tco_parameters.cost_escalation_rate.electricity|default:costs_manual.pef_energy.initial|multiply:100 %}
                  {% translate "Preiseskalation – Diesel" as label %}
                  {% translate "Preissteigerung für Dieselkosten pro Jahr. Der Wert ist nicht relativ zur Inflation, d. h. bei einer Preiseskalation gleich der Inflation bleibt der Wert konstant." as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with hidden=True label=label tooltip=tooltip unit=unit input=costs_manual.pef_fuel|widget_attrs initial=scenario.tco_parameters.cost_escalation_rate.diesel|default:costs_manual.pef_fuel.initial|multiply:100 %}
                  {% translate "Preiseskalation – Versicherung" as label %}
                  {% translate "Preissteigerung für Versicherung pro Jahr. Der Wert ist nicht relativ zur Inflation, d. h. bei einer Preiseskalation gleich der Inflation bleibt der Wert konstant" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.pef_insurance|widget_attrs initial=scenario.tco_parameters.cost_escalation_rate.insurance|default:costs_manual.pef_insurance.initial|multiply:100 %}
                  {% translate "Preiseskalation - Ladepunkt" as label %}
                  {% translate "Preissteigerung für Ladepunkt dieses Typs pro Jahr. Dient der Anpassung der Preise für Ersatzladepunkte im Betrachtungszeitraum" as tooltip %}
                  {% translate "%" as unit %}
                  {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit input=costs_manual.cost_escalation_chargepoint|widget_attrs initial=scenario.tco_parameters.cost_escalation_chargepoint|default:costs_manual.cost_escalation_chargepoint.initial|default:costs_manual.cost_escalation_chargepoint.initial|multiply:100 %}
                </div>
                {% for vehicle_type in vehicle_types %}
                  <fieldset>
                    <legend>{% translate 'Fahrzeugtyp' %} {{ vehicle_type.name }}</legend>
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                  {% translate "Preiseskalation - Fahrzeug" as label %}
                  {% translate "Preissteigerung für Fahrzeuge pro Jahr. Dient der Anpassung der Preise für Ersatzfahrzeuge im Betrachtungszeitraum" as tooltip %}
                  {% translate "%" as unit %}
                      {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.cost_escalation_bus|widget_attrs initial=vehicle_type.tco_parameters.cost_escalation|default:costs_manual.cost_escalation_bus.initial|multiply:100 %}
                  {% translate "Preiseskalation - Batterie" as label %}
                  {% translate "Preissteigerung für Batterie pro Jahr. Dient der Anpassung der Preise für Ersatzbatterien im Betrachtungszeitraum" as tooltip %}
                  {% translate "%" as unit %}
                      {% include "ebustoolbox/partials/cost_input.html" with label=label tooltip=tooltip unit=unit name=vehicle_type.name input=costs_manual.cost_escalation_battery|widget_attrs initial=vehicle_type.battery_type.tco_parameters.cost_escalation|default:costs_manual.cost_escalation_battery.initial|multiply:100 %}
                    </div>
                  </fieldset>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<button id="submitButton" hidden></button>
</form>
</main>
{% endblock wizard_content %}

{% block wizard_buttons %}
  {% url 'simba:stations' scenario.task_id as prev_url %}
  {% with "submitButton" as buttonId %}
  {{ block.super }}
  {% endwith %}
{% endblock wizard_buttons %}

{% block script %}
{{ costs_scenario_selection|json_script:"cost_params" }}
<script>
  const costParams = JSON.parse(document.getElementById('cost_params').textContent);
  function updateValue(input, value) {
    input.value = v;
    // visual indicator, remove after 5 seconds
    input.classList.add('bg-emerald-300');
    setTimeout(_ => input.classList.remove('bg-emerald-300'), 5000);
  }

  function updateCostValues(select) {
    // update manual costs with parameters from other scenario
    if (!select.value)
      return;
    let params = costParams[select.value].params;
    let perc_params = [  // percentage values, need to be multiplied by 100
      'interest_rate', 'inflation_rate',
      'pef_general', 'pef_wages', 'pef_energy', 'pef_fuel', 'pef_insurance',
      'cost_escalation_chargepoint', 'cost_escalation_bus', 'cost_escalation_battery',
    ];
    // scenario parameters
    for ([k, v] of Object.entries(params.scenario)) {
      let inp = document.getElementById('id_costs-' + k);
      if (inp) {
        if (perc_params.includes(k))
          v *= 100;
        updateValue(inp, v);
      }
    }
    // vehicle type parameters
    for ([vt_name, tco] of Object.entries(params.vehicles)) {
      let vt_inp = $('input[for="' + vt_name + '"]');
      if (vt_inp.length == 0)
        continue;  // vehicle type does not exist in this scenario
      for ([k, v] of Object.entries(tco.vehicle_type)) {
        let inp = vt_inp.filter('#id_costs-' + k + '_bus');
        if (inp.length) {
          if (k == 'cost_escalation')
            v *= 100;
          updateValue(inp[0], v);
        }
      }
      for ([k, v] of Object.entries(tco.battery || {})) {
        let inp = vt_inp.filter('#id_costs-' + k + '_battery');
        if (inp.length) {
          if (k == 'cost_escalation')
            v *= 100;
          updateValue(inp[0], v);
        }
      }
    }
  }

  // Show and hide inputs based on selected option
  const costsInputs = document.getElementById('costsInputs');

  const radioButtons = document.querySelectorAll('input[name^="costsRadio"]');

  radioButtons.forEach(radio => {
    radio.addEventListener('change', _ => showCostForRadio(radio));
  });

  function showCostForRadio(radio) {
    // reduce height of manual inputs if not needed to move continue buttons up
    costsInputs.style.visibility = radio.id == 'costsManually' ? 'visible' : 'hidden';
    costsInputs.style.height = radio.id == 'costsManually' ? '100%' : '0px';
    childrenInputs(costsInputs).forEach((inputDiv) => toggleAttribute(inputDiv, "required", radio.id == 'costsManually'));
  }
  window.onload = _ => {
    // show section for initially selected
    showCostForRadio(document.querySelector('input[name^="costsRadio"]:checked'));

    const envRadioButtons = document.querySelectorAll('input[name^="envRadio"]');

    // unrequire all form inputs at the start
    childrenInputs(costsInputs).forEach((inputDiv) => toggleAttribute(inputDiv, "required", false));
  };

  function childrenInputs(element){
    if (element)
      return element.querySelectorAll("input")
    // default if no element was found/given: no children
    return new Array();
  }

  function toggleAttribute(element, attribute, value){
      if (value){
          element.setAttribute(attribute, "");
      } else {
          element.removeAttribute(attribute);
      }

  }

  /* Accordion */
  // SVG for Down icon
  const downSVG = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/></svg>';

  // SVG for Up icon
  const upSVG = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd"/></svg>';

  function toggleAccordion(button) {
    if (toggleAccordion.open == button ) {
      // clicked same accordion: skip
      return
    }
    if (toggleAccordion.open != undefined) {
      // close prior accordion
      let old_button = toggleAccordion.open;
      toggleAccordion.open = undefined;
      old_button.click();
    }

    const container = button.closest('div.accordion-container');
    const index = container.dataset.value;
    const content = document.getElementById(`acc-content-${index}`);
    const icon = document.getElementById(`acc-icon-${index}`);

    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      if (content.hasAttribute('timeout')) {
        clearTimeout(content.getAttribute('timeout'));
        content.removeAttribute('timeout');
      }
      content.classList.add('overflow-hidden');
      icon.innerHTML = upSVG;
      if (button == open) {
        toggleAccordion.open = undefined;
      }
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = downSVG;
      toggleAccordion.open = button;
      // remove overflow after animation has ended
      let timeout = setTimeout(_ => {
          content.classList.remove('overflow-hidden');
          content.removeAttribute('timeout');
        }, 500
      );
      content.setAttribute('timeout', timeout);
    }
  }
  let man_inp = document.getElementById('costsManually');
  if (man_inp) {
    let button = document.querySelector(".accordion-header");
    if (man_inp.checked)
      toggleAccordion(button); // find first accordion header and toggle open
    man_inp.onchange = e => {
      if (e.target.checked) {
        toggleAccordion(button);
      }
    }
  }
</script>
{% endblock script %}
