{% extends 'ebustoolbox/wizard.html' %}
{% load i18n %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block title %}
  {% translate "WeBus - Depots" %}
{% endblock title %}
{% block wizard_navigation %}
  {% with wiz_idx=5 %}{{ block.super }}{% endwith %}
{% endblock wizard_navigation %}
{% block wizard_content %}
  <main class="flex flex-col items-center flex-grow">
    <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
      <h1 class="pb-12 text-2xl text-slate-500 font-light tracking-wide uppercase">{% translate 'Depots' %}</h1>
      <form type="sumbit" method="POST">
        {% csrf_token %}
        {% for depot, form_dict in forms.items %}
          {% with depot_form=form_dict.depot_config %}
            <!-- Accordion Item {{depot.id}} -->
            <section class="pb-12">
              <div id=DepotContent{{ depot_id }}>
                <div class="overflow-hidden rounded-lg bg-white shadow mb-4">
                  <button type='button'
                          onclick="toggleAccordion({{ depot.id }})"
                          class="w-full flex items-center justify-between py-4 px-4 gap-4 bg-gradient-to-r from-slate-100 to-slate-200 accordion-header">
                    <div class="flex items-center gap-2">
                      <p class="flex gap-2 items-center">
                        <span class="text-base font-bold">{{ depot.name }}</span>
                        <span id="icon-{{ depot.id }}"
                              class="text-slate-800 transition-transform duration-300">
                          <svg xmlns="http://www.w3.org/2000/svg"
                               viewBox="0 0 16 16"
                               fill="currentColor"
                               class="w-4 h-4">
                            <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </p>
                    </div>
                  </button>
                  <div id="content-{{ depot.id }}"
                       class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out ">
                    <!-- General Depot configuration -->
                    {% include "ebustoolbox/partials/depot_configuration_wish.html" %}
                  </div>
                </div>
              </div>
            </section>
          {% endwith %}
        {% endfor %}
        <button hidden id="submitButton"></button>
      </form>
    </div>
  </main>
  <div class="hidden bg-emerald-200"></div>
{% endblock wizard_content %}
{% block wizard_buttons %}
  {% url 'simba:costs' scenario.task_id as prev_url %}
  {% with "submitButton" as buttonId %}{{ block.super }}{% endwith %}
{% endblock wizard_buttons %}
{% block script %}
  <script>
  function toggleAccordion(index) {
    const content = document.getElementById(`content-${index}`);
    const icon = document.getElementById(`icon-${index}`);

    // SVG for Up icon
    const upSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
      </svg>
    `;

    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      icon.innerHTML = upSVG;
    } else {
      openAccordion(index);
    }
  }
  function openAccordion(index) {
    const content = document.getElementById(`content-${index}`);
    const icon = document.getElementById(`icon-${index}`);

    // SVG for Down icon
    const downSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    `;

      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = downSVG;
  }

  {% for depot in forms.keys|slice:"1:" %}
    {% if forloop.first %}
  toggleAccordion({{depot.id}});
 {% endif %}  {% endfor %}

  </script>
  <script>
function validateDepotContainers(){
  console.log('validating');
  var containers = document.querySelectorAll("div[id^='DepotContent']");
  containers.forEach((container) => {
  var header = container.querySelector('button.accordion-header');
  var inputs = container.querySelectorAll('input');
  for (let i=0; i<inputs.length; i++){
    if (!inputs[i].checkValidity()) {
        header.classList.remove("transition-colors", "duration-100", "bg-emerald-200");
        header.classList.add( 'bg-gradient-to-r' ,'from-slate-100', 'to-slate-200') ;
      return;
    }
  }
        header.classList.remove( 'bg-gradient-to-r' ,'from-slate-100', 'to-slate-200') ;
        header.classList.add("transition-colors", "duration-100", "bg-emerald-200");
  });
}



function debounce(func, timeout = 300) {
  let timer;
  // return a debounced function, which can be called with any args
  return (...args) => {
    // clear the previous timer
    clearTimeout(timer);
    // after the duration of timeout call the function
    timer = setTimeout(() => {
      func.apply(this, args);
    }, timeout);
  };
}



document.querySelectorAll('input, change, select').forEach(el => {
  el.addEventListener('input', e => {
      //NOTE: debounce the function. this allows other callbacks to finish and toggle 'required'
      debounce(validateDepotContainers,20)();
  });
});

// New inputs via htmx need to be listened to as well
  document.body.addEventListener("htmx:afterSwap", function (e) {
  e.target.addEventListener('input', e => {
      //NOTE: debounce the function. this allows other callbacks to finish and toggle 'required'
      debounce(validateDepotContainers,20)();
  });
  });
// inital check if everything is valid
debounce(validateDepotContainers,100)();

  </script>

{% endblock script %}
