{% load i18n %}
{% load static %}



    {# maplibre 4.0 breaks loading images #}
      {#      maplibre 4.0 breaks loading images#}
      <script src="{% static "maplibre-gl.js" %}"></script>
      <link href="{% static "maplibre-gl.css" %}" rel='stylesheet'/>

      <script src="{% static "pubsub.js" %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'mapOverlays.css' %}">

        {% include 'django_mapengine/map.html' %}
        {% include 'django_mapengine/map_json.html' %}
        <script>
            // This is needed as mapengine checks for eventTopics value (bug in mapengine!)
           let eventTopics = {};
        </script>
        {% include 'django_mapengine/map_js.html' %}
        <div id="map-button">
            {% include 'ebustoolbox/components/layer_button.html' %}
            {% include 'ebustoolbox/components/layer_box.html' %}
        </div>


        <script>
            // This is needed, as otherwise map height is zero and therefore not visible (bug in mapengine!)
            document.getElementById("map").style = "height: 620px"

            document.addEventListener("DOMContentLoaded", function() {

                map.resize(); // somehow map has only half height otherwise

                var button = document.getElementById("map-button")

                // Append the button to the map section
                var mapSection = document.getElementById('map');
                mapSection.appendChild(button);

                // Add an event listener to log a message when the button is clicked
                var buttonElement = button.querySelector('button'); // Select the actual button inside the div
                buttonElement.addEventListener('click', function() {
                    $('#map-overlay').show();
                });

                //change curser on station/depot icons
                map.on('load', () => {
                  map.on('mouseenter', 'station', () => {
                    map.getCanvas().style.cursor = 'pointer';
                  });

                  map.on('mouseleave', 'station', () => {
                    map.getCanvas().style.cursor = '';
                  });
                });
            });
        </script>
