{% extends 'ebustoolbox/wizard.html' %}summary htm
{% load i18n %}

  {% block title %}{% translate 'WeBus - Zusammenfassung' %}{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=6 %}
    {{ block.super }}
  {% endwith %}
{% endblock wizard_navigation %}

{% block header %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock header %}

{% block wizard_content %}
  <!-- show notifications if they were sent in the context -->
{% url "simba:notifications" task_id 'SummaryView' as n_url %}
{% include "ebustoolbox/partials/notifications_multi.html"  with url=n_url %}
  <div
    class="rounded-md bg-yellow-50 p-4"
    role="alert"
  >
    <div class="flex justify-center">
      <div class="shrink-0">
        <svg
          class="size-5 text-yellow-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            fill-rule="evenodd"
            d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-semibold text-yellow-800" id="alert-title">
          {% translate 'Bitte überprüfen Sie alle Angaben sorgfältig, da nach Start der Simulation keine Änderungen mehr möglich sind.' %}
        </h3>
      </div>
    </div>
  </div>
  <!-- Use alert when simulating -->
  <div class="flex justify-center pt-8">
<div id='simulateButton'
        hx-select="#simulateButton"
        hx-get='.'
        hx-trigger='startSim from:body, success from:body, notRunning from:body'
        hx-swap='innerHTML'
        >
  {% include "ebustoolbox/partials/simulate_scenario_button.html" %}
      </div>
  </div>
<script>
  document.body.addEventListener("htmx:afterSwap", function (evt) {
    // Trigger button refresh when the button was clicked
        if (evt.detail.target.id == "simulationProgressAlert") {
      htmx.trigger(document.body, "startSim");
    }
  });
</script>
  <div id="simulationProgressAlert">
  {% if progress %}
    {% include "core/progress_poll.html" with progress_id=progress.task_id template_name="progress_simulation.html" %}
  {% endif %}


    </div>

  <main class="flex flex-col items-center flex-grow">
    <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
      <div class="flex justify-center">
      <div class="inline-flex items-center p-1 gap-1 bg-slate-200 rounded-full">
        <button
          id="tab-summary"
          class="tab-button px-4 py-2 rounded-full bg-slate-800 text-white text-sm font-medium focus:outline-none"
          data-tab="summary"
        >
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
              <span>{% translate 'Zusammenfassung' %}</span>
          </span>
        </button>
        <button
          id="tab-map"
          class="tab-button px-4 py-2 rounded-full bg-white text-slate-800 text-sm font-medium focus:outline-none"
          data-tab="map"
        >
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
            </svg>
              <span>{% translate 'Karte' %}</span>
          </span>
        </button>
      </div>
    </div>
    <section class="tab-content pt-12" id="content-summary">
      <div class="pt-8">
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Szenarioname' %}</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ scenario.name }}</p>
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Beschreibung' %}</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              {% if scenario.description %}<p>{{ scenario.description }}</p>
                {% else %}<p class="w-[18rem] text-slate-500">{% translate 'Keine Beschreibung' %}</p>{% endif %}
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Zeitspanne' %}</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ sim_duration}}</p>
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Temperatur' %}</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              {% blocktranslate %}
              <p>Durchschnittstemperatur:{{ temperature_average }}° C</p>
              <p>Extremtemperatur:{{ temperature_extreme }}° C</p>
              {% endblocktranslate %}
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Fahrzeugtypen' %}</p>
          {%  for vehicle_type in vehicle_types %}
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
                <div class="flex">
              <p class="text-slate-800 font-semibold uppercase pr-2">{{ vehicle_type.name }}</p>
                  {% if vehicle_type.lines %}
              <div class="relative inline-flex">
                  <span>({{ vehicle_type.lines|length}} {% translate 'Linie(n)' %}</span>
                  <span class="px-1 relative inline-flex ">
                    <span class="cursor-pointer group">
                      {% include "ebustoolbox/partials/eye_icon_svg.html" %}
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none"
                      >
                        {% for line in vehicle_type.lines %}
                          <li>{{ line}}</li>
                          {% endfor %}
                      </div>
                    </span>
                  </span>
              </div>
                {% endif %}
                <div class="inline-flex items-center gap-1 pb-2">
                  <span>)</span>
                </div>
            </div>
              <div class="pt-2">
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Gesamtkilometer:' %}</span>
                    <span class="text-slate-800">{{vehicle_type.get_total_distance_km_from_parent|floatformat:2}} km</span>
                  </p>
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Durchschnittsgeschwindigkeit:' %}</span>
                    <span class="text-slate-800">{{vehicle_type.get_average_speed_kmh_from_parent|floatformat:2}} km/h</span>
                  </p>
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Nutz. Batteriekapazität:' %}</span>
                    <span class="text-slate-800">{{ vehicle_type.battery_capacity|floatformat:2 }} kW</span>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
           {% endfor %}
        </div>

        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Endhaltestellen' %}</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Elektrifizierung aktiviert:' %}</span>
                  <div class="flex items-center gap-2">
                      <span class="text-slate-800">{{ electrified_stations|length }} {% translate 'Stationen' %}</span>
                  {% if electrified_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in electrified_stations %}
                          <li>{{ station.name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Bei Simulation entschieden:' %}</span>
                  <div class="flex items-center gap-2">
                      <span class="text-slate-800">{{ automatic_stations|length }} {% translate 'Stationen' %}</span>
                  {% if automatic_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in automatic_stations %}
                          <li>{{ station.name}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Elektrifizierung nicht möglich:' %}</span>
                  <div class="flex items-center gap-2">
                      <span class="text-slate-800">{{ excluded_stations|length }} {% translate 'Stationen' %}</span>
                                    {% if excluded_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in excluded_stations %}
                          <li>{{ station.name}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:stations" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
        </div>

        {% if costs %}
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Kostenparameter' %}</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Anschaffungskosten:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Wartungskosten:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Energiekosten:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Laufzeit:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:costs" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
        </div>
        {%  endif %}


        {% if lca %}
        <div class="pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Umweltparameter' %}</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'CO₂-Emissionen:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Energieverbrauch:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Ressourcenverbrauch:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                    <span class="w-[18rem] text-slate-500">{% translate 'Lebensdaueranalyse:' %}</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">not implemented</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:costs" scenario.task_id  %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
        </div>
        {%  endif %}

        <div class="flex flex-col pb-8 space-y-2">
            <p class="text-slate-800 font-medium tracking-wide">{% translate 'Depots' %}</p>
          {% for depot in depots %}
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <p class="text-slate-800 font-semibold uppercase">{{ depot.name }}</p>
              <div class="pt-4 pl-4">
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Anzahl Ladepunkte:' %}</span>
                    <span class="text-slate-800">{{ depot.amount_charging_places }}</span>
                  </p>
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Leistung pro Punkt:' %}</span>
                    <span class="text-slate-800">{{ depot.power_per_charger }} kW</span>
                  </p>
                </div>
              </div>
              <div class="pt-4 pl-4">
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Anzahl Ladepunkte:' %}</span>
                    <span class="text-slate-800">not implemented</span>
                  </p>
                  <p class="flex">
                      <span class="w-[16rem] text-slate-500">{% translate 'Leistung pro Punkt [kW]:' %}</span>
                    <span class="text-slate-800">not implemented</span>
                  </p>
                </div>
                <p class="flex pt-4">
                    <span class="w-[16rem] text-slate-500">{% translate 'Ladeleistung:' %}</span>
                  <span class="text-slate-800 pl-4">{{ depot.power_total }} kVA</span>
                </p>
              </div>
            </div>
            <div>
              <a href="{% url 'simba:depots' scenario.task_id %}" class="flex items-center gap-2 text-emerald-600 text-sm font-bold hover:text-emerald-500 focus:text-emerald-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                  {% translate 'Editieren' %}
              </a>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </section>

    <section class="tab-content hidden pt-8 pb-12" id="content-map">
      <div id="map" class="h-[48rem]"></div>
    </section>
  </div>
</main>
{% endblock wizard_content %}

{% block wizard_buttons %}


<nav>
  <div class="mx-auto max-w-7xl px-2 pt-4 pb-8 sm:px-6 lg:px-8">
    <div class="flex justify-end gap-4">
        <a href="{% url 'simba:depots' task_id %}
" class="flex px-6 py-2 bg-slate-200 text-slate-800 text-base font-semibold tracking-wide rounded-full hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500 active:bg-slate-300 transition-all duration-300">
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
            <span>{% translate 'Zurück' %}</span>
          </span>
        </a>


  <div class="flex justify-center">
<div id='wizardNextButton'
        hx-select="#wizardNextButton"
        hx-get='.'
        hx-trigger='startSim from:body, success from:body, notRunning from:body'
        hx-swap='innerHTML'
        >
  {% include "ebustoolbox/partials/simulate_scenario_button.html" %}
      </div>
  </div>

    </div>
  </div>
</nav>

{% endblock wizard_buttons %}

{% block script %}
<script>
  // from notifications_multi.html. Fetch notifications based on view and task id
  document.addEventListener("DOMContentLoaded", () => {
    fetchAndRenderNotifications();
  })
  // Tabs
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".tab-content");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        buttons.forEach((btn) => {
          btn.classList.remove("bg-slate-800", "text-white");
          btn.classList.add("bg-white", "text-slate-800");
        });
        contents.forEach((content) => content.classList.add("hidden"));
        const tab = button.getAttribute("data-tab");
        button.classList.add("bg-slate-800", "text-white");
        button.classList.remove("bg-white", "text-slate-800");
        document.getElementById(`content-${tab}`).classList.remove("hidden");
      });
    });
  });
</script>

<script>
  // Empty Leaflet Map
  var map = L.map('map', {
      center: [51.505, -0.09],
      zoom: 13
  });
</script>
{% endblock script %}
