{% extends 'ebustoolbox/wizard.html' %}

{% block title %}WeBus - Zusammenfassung{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=6 %}
    {{ block.super }}
  {% endwith %}
{% endblock wizard_navigation %}

{% block header %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock header %}

{% block wizard_content %}
  <!-- Use alert when simulating -->

  {#    ToDo. Needs Styling @ Bryan#}
  <button id="simulateButton" hx-get="{% url "simba:merge_and_run" scenario.task_id %}" hx-target="#simulationProgressAlert" s
          style="background-color:green" {% if progress.running or progress.success %}disabled{% endif %}> Simulation Starten
  </button>
  <div id="runner"
          {#Trigger "notRunning" sent from server inside the header if the submitted file is not handled anymore#}
       hx-trigger="notRunning from:body">
  </div>
  <script>
      // Clicking the simulate button disables it. It will be enabled again if htmx sends notRunning
      $("#simulateButton").click(function () {
          $(this).attr("disabled", "disabled");
      });
      htmx.on('#runner', 'htmx:trigger', function (evt) {
          console.log("notRunning");
          {#hx is triggered when "notRunning" is sent from progress poll#}
          const button=document.getElementById("simulateButton")
          button.disabled = false;
          button.innerHTML ="Erneut Simulieren"
      })
  </script>

  <div id="simulationProgressAlert">
  {% if progress %}
    {% include "core/progress_poll.html" with progress_id=progress.task_id template_name="progress_simulation.html" %}
  {% endif %}
  {#      om case of error allow resimulating#}
{#  {% if show_rerun %}#}
{#    <button hx-get="{% url "simba:merge_and_run" scenario.task_id %}" hx-target="#simulationProgressAlert" s#}
{#            style="background-color:green"> Simulation Erneut Starten#}
{#    </button>#}
{#  {% endif %}#}


    </div>

  <main class="flex flex-col items-center flex-grow">
    <div class="sm:py-8 lg:py-12 sm:px-6 lg:px-8 w-full max-w-7xl">
      <div class="flex justify-center">
      <div class="inline-flex items-center p-1 gap-1 bg-slate-200 rounded-full">
        <button
          id="tab-summary"
          class="tab-button px-4 py-2 rounded-full bg-slate-800 text-white text-sm font-medium focus:outline-none"
          data-tab="summary"
        >
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            <span>Zusammenfassung</span>
          </span>
        </button>
        <button
          id="tab-map"
          class="tab-button px-4 py-2 rounded-full bg-white text-slate-800 text-sm font-medium focus:outline-none"
          data-tab="map"
        >
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
            </svg>
            <span>Karte</span>
          </span>
        </button>
      </div>
    </div>
    <section class="tab-content pb-12" id="content-summary">
      <div class="pt-8">
        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Szenarioname</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ scenario.name }}</p>
            </div>
            <div>
              <a href="#" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Beschreibung</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ scenario_description.description }}</p>
            </div>
            <div>
              <a href="#" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Zeitspanne</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ sim_duration}}</p>
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>
        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Temperatur</p>
          <div class="flex justify-between items-center bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div>
              <p>{{ temperature }}° C</p>
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Fahrzeugtypen</p>
          {%  for vehicle_type in vehicle_types %}
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <p class="text-slate-800 font-semibold uppercase">{{ vehicle_type.name }}</p>
              <div class="pt-4 pl-4">
                <div class="inline-flex items-center gap-1 pb-2">
                  <span class="text-slate-800 font-semibold">Default</span>
                  <span>({{ vehicle_type.lines|length}} Linie(n)</span>
                {% if vehicle_type.lines %}
                  <span class="relative inline-flex items-center">
                    <span class="cursor-pointer group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none"
                      >
                        {% for line in vehicle_type.lines %}
                          <li>{{ line}}</li>
                          {% endfor %}
                      </div>
                    </span>
                  </span>
                {% endif %}
                  <span>)</span>
                </div>
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Anzahl Fahrzeuge:</span>
                    <span class="text-slate-800">Not Implemented</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Gesamtkilometer:</span>
                    <span class="text-slate-800">Not Implemented</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Nutz. Batteriekapazität:</span>
                    <span class="text-slate-800">{{ vehicle_type.battery_capacity }} kW</span>
                  </p>
                </div>
              </div>
              <div class="pt-4 pl-4">
                <div class="inline-flex items-center gap-1 pb-2">
                  <span class="text-slate-800 font-semibold">Gruppe 1 (Not Implemented)</span>
                  <span>(4 Linien</span>
                  <span class="relative inline-flex items-center">
                    <span class="cursor-pointer group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none"
                      >
                        Linien 102, 104
                      </div>
                    </span>
                  </span>
                  <span>)</span>
                </div>
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Anzahl Fahrzeuge:</span>
                    <span class="text-slate-800">30</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Gesamtkilometer:</span>
                    <span class="text-slate-800">503,6 km</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Nutz. Batteriekapazität:</span>
                    <span class="text-slate-800">500 kW</span>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:vehicles" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
           {% endfor %}
        </div>

        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Endhaltestellen</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Elektrifizierung aktiviert:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">{{ electrified_stations|length }} Stationen</span>
                  {% if electrified_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in electrified_stations %}
                          <li>{{ station.name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Bei Simulation entschieden:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">{{ automatic_stations|length }} Stationen</span>
                  {% if automatic_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in automatic_stations %}
                          <li>{{ station.name}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Elektrifizierung nicht aktiviert:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">{{ excluded_stations|length }} Stationen</span>
                                    {% if excluded_stations %}
                    <div class="relative group">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#00856C"
                        class="size-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      <!-- Tooltip -->
                      <div
                        class="absolute left-0 top-full z-10 mt-2 w-64 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100"
                      >
                        <ul class="list-disc list-inside">
                          {% for station in excluded_stations %}
                          <li>{{ station.name}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:stations" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>

        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Kostenparameter</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Anschaffungskosten:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented 300.00 €/Bus</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Wartungskosten:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented 10.000 €/Jahr</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Energiekosten:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented 10.000</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Laufzeit:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented 5 Jahre</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:costs" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>

        <div class="pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Umweltparameter</p>
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <div class="flex flex-col font-normal gap-2">
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">CO₂-Emissionen:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Energieverbrauch:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Ressourcenverbrauch:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented</span>
                  </div>
                </div>
                <div class="flex items-center">
                  <span class="w-[18rem] text-slate-500">Lebensdaueranalyse:</span>
                  <div class="flex items-center gap-2">
                    <span class="text-slate-800">Not implemented</span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:costs" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
        </div>

        <div class="flex flex-col pb-8 space-y-2">
          <p class="text-slate-800 font-medium tracking-wide">Depots</p>
          {% for depot in depots %}
          <div class="flex justify-between items-start bg-white rounded-lg p-4 text-sm tracking-wide gap-4">
            <div class="w-full">
              <p class="text-slate-800 font-semibold uppercase">{{ depot.name }}</p>
              <div class="pt-4 pl-4">
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Anzahl Ladepunkte:</span>
                    <span class="text-slate-800">{{ depot.amount_charging_places }}</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Leistung pro Punkt:</span>
                    <span class="text-slate-800">{{ depot.power_per_charger }} kW</span>
                  </p>
                </div>
              </div>
              <div class="pt-4 pl-4">
                <div class="flex flex-col pl-4 font-normal border-l gap-2">
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Anzahl Ladepunkte:</span>
                    <span class="text-slate-800">Not IMplemented</span>
                  </p>
                  <p class="flex">
                    <span class="w-[16rem] text-slate-500">Leistung pro Punkt:</span>
                    <span class="text-slate-800">Not IMplemented kW</span>
                  </p>
                </div>
                <p class="flex pt-4">
                  <span class="w-[16rem] text-slate-500">Ladeleistung:</span>
                  <span class="text-slate-800 pl-4">{{ depot.power_total }} kVA</span>
                </p>
              </div>
            </div>
            <div>
              <a href="{%  url "simba:depots" scenario.task_id  %}" class="flex items-center gap-2 text-green-600 text-sm font-bold hover:text-green-500 focus:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                Editieren
              </a>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </section>

    <section class="tab-content hidden pt-8 pb-12" id="content-map">
      <div id="map" class="h-[48rem]"></div>
    </section>
  </div>
</main>
{% endblock wizard_content %}

{% block wizard_buttons %}
  {% url 'simba:depots' task_id as prev_url %}

  {% url 'simba:results' task_id as next_url %}
  {{ block.super }}
{% endblock wizard_buttons %}

{% block script %}
<script>
  // Tabs
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".tab-content");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        buttons.forEach((btn) => {
          btn.classList.remove("bg-slate-800", "text-white");
          btn.classList.add("bg-white", "text-slate-800");
        });
        contents.forEach((content) => content.classList.add("hidden"));
        const tab = button.getAttribute("data-tab");
        button.classList.add("bg-slate-800", "text-white");
        button.classList.remove("bg-white", "text-slate-800");
        document.getElementById(`content-${tab}`).classList.remove("hidden");
      });
    });
  });
</script>

<script>
  // Empty Leaflet Map
  var map = L.map('map', {
      center: [51.505, -0.09],
      zoom: 13
  });
</script>
{% endblock script %}
