{% load custom_filters %}
{% for vt_id, modification in vehicle_modification.items %}
<div id="VehicleTypeContainer{{ vt_id }}" class="overflow-hidden rounded-lg bg-white shadow" data-value="{{ vt_id }}">
  <div class="flex items-center justify-between py-4 px-4 gap-4 bg-gradient-to-r from-slate-100 to-slate-200">
    <div class="flex items-center gap-4">
    <div class="flex flex-col">
      <div class="flex gap-4 items-center">
        <p class="flex gap-2">
          <span class="text-base font-normal">Fahrzeugtyp: </span>
          <span class="w-max text-base font-bold">{{ modification.vehicle_type.name }} {{ modification.vehicle_type.id }}</span>
        </p>
        <button
                id="{{vt_id}}assignedToButton"

                type="button"
                class="grid cursor-default grid-cols-1 rounded-md bg-white py-1.5 px-3 text-left text-slate-800 outline outline-1 -outline-offset-0 outline-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-green-400 sm:text-sm/6"
                style="width: 20rem"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-labelledby="listbox-label"
                value="{{ modification.selection.instance.id}}"
        >
          <input {{ modification.selection.default_vehicle_type|widget_attrs}} data-value="{{ vt_id }}" hidden>
          <span id="label_{{ modification.selection.default_vehicle_type.auto_id }}"  class="col-start-1 row-start-1 truncate pr-6">{% if  modification.selection.instance.default_vehicle_type is not None %}{{ modification.selection.instance.default_vehicle_type.name }}{% else %} -- Fahrzeugtyp auswählen --{% endif %}</span>
          <svg class="col-start-1 row-start-1 size-5 self-center justify-self-end text-slate-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div id="SelectionError{{ vt_id }}" class="text-red-500" style="display:none">Wähle eine Fahrzeug aus</div>
    </div>
      <!-- Add dropdown list + JS (see components/forms.html) -->
      <ul
              id="{{vt_id}}assignedToList"
              class="absolute z-10 mt-1 max-h-60 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-none sm:text-sm hidden"
              style="width: 20rem"
              tabindex="-1"
              role="listbox"
              aria-labelledby="listbox-label"
      >
      {% for vt_choice in modification.vehicle_choices %}
        <li
                class="relative cursor-pointer select-none py-2 pl-3 pr-9 text-slate-800 hover:bg-green-400 hover:text-black"
                role="option"
                data-dropdown-item="{{ vt_choice.id }}"
                data-dropdown-name="{{ vt_choice.name }}"
        >
          <span class="block truncate font-normal">{{ vt_choice.name }}</span>
        </li>
      {%  endfor %}
      </ul>
    </div>
  </div>
  <div class="flex gap-8 px-4 py-5 sm:p-6">
{#    <span class="block mb-6 text-sm text-slate-500">Alle Linien sind standardmäßig in "Default" enthalten. Sie können jedoch individuelle Werte für bestimmte Linien oder Liniengruppen anpassen.</span>#}
    <div class="flex-grow">
      <div class="grid grid-cols-1 sm:hidden">
        <select aria-label="Select a tab" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pl-3 pr-8 text-base text-slate-800 outline outline-1 -outline-offset-1 outline-slate-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-green-600">
          <!-- Options -->
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-slate-500" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>

      </div>

{#      <div class="hidden sm:block">#}
{#        <div class="border-b border-slate-200">#}
{#          <nav class="-mb-px flex space-x-8" aria-label="Tabs" id="{{ vt_id }}tabs">#}
{#            <a href="#" class="whitespace-nowrap tab border-b-4 border-slate-800 px-4 py-4 text-sm font-medium tracking-wide text-slate-800" data-tab-button="tab-1" aria-current="page">Default</a>#}
{#            <button id="{{ vt_id }}add-tab" type="button" class="whitespace-nowrap border-b-4 border-transparent px-2 py-4 text-sm font-bold tracking-wide text-green-700 hover:text-green-600 transition-all duration-300">+ Gruppe hinzufügen</button>#}
{#          </nav>#}
{#        </div>#}
{#      </div>#}
      <!-- Tab content -->
      <div id="{{ vt_id }}tab-contents">
        <div class="tab-content" data-tab="tab-1">
          <div class="flex flex-col">
            <div class="flex-grow pb-6">
              <div class="flex items-center gap-2">
                <label for="{{modification.vehicle_modification.battery_capacity.auto_id}}" id="{{ vt_id }}batteryCapacityLabel" class="block text-sm/6 font-medium text-slate-800">Nutzbare Batteriekapazität</label>
                <div class="relative inline-block">
                  <!-- Info Icon -->
                  <span class="cursor-pointer group">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                          </svg>
                    <!-- Tooltip -->
                          <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                          {{  modification.vehicle_modification.battery_capacity.help_text  }}
                          </div>
                        </span>
                </div>
              </div>
              <div class="mt-2">
                <div
                        class="flex items-center rounded-md outline outline-1 outline-transparent focus-within:focus-visible:outline-slate-400 focus-within:focus-visible:outline-2">
                  <input
                          {{ modification.vehicle_modification.battery_capacity|widget_attrs}}
                          class="block bg-white min-w-0 grow mr-2 px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-green-400 sm:text-sm/6"
                          placeholder="500"
                          aria-labelledby="batteryCapacityLabel batteryCapacityUnit">
                  <div id="{{ vt_id }}batteryCapacityUnit" class="shrink-0 select-none text-slate-500">kWh</div>
                </div>
              </div>
            </div>
            {# TODO: @Bryan Better styling, switch instead of checkbox?#}
            {# Kept checkbox as switch was bringing too many complications, but used used customized styling #}
            <div class="flex gap-2 items-center">
              <div class="group grid size-4 grid-cols-1">
                <input
                  id="{{ vt_id }}enableCustomConsumption"
                  name="{{ vt_id }}enableCustomConsumption"
                  data-station-id="{{ vt_id }}"
                  aria-describedby="{{ vt_id }}-description"
                  type="checkbox"
                  {% if modification.vehicle_modification.consumption.initial is not None %}checked{% endif %}
                  class="col-start-1 row-start-1 appearance-none rounded border border-slate-400 checked:border-green-500 checked:bg-green-500 checked:focus:bg-green-500 checked:hover:bg-green-500 focus:ring-green-500 focus-ring:outline focus-ring:outline-2 focus-ring:outline-offset-2 focus-ring:outline-green-500">
                <svg class="pointer-events-none size-3.5 self-center justify-self-center stroke-white" viewBox="0 0 14 14" fill="none">
                  <path class="opacity-0 group-has-[:checked]:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path class="opacity-0" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div class="text-sm text-slate-700">
                <label for="{{ vt_id }}enableCustomConsumption" class="font-medium">
                  Energieverbrauch des gewählten Fahrzeugs überschreiben.
                </label>
              </div>
            </div>
            <div class="text-sm text-slate-500 pt-1 pb-6 pl-6">(Ignoriert die globale Umgebungstemperatur für diesen Fahrzeugtyp)</div>
            <div class="flex-grow">
              <div class="flex items-center gap-2">
                <label for="{{modification.vehicle_modification.consumption.auto_id}}" id="{{ vt_id }}consumptionLabel" class="block text-sm/6 font-medium text-slate-800">Energieverbrauch</label>
                <div class="relative inline-block">
                  <!-- Info Icon -->
                  <span class="cursor-pointer group">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                          </svg>
                    <!-- Tooltip -->
                          <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                          {{ modification.vehicle_modification.consumption.help_text}}
                          </div>
                        </span>
                </div>
              </div>
              <div class="mt-2">
                <div
                        class="flex items-center rounded-md outline outline-1 outline-transparent focus-within:focus-visible:outline-slate-400 focus-within:focus-visible:outline-2 disabled:opacity-50 disabled:cursor-not-allowed">
                          <!--Pseudo Input to show Consumption from selected VehicleType -->
                  <input
               {% if modification.vehicle_modification.consumption.initial is None %}type="text"{% endif %}

                          {{ modification.vehicle_modification.consumption|widget_attrs}}
                    {% if modification.vehicle_modification.consumption.initial is None %}disabled{% endif %}
                          class="block bg-white min-w-0 grow mr-2 px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-green-400 sm:text-sm/6"
                    placeholder={% if modification.selection.instance.default_vehicle_type is not None %}"{{modification.selection.instance.default_vehicle_type.consumption}}"{% else %}"Wählen Sie ein Fahrzeug aus" {% endif %}
                          aria-labelledby="consumptionLabel consumptionUnit">
                  <div id="{{ vt_id }}consumptionUnit" class="shrink-0 select-none text-slate-500">kWh/h</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content hidden" data-tab="tab-2">This is the content for Tab 2.</div>
      </div>
    </div>
    <div id="{{ vt_id }}busTypeHiddenSection" class="flex-grow bg-slate-100">
      <div id="{{ vt_id }}ChartPlaceholder" class="flex flex-col justify-center items-center text-sm text-slate-500 h-full">
        <div>Wählen Sie einen Bus aus.</div>
        <div>Hier wird Ihnen die Ladekurve des Fahrzeugs angezeigt.</div>
      </div>
      <div id="{{ vt_id }}stateOfChargeChart" class="flex justify-center bg-slate-100"></div>
    </div>
  </div>
</div>
  {% endfor %}


{# Insert all attributes which should be passed to the vehicle type inputs from the selectable choices.#}
{% for choice_vt in choice_vts %}
<div id="{{ choice_vt.id }}_battery_capacity" data-value="{{ choice_vt.battery_capacity }}"></div>
<div id="{{ choice_vt.id }}_consumption" data-value="{{ choice_vt.consumption}}"></div>
  {% with choice_vt.id|stringformat:"s"|add:"_charging_curve" as script_id %}
      {{ choice_vt.charging_curve|json_script:script_id }}
  {% endwith %}
{% endfor %}


   <!-- Functionality for simple dropdown -->

    <script>
      const containers = document.querySelectorAll("[id*='VehicleTypeContainer']")
      containers.forEach((container) => {
          const vt_id = container.getAttribute("data-value");
          const button = document.getElementById(vt_id + 'assignedToButton');
          const input_selection = container.querySelector("input[id*='default_vehicle_type']")
          const label = document.getElementById('label_' + input_selection.id);
          const list = document.getElementById(vt_id + "assignedToList");
          const listItems = list.querySelectorAll('[role="option"]');
          const enableCustomConsumption = container.querySelector("input[id*='enableCustomConsumption']")

        {#Input values to be overwritten by choosing dropdown#}
          const battery_capacity = container.querySelector("input[id*='battery_capacity']")
          const consumption = container.querySelector("input[id*='consumption']")
          {# Repeat for other vehicle type attributes#}
          //  Handle Consumption overwritting via enabling it through toggle
          enableCustomConsumption.addEventListener("change", ()=>{
              consumption.disabled = !consumption.disabled;
              if (consumption.disabled){
            consumption.type="text";
            consumption.value="";
          } else {
            consumption.type="number";
            consumption.value= consumption.placeholder;
          }
        });

          {#Assert all components are found. ! negates to bool -> !! cast to bool#}
          console.assert(!!vt_id&!!button&!!input_selection&!!label&!!list&!!listItems&!!enableCustomConsumption)
          let selectedItem = '';



          // Toggle the dropdown on button click
          button.addEventListener('click', () => {
              const isExpanded = button.getAttribute('aria-expanded') === 'true';
              button.setAttribute('aria-expanded', String(!isExpanded));
              list.classList.toggle('hidden');

              // Whenever it opens, ensure the selected item is highlighted
              if (!isExpanded) {
                  highlightSelectedItem{{ vt_id }}();
              }
          });




          // Handle clicks on list items
          listItems.forEach(item => {
              item.addEventListener('click', () => {
                  const value = item.getAttribute('data-dropdown-item');
                  label.textContent = item.getAttribute('data-dropdown-name');
                  label.value = value;
                  selectedItem = value;
                  input_selection.setAttribute("value", value);
                  {# Overwrite inputs#}
                  battery_capacity.value = document.getElementById(value + "_battery_capacity").getAttribute("data-value")
                  // Setting the value would change the styling. Use placeholder instead
                  // This input is not in the backend currently since data from the selected vehicle type is used directly
                  consumption.placeholder = document.getElementById(value + "_consumption").getAttribute("data-value")
                  {# Repeat for other vehicle type attributes#}


                  // Highlight the newly selected item
                  highlightSelectedItem();

                  // Close dropdown
                  list.classList.add('hidden');
                  button.setAttribute('aria-expanded', 'false');
              });
          });


          // Close dropdown if user clicks outside
          document.addEventListener('click', e => {
              if (!button.contains(e.target) && !list.contains(e.target)) {
                  button.setAttribute('aria-expanded', 'false');
                  list.classList.add('hidden');
              }
          });

          // Remove the highlight from all items and apply it to the selected item
          function highlightSelectedItem() {
              listItems.forEach(li => {
                  li.classList.remove('bg-green-100');
                  if (li.getAttribute('data-dropdown-item') === selectedItem) {
                      li.classList.add('bg-green-100');
                  }
              });
          }

      })

    </script>
<script>
    containers.forEach((container) => {
        var chartDom = container.querySelector('[id*="stateOfChargeChart"]');
        const list = container.querySelector('[id*="assignedToList"]');
        const listItems = list.querySelectorAll('[role="option"]');
        const input_selection = container.querySelector("input[id*='default_vehicle_type']");
        const placeHolder = container.querySelector('[id*="ChartPlaceholder"]');
        var myChart = echarts.init(chartDom);
        console.assert(!!chartDom&!!input_selection&!!listItems);

        function plot_selected_charging_curve(selected_vehicle_type) {
            if (selected_vehicle_type === "") {
                return;
            }
            chartDom.style.height = "180px";
            let charging_curve = JSON.parse(document.getElementById(selected_vehicle_type+"_charging_curve").textContent)
            if (placeHolder) placeHolder.remove();

            var option = {
                grid: {
                    left: 48,
                    right: 32,
                    top: 24,
                    bottom: 32,
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    name: 'Ladezustand (-)',
                    nameLocation: 'middle',
                    nameGap: 25,
                    min: 0,
                    max: 1,
                    interval: 0.2
                },
                yAxis: {
                    type: 'value',
                    name: 'Leistung (kW)',
                    nameLocation: 'middle',
                    nameGap: 40,
                    min: 0,
                    max: 500,
                    interval: 100
                },
                series: [{
                    data: charging_curve,
                    type: 'line',
                    showSymbol: false,
                    lineStyle: {
                        color: '#2E282A',
                        width: 2
                    }
                }],
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        return 'Ladezustand: ' + params[0].data[0].toFixed(1) +
                            '<br>Leistung: ' + params[0].data[1] + ' kW';
                    }
                }
            };

            myChart.setOption(option);

        }

        plot_selected_charging_curve(input_selection.value);
        listItems.forEach((item)=>{
            item.addEventListener("click",function () {
                let selected_vehicle_type=item.getAttribute('data-dropdown-item');
                plot_selected_charging_curve(selected_vehicle_type);
                myChart.resize();
            })
        });

        function resizeChart() {
            if (chartDom.offsetWidth > 0) {
                myChart.resize();
            }
        }
        resizeChart();

        // Improved resize handler
        window.addEventListener('resize', function () {
            resizeChart();

        })

    });
</script>



<script>

function validate(){
    console.log("validating")
    const defaultVehicleTypeSelectionDivs = document.querySelectorAll('input[id*="default_vehicle_type"]')
    let isValid = true;
    defaultVehicleTypeSelectionDivs.forEach((input)=>{
        const vt_id = input.getAttribute("data-value");
        errorDiv = document.getElementById("SelectionError"+vt_id);
        if (input.value === ""){
            console.assert(vt_id);
            errorDiv.style.display ="block";
            isValid = false;
        } else {
            errorDiv.style.display ="none";
        }
    if (!isValid) {
        event.preventDefault();
    }
    })



}

</script>
