{% extends 'ebustoolbox/wizard.html' %}
{% load i18n %}


{% load custom_filters %}
  {% block title %}{% translate 'WeBus - Fahrzeuge' %}{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=3 %}{{ block.super }}{% endwith %}
{% endblock wizard_navigation %}
{% block wizard_content %}

<main class="flex flex-col items-center flex-grow">

  <div class="sm:pt-8 sm:pb-4 lg:pt-12 sm:px-6 lg:px-8 w-full max-w-7xl">
          <form
        type="submit"
        method ="POST">
        {% csrf_token %}
        <h1 class="pb-12 text-2xl text-slate-600 font-light tracking-wide uppercase">{% translate 'Fahrzeuge' %}</h1>
        <section class="pb-12">
          <h2 class="flex items-center gap-2 pb-2 text-xl font-semibold tracking-wide"
              id="temperature-heading">
            {% translate 'Temperaturen' %}
            <div class="relative inline-block">
              <!-- Info Icon -->
              <span class="cursor-pointer group">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="2"
                     stroke="currentColor"
                     class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <!-- Tooltip -->
                <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                  {% translate 'Die gewählte Temperatur verändert den simulierten Verbrauch der Fahrzeuge. Dies ist nicht der Fall, wenn Sie den Verbrauchswert überschreiben.' %}
                </div>
              </span>
            </div>
          </h2>
          <div class="grid grid-cols-1 w-4/5 sm:grid-cols-2 gap-x-14 gap-y-4 sm:max-w-[60%] sm:pr-10 ">
          <div class="max-w-[80%]">
              <h3 class="flex items-center gap-2 text-sm font-semibold text-slate-800 tracking-wide"
                  id="temperature-heading">
                {% translate 'Durchschnittstemperatur' %}
                <div class="relative inline-block">
                  <!-- Info Icon -->
                  <span class="cursor-pointer group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         class="size-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                    </svg>
                    <!-- Tooltip -->
                    <div class="absolute left-0 top-full z-10 mt-2 w-96 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Die gewählte Temperatur verändert den simulierten Durchschnitts-Verbrauch der Fahrzeuge. Dieser ist entscheidend für den kumulierten Energieverbrauch und die damit einhergenden Kosten und Emissionen der Energiebereitstellung. Die Temperatur hat keinen Einfluss wenn Sie den Fahrzeugtypen unten einen konstanten Verbrauch zuordnen.' %}
                    </div>
                  </span>
                </div>
              </h3>
              <div class="w-full">
                <div class="mt-2" x-data="{value:'', data: '', loading: true}"
  >

                  <div class="flex items-center rounded-md outline outline-1 outline-transparent focus-within:focus-visible:outline-emerald-400 focus-within:focus-visible:outline-2">
                    <input
                    x-model.fill="value"
                    @input="const n = parseInt($event.target.value);
                          $event.target.value = Number.isNaN(n) ? '' : n;
                    "
                    {% with temperatures_form.temperature_average as form %}
                          {{ form|widget_attrs}}
                           {% endwith %}
                           class="flex-1 bg-white mr-2 px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-emerald-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                           placeholder="Gib eine Temperatur ein."
                           aria-describedby="temperature-heading temperature-unit"
                          @change="loading = true;"
                          @change.debounce.200ms='data = await fetchQuantile($el.value); loading=false; refreshPageHints();'
                          x-init='data = await fetchQuantile($el.value); loading=false;'
                  >
                    <div id="temperature-unit" class="shrink-0 select-none text-sm text-slate-500">°C</div>
                  </div>

                <div class="flex" >
                  <div id="AvgTemperatureHint"  class="flex mt-1 text-sm text-slate-500 italic transition-opacity duration-200 ease-in-out">
                    {% comment %}
                      show spinner cause data is being fetched and no error
                    {% endcomment %}
                    <template x-if=" loading  && data !=null">
                      <div class="flex loader text">
                      </div>
                    </template>
                    <template x-if="!loading && data !=null && data.quantile != undefined">
                      <div class="w-full inline">
                      Die ausgewählte Temperatur liegt im <span x-text='parseFloat(data.quantile).toFixed(2)'></span> Quantil. Der Mittelwert der Messtation liegt bei <span x-text='parseFloat(data.air_temperature_avg).toFixed(2)'></span>&deg;C
                      </div>
                    </template>
                    <div class="px-2 relative inline-block">
                      <!-- Info Icon -->
                      <span class="cursor-pointer group">
                        <svg xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          class="size-4">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                        </svg>
                        <!-- Tooltip for Temperature Quantile-->
                      <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                        {% with weatherstation.name as w_name %}
                        {% blocktranslate %}Bezogen auf die pro Stunde gemittelten Temperaturen von {{startYear}} bis {{endYear}} an der Messstation {{w_name}}. {% endblocktranslate %}
                        {% endwith %}
                        {% if distance %}
                      {% with km_distance=distance.km|floatformat:1 %}
                        {% blocktranslate %}Diese liegt {{km_distance}}&nbsp;km entfernt vom Mittelpunkt des Szenarios {% endblocktranslate %}
                      {% endwith %}
                        {% endif %}
                      </div>
                    </span>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <div class="max-w-[80%]">
              <h3 class="flex items-center gap-2 text-sm font-semibold text-slate-800 tracking-wide"
                  id="temperature-heading">
                {% translate 'Extremtemperatur' %}
                <div class="relative inline-block">
                  <!-- Info Icon -->
                  <span class="cursor-pointer group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         class="size-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                    </svg>
                    <!-- Tooltip -->
                    <div class="absolute left-0 top-full z-10 mt-2 w-96 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
                      {% translate 'Die gewählte Temperatur verändert den simulierten Extrem-Verbrauch der Fahrzeuge. Dieser ist entscheidend für die Auslegung der Infrastruktur und automatischen Identifikation von zu elektrifizierender Zwischenhaltestellen. Die Temperatur hat keinen Einfluss wenn Sie den Fahrzeugtypen unten einen konstanten Verbrauch zuordnen.' %}
                    </div>
                  </span>
                </div>
              </h3>
              <div class="w-full">
              <div  class="mt-2" x-data="{value:'', data: '', loading: true}">
                  <div class="flex items-center rounded-md outline outline-1 outline-transparent focus-within:focus-visible:outline-emerald-400 focus-within:focus-visible:outline-2">
                  <input
                    x-model.fill="value"
                    @input="const n = parseInt($event.target.value);
                          $event.target.value = Number.isNaN(n) ? '' : n;
                    "
                {% with temperatures_form.temperature_extreme as form %}
                          {{ form|widget_attrs}}
                           {% endwith %}
                           class="flex-1 bg-white min-w-0 grow mr-2 px-2 py-1.5 border-slate-400 rounded-md text-slate-800 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-0 focus:border-emerald-400 sm:text-sm/6"
                           placeholder="Gib eine Temperatur ein."
                           aria-describedby="temperature-heading temperature-unit"
                    @change="loading = true;"
                    @change.debounce.200ms='data = await fetchQuantile($el.value); loading=false; refreshPageHints()'
                    x-init='data = await fetchQuantile($el.value); loading=false;'
                  >
                    <div id="temperature-unit" class="shrink-0 select-none text-slate-500">°C</div>
                  </div>

                <div class="flex " >
                  <div id="ExtremeTemperatureHint"  class="flex mt-1 text-sm text-slate-500 italic transition-opacity duration-200 ease-in-out">
                    {% comment %}
                      show spinner cause data is being fetched and no error
                    {% endcomment %}
                    <template x-if=" loading  && data !=null">
                      <div class="flex loader text">
                      </div>
                    </template>
                    <template x-if="!loading && data !=null && data.quantile != undefined">
                      <div class="w-full inline">
                      Die ausgewählte Temperatur liegt im <span x-text='parseFloat(data.quantile).toFixed(2)'></span> Quantil. Der Mittelwert der Messtation liegt bei <span x-text='parseFloat(data.air_temperature_avg).toFixed(2)'></span>&deg;C
                      </div>
                    </template>
                    <div class="px-2 relative inline-block">
                      <!-- Info Icon -->
                      <span class="cursor-pointer group">
                        <svg xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          class="size-4">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                        </svg>
                        <!-- Tooltip -->
                        <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">

                        {% with weatherstation.name as w_name %}
                        {% blocktranslate %}Bezogen auf die pro Stunde gemittelten Temperaturen von {{startYear}} bis {{endYear}} an der Messstation {{w_name}}. {{distance_text}} {% endblocktranslate %}
                        {% endwith %}
                        {% if distance %}
                      {% with km_distance=distance.km|floatformat:1 %}
                        {% blocktranslate %}Diese liegt {{km_distance}}&nbsp;km entfernt vom Mittelpunkt des Szenarios {% endblocktranslate %}
                      {% endwith %}
                        {% endif %}
                        </div>
                      </span>
                    </div>
                  </div>
                </div>

              </div>
        </div>
        </div>
        </div>
      </section>
      <section class="pb-12">
          <h2 class="flex items-center gap-2 pb-2 text-xl font-semibold tracking-wide">
            {% translate 'Fahrzeugtypen' %}
            <div class="relative inline-block">
              <!-- Info Icon -->
              <span class="cursor-pointer group">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="2"
                     stroke="currentColor"
                     class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <!-- Tooltip -->
            <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
              {% translate 'Folgende Fahrzeugtypen wurden in Ihrem Umlaufplan identifiziert. Für die Simulation sind technische Parameter notwendig die Sie hier zuordnen müssen. Sie können Fahrzeugtypen aus einer Bibliothek übernehmen und verschiedene Werte manuell überschreiben.' %}
                </div>
              </span>
            </div>
          </h2>
          <span class="block mb-6 text-sm text-slate-500">{% translate 'Ordnen Sie jedem Fahrzeug aus dem Fahrplan ein verfügbares Standard-Fahrzeug zu.' %}</span>
          {% include "ebustoolbox/vehicle_modification.html" with modification=modification vt_id=vt_id choice_vts=choice_vts %}
          {#      validate() is defined in vehicle_modification since this content is what is validated#}
          <button id="SubmitButton" hidden onclick="validate()"></button>
        </section>
      </form>
    </div>
</main>
{% endblock wizard_content %}
{% block wizard_buttons %}
  {% with "SubmitButton" as buttonId %}{{ block.super }}{% endwith %}
{% endblock wizard_buttons %}
{% block script %}
{% include "ebustoolbox/partials/dropdown_partial_js.html" %}
<!-- Tabs Functionality of Bus Type Cards -->

<script>

const containers = document.querySelectorAll("[id*='VehicleTypeContainer']")
function refreshPageHints(){
  containers.forEach((container)=> {
    // Set placeholder for all inputs, eg. dynamisch bei 4ºC
    const input_selection = container.querySelector("select[id*='default_vehicle_type']");
    const inputs = container.querySelectorAll("select:not([id*='default_vehicle_type'])");
    let selected_dvt = input_selection.value;
    let diesel_checkbox = container.querySelector("input[id*='has_diesel_heating']") ;
    let outer_div =  diesel_checkbox.closest('div .diesel-checkbox');
    enabled_label =  outer_div.querySelector('label[data-value="enabledDieselCheckbox"]');
    disabled_label =  outer_div.querySelector('label[data-value="disabledDieselCheckbox"]');
    if (selected_dvt) {

        inputs.forEach((input)=>{
        input.disabled=false;
        input.setAttribute("aria-disabled", false);

        input.classList.add(...enabledClasses);
        input.classList.remove(...disabledClasses);

        });

      let db_id_diesel =  getDieselVehicleType(selected_dvt);
      // check if the vt has a diesel version
      if (db_id_diesel==null){

        // if not disable the checkbox and set it to false
        diesel_checkbox.checked = false;
        diesel_checkbox.disabled = true;
        diesel_checkbox.classList.remove(...enabledClasses);
        diesel_checkbox.classList.add(...disabledClasses);
        enabled_label.classList.add('hidden');
        disabled_label.classList.remove("hidden");
      }else{
        diesel_checkbox.disabled = false;
        diesel_checkbox.classList.remove(...disabledClasses);
        diesel_checkbox.classList.add(...enabledClasses);
        enabled_label.classList.remove('hidden');
        disabled_label.classList.add("hidden");
      }
    } else {
        enabled_label.classList.remove('hidden');
        disabled_label.classList.add("hidden");
        inputs.forEach((input)=>{
        input.disabled=true;

        input.classList.remove(...enabledClasses);
        input.classList.add(...disabledClasses);
        });
    }

    input_avg_id = "id_temperature_average";
    input_xtr_id = "id_temperature_extreme";
    set_consumption_placeholder(input_avg_id, container.querySelector("[id$='-consumption']"));
    set_consumption_placeholder(input_xtr_id, container.querySelector("[id$='-max_consumption']"));
    // Trigger consumption calculation and show it
    tmp = document.getElementById(input_avg_id);
    if (tmp.value != ""){
      showConsumptionEstimate(tmp.value, "div .avg-consumption-hint");
    }
    tmp = document.getElementById(input_xtr_id);
    if (tmp.value != ""){
      showConsumptionEstimate(tmp.value, "div .extreme-consumption-hint");
    }

  });

}
function debounce(func, timeout = 300) {
    let timer;
    // return a debounced function, which can be called with any args
    return (...args) => {
      // clear the previous timer
      clearTimeout(timer);
      // after the duration of timeout call the function
      timer = setTimeout(() => {
        func.apply(this, args);
      }, timeout);
    };
  }

document.addEventListener('DOMContentLoaded', e => {
  refreshPageHints();
})

const disabledClasses = ['cursor-not-allowed', 'bg-slate-200',];
const enabledClasses = [];


function getDieselVehicleType(db_id){
  vehicle_type_data_div = document.getElementById(`vehicle_type_data_${db_id}`);
  vt_name= vehicle_type_data_div.getAttribute("data-name");
  vts_with_diesel= document.querySelectorAll('div[data-has-diesel-heating="True"]');
  for (const vt of vts_with_diesel){
    if ( vt.getAttribute('data-name').search(vt_name)>=0 ){
      db_id = vt.getAttribute('data-id');
      return db_id;
    }
  }
  return null;
}

function getSelectedVehicleTypeId(container){
    const vt_selection = container.querySelector("select[id*='default_vehicle_type']");
    var db_id = vt_selection.value;
    if (db_id === null || db_id == "" ) return null;
    diesel_checkbox = container.querySelector("input[id*='has_diesel_heating']") ;
    if ( diesel_checkbox.checked ) {
      var db_id_diesel = getDieselVehicleType(db_id);
      if (db_id_diesel== null){
        console.log("Diesel Vehicle Type not found. Returning type without Diesel Heating");
      }else{
        db_id = db_id_diesel;
       }
    }
  return db_id
}

function showConsumptionEstimate(temperature, consumptionHintQuery){
    containers.forEach((container) => {
    hint = container.querySelector(consumptionHintQuery);
    var textElement = hint.querySelector("div .text");
    db_id=getSelectedVehicleTypeId(container);
    if (db_id==null) return;
    hint.classList.remove("opacity-0");
    let cons = getConsumptionForTemperature(parseFloat(temperature), db_id);
    textElement.innerText = document.getElementById("translate_geschätzer_verbrauch").innerText + cons.toFixed(2) ;
})
}

function getConsumptionForTemperature(temperature, db_id){
  let div_data = document.getElementById(db_id + "_consumption_over_temp");
  let consumption_over_temp = JSON.parse(div_data.textContent);
  let len = consumption_over_temp.length;
  // Edge case: temperature is smaller than data from db. return consumption for coldest temperature
  if ( temperature<=consumption_over_temp[0][0] ) return consumption_over_temp[0][1];
  // Edge case: temperature is bigger than data from db. return consumption for hotest temperature
  if ( temperature>=consumption_over_temp[len-1][0] ) return consumption_over_temp[len-1][1];
  for (let i=0; i<len; i++) {
      temp= consumption_over_temp[i][0];
      next_temp= consumption_over_temp[i+1][0];
      cons= consumption_over_temp[i][1];
      next_cons= consumption_over_temp[i+1][1];
    if ( next_temp>=temperature ){
      return linearInterpolate(temperature,temp,next_temp, cons, next_cons );
    }
}
  console.log(vt_selection.id);

}

function linearInterpolate(x,x1,x2,y1,y2){
  return y1+ (x-x1)*(y2-y1)/(x2-x1);
}

async function showTemperatureHint(temperature, divId, fetchAndSetFunction){
  if (temperature =="") return;
  var divElement = document.getElementById(divId);
  var textElement = divElement.querySelector("div .text");
  divElement.classList.remove( "hidden" );
  textElement.classList.add("loader");
  textElement.innerText = " ";
  fetchAndSetFunction(divElement, textElement, temperature);
}

async function fetchAndSetTemperature(divElement, textElement, temperature){
  var data =  await fetchQuantile(temperature);
  console.log(data)
  if ( data == null || typeof(data.error) != 'undefined'){
    divElement.classList.add("hidden");
    return
  }

  textElement.classList.remove("loader");
  var quantile = data.quantile;
  if ( quantile > 0.5 ) {
    textElement.innerText= document.getElementById("translate_heißer_als").innerText+ (quantile*100).toFixed(2) + "%";}
  else {

    textElement.innerText=document.getElementById("translate_kälter_als").innerText+ + ((1-quantile)*100).toFixed(2) + "%";}
}

// Each temperature input needs its own debounced function or they will stop each other from finishing
const debounced_fetchAndSetTemperature1 = debounce(fetchAndSetTemperature, 200);
const debounced_fetchAndSetTemperature2 = debounce(fetchAndSetTemperature, 200);

{% if weatherstation %}
async function fetchQuantile(temperature){
  try {
    // dwd_station_id {{ weatherstation.dwd_id}}
    var url = (" {% url 'temperatures:quantile_station' weatherstation.dwd_id startDate endDate 'TEMPERATURE' %}" );
    url = url.replace('TEMPERATURE',temperature );
    var response = await fetch(url );
    var data = await response.json();
    return data;
  } catch (e) {
    console.error('Fetch error:', e);
    return null;
  }
}
{% else %}
async function fetchQuantile(temperature){
    return null;
}
{% endif %}

function set_consumption_placeholder(temp_div_id, consumption_div){
  temp_div = document.getElementById(temp_div_id);
  suffix = "";
  if (temp_div.value != ""){
    suffix = ` ${document.getElementById('translate_bei').innerText} ` + temp_div.value + "ºC";
  }
  consumption_div.placeholder =  document.getElementById('translate_dynamisch').innerText+ suffix;
}

containers.forEach((container) => {
  const vt_id = container.getAttribute("data-value");
  const enableCustomConsumption = container.querySelector("input[id*='enableCustomConsumption']")
  // {#Input values to be overwritten by choosing dropdown#}
  const battery_capacity = container.querySelector("input[id*='battery_capacity']")
  const diesel_heating_checkbox = container.querySelector("input[id$='-has_diesel_heating']");
    // Hook for selection changes
  const select=  container.querySelector('select');
      select.addEventListener('input', e => {
        const vt_id = select.value;
        battery_capacity.value = document.getElementById("battery_capacity_"+vt_id).getAttribute("data-value");
        refreshPageHints();
      });
  diesel_heating_checkbox.addEventListener("change", ()=>{
    refreshPageHints();
  });


  const consumption = container.querySelector("input[id$='-consumption']");
  const max_consumption = container.querySelector("input[id$='-max_consumption']");
  // {# Repeat for other vehicle type attributes#}
  //  Handle Consumption overwritting via enabling it through toggle
  function switchConsumptionInput(consumption){
    enableCustomConsumption.addEventListener("change", ()=>{
      consumption.disabled = !consumption.disabled;
      if (consumption.disabled){
        consumption.type="text";
        consumption.value="";
        consumption.required=false;
      } else {
        consumption.type="number";
        // consumption.value= consumption.placeholder;
        consumption.required=true;

      }
    })
  }
  switchConsumptionInput(consumption);
  switchConsumptionInput(max_consumption);

  let selectedItem = '';

});

  containers.forEach((container) => {
    var chartDom = container.querySelector('[id*="stateOfChargeChart"]');
    const list = container.querySelector('[id*="assignedToList"]');
    const listItems = list.querySelectorAll('[role="option"]');
    const input_selection = container.querySelector("select[id*='default_vehicle_type']");
    const placeHolder = container.querySelector('[id*="ChartPlaceholder"]');
    var myChart = echarts.init(chartDom);

    function plot_selected_consumption_over_temp(selected_vehicle_type) {
      if (selected_vehicle_type === "") {
        return;
      }
      chartDom.style.height = "180px";
      let conumption_curve = JSON.parse(document.getElementById(selected_vehicle_type+"_consumption_over_temp").textContent)
      if (placeHolder) placeHolder.remove();

      var option = {
        grid: {
          left: 48,
          right: 32,
          top: 24,
          bottom: 32,
          containLabel: true
        },
        xAxis: {
          type: 'value',
          name: 'Temperatur (˚C)',
          nameLocation: 'middle',
          nameGap: 25,
          // min: 0,
          // max: 1,
          // interval: 0.2
        },
        yAxis: {
          type: 'value',
          name: 'Verbrauch (kWh/km)',
          nameLocation: 'middle',
          nameGap: 40,
          // min: 0,
          // max: 500,
          // interval: 100
        },
        series: [{
          data: conumption_curve,
          type: 'line',
          showSymbol: false,
          lineStyle: {
            color: '#2E282A',
            width: 2
          }
        }],
        tooltip: {
          trigger: 'axis',
          formatter: function (params) {
            return 'Temperatur: ' + params[0].data[0].toFixed(1) + ' ˚C' +
              '<br>Verbrauch: ' + params[0].data[1].toFixed(3) + ' kWh/km'+
            '<br><div class="text-xs">Werte für ermittelte Durchschnittsgeschwindigkeit</div>';
          }
        }
      };

      myChart.setOption(option);

    }

    plot_selected_consumption_over_temp(input_selection.value);

    // Refresh plot when selecting dropdown
    listItems.forEach((item)=>{
      item.addEventListener("click",function () {
        let db_id=getSelectedVehicleTypeId(container);
        plot_selected_consumption_over_temp(db_id);
        myChart.resize();
      })
    });

    // Refresh plot when toggling dieselzusatz
    container.querySelector("input[id*='has_diesel_heating']").addEventListener("click",function () {
        let db_id=getSelectedVehicleTypeId(container);
        plot_selected_consumption_over_temp(db_id);
        myChart.resize();
      });

    function resizeChart() {
      if (chartDom.offsetWidth > 0) {
        myChart.resize();
      }
    }
    resizeChart();

    // Improved resize handler
    window.addEventListener('resize', function () {
      resizeChart();

    })


  });
setTimeout(() => window.dispatchEvent(new Event('resize')), 500);
function validate(){
  console.log("validating");
  validateAccordions();
  const defaultVehicleTypeSelectionDivs = document.querySelectorAll('select[id*="default_vehicle_type"]');
  let isValid = true;
  defaultVehicleTypeSelectionDivs.forEach((input)=>{
    const container = input.closest("[id*='VehicleTypeContainer']");
    const vt_id = container.getAttribute('data-value');
    const errorDiv = document.getElementById("SelectionError"+vt_id);
    if (input.value === ""){
      console.assert(vt_id);
      errorDiv.classList.remove ("hidden");
      isValid = false;
    } else {
      errorDiv.classList.add ("hidden");
    }
    if (!isValid) {
      event.preventDefault();
    }
  });
}

function validateVehicleContainers(){
    for (const container of containers){
    const vt_id = container.dataset.value;
    const errorDiv = document.getElementById("SelectionError"+vt_id);
    const header = container.querySelector('button.accordion-header');
    const dropdown_select = container.querySelector('select[id*="default_vehicle_type"]');
    if (dropdown_select.value ==="") continue;
    const inputs = container.querySelectorAll('input');
    var isValid=true;
    for (let i=0; i<inputs.length; i++){
      if (!inputs[i].checkValidity()) {
          isValid=false;
      }
    }
    const selects = container.querySelectorAll('select');
    for (let i=0; i<selects.length; i++){
      if (!selects[i].checkValidity()) {
          isValid=false;
      }
    }
    if (isValid){
      header.classList.remove("transition-colors", "duration-100", "bg-transparent");
      header.classList.add("transition-colors", "duration-100", "bg-emerald-200");
      errorDiv.classList.add("hidden");
    } else {
      header.classList.remove("transition-colors", "duration-100", "bg-emerald-200");
      header.classList.add("transition-colors", "duration-100", "bg-transparent");
    }
  };
}

function debounce(func, timeout = 300) {
  let timer;
  // return a debounced function, which can be called with any args
  return (...args) => {
    // clear the previous timer
    clearTimeout(timer);
    // after the duration of timeout call the function
    timer = setTimeout(() => {
      func.apply(this, args);
    }, timeout);
  };
}

document.querySelectorAll('select, input').forEach(el => {
  el.addEventListener('input', e => {
      //NOTE: debounce the function. this allows other callbacks to finish and toggle 'required'
      debounce(validateVehicleContainers,20)();
  });
});

// inital check if everything is valid
debounce(validateVehicleContainers,100)();

</script>
<script>
  function toggleAccordion(button) {
    if (toggleAccordion.open == button ) {
      return
    }
    const container = button.closest('div.accordion-container');
    index = container.dataset.value;
    const accordions = document.querySelectorAll(`button.accordion-header`);
    const content = document.getElementById(`content-${index}`);
    const icon = document.getElementById(`icon-${index}`);


    if (toggleAccordion.open != undefined) {
      let old_button = toggleAccordion.open;
      toggleAccordion.open = undefined;
      old_button.click();
    }

    // SVG for Down icon
    const downSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    `;

    // SVG for Up icon
    const upSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
      </svg>
    `;

    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      icon.innerHTML = upSVG;
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = downSVG;
      toggleAccordion.open = button;
    }
    }
  var button = document.querySelector(".accordion-header");
  toggleAccordion(button);

  function validateAccordions(){
    const containers = document.querySelectorAll('div.accordion-container');
    error = false;
    containers.forEach((container) => {
      if (error) return;
      inputs = container.querySelectorAll('input');
      inputs.forEach((input) => {
      if (!input.checkValidity()){
        error = true;
        button = container.querySelector('button');
         if (toggleAccordion.open !== button) toggleAccordion(button)

      }
      });

    });

  }


</script>
  <!-- Tabs Functionality of Bus Type Cards -->
{% endblock script %}
