{% load i18n %}
{% load widget_tweaks %}
{% load custom_filters %}
{% for vt_id, modification in vehicle_modification.items %}
  <div id="VehicleTypeContainer{{ vt_id }}"
       class="overflow-hidden rounded-lg bg-white shadow accordion-container"
       data-value="{{ vt_id }}">
    <!-- Accordion Item {{vt_id}} -->
    <div class="border-b border-slate-200">
      <button type="button"
              onclick="toggleAccordion(this)"
              class="w-full flex justify-between items-center px-4 py-4 text-slate-800 accordion-header">
          <span class="w-max text-base font-bold text-slate-800 px-2">Dein Fahrzeugtyp: {{ modification.vehicle_type.name }}</span>
        <div id="SelectionError{{ vt_id }}" class="text-red-500 hidden"> {% translate "Wähle eine Fahrzeug aus" %}
          </div>
        <span id="icon-{{ vt_id }}"
              class="text-slate-800 transition-transform duration-300">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 16 16"
               fill="currentColor"
               class="w-4 h-4">
            <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
          </svg>
        </span>
      </button>
      <div id="content-{{ vt_id }}"
           class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
        <div class="accordion_content">
          <div class="flex items-center justify-between py-4 px-4 gap-4 bg-gradient-to-r from-slate-100 to-slate-200">

        <!-- dropdown. requires dropdown_partial_js.html-->
        {% include "ebustoolbox/partials/dropdown_partial.html" with label="Wähle ein Fahrzeug aus" field=modification.selection.default_vehicle_type|attr:"required:true"|add_class:"hidden" choices=modification.vehicle_choices placeholder="Noch keine Auswahl" %}
          </div>
          <!-- inner vehicle form -->
          {% include 'ebustoolbox/partials/inner_vehicle_type_form.html' %}
          <!-- end inner vehicle form -->
        </div>
      <!-- end accordion_content -->
      </div>
    </div>
    <!-- accordion -->
  </div>
{% endfor %}
{% load l10n %}
{# Insert all attributes which should be passed to the vehicle type inputs from the selectable choices.#}
{% localize off %}
{% for choice_vt in all_default_vehicle_types %}
  <div id="vehicle_type_data_{{ choice_vt.id }}"
       data-name="{{ choice_vt.name }}"
       data-has-diesel-heating="{{ choice_vt.has_diesel_heating }}"
       data-id="{{ choice_vt.id }}">
    <div id="battery_capacity_{{ choice_vt.id }}"
         data-value="{{ choice_vt.battery_capacity }}"></div>
    <div id="consumption_{{ choice_vt.id }}"
         data-value="{{ choice_vt.consumption }}"></div>
    <div id="max_consumption_{{ choice_vt.id }}"
         data-value="{{ choice_vt.max_consumption }}"></div>
    {% with choice_vt.id|stringformat:"s"|add:"_charging_curve" as script_id %}
      {{ choice_vt.charging_curve|json_script:script_id }}
    {% endwith %}
    {% with choice_vt.id|stringformat:"s"|add:"_consumption_over_temp" as script_id %}
      {{ choice_vt.consumption_over_temp|json_script:script_id }}
    {% endwith %}
  </div>
{% endfor %}
{% endlocalize %}
<!-- Functionality for simple dropdown -->
<!-- Divs with text for translation. these are used in js-->
<div id="translate_dynamisch" class="hidden">{% translate 'dynamisch' %}</div>
<div id="translate_bei" class="hidden">{% translate 'bei' context "bei einer temperatur" %}</div>
<div id="translate_geschätzer_verbrauch" class="hidden">{% translate 'Geschätzter Verbrauch: ' %}</div>
<div id="translate_heißer_als" class="hidden">{% translate 'Heißer als ' %}</div>
<!-- add bg color class so it can be activated via js -->
<div id="translate_kälter_als" class="hidden bg-emerald-200">{% translate 'Kälter als ' %}</div>
