{% extends 'ebustoolbox/wizard.html' %}

{% load custom_filters %}
{% block title %}WeBus - Fahrzeuge{% endblock title %}

{% block wizard_navigation %}
  {% with wiz_idx=2 %}
    {{ block.super }}
  {% endwith %}
{% endblock wizard_navigation %}

{% block wizard_content %}
<main class="flex flex-col items-center flex-grow">
  <div class="sm:py-8 lg:py-12 sm:px-6 lg:px-8 w-full max-w-7xl">
          <form
        type="submit"
        method ="POST">
        {% csrf_token %}
    <h1 class="pb-12 text-2xl text-slate-600 font-light tracking-wide uppercase">Fahrzeuge</h1>

    <section class="pb-12">
      <h2 class="flex items-center gap-2 pb-2 text-xl font-semibold tracking-wide">
        Zeitspanne
        <div class="relative inline-block">
          <!-- Info Icon -->
          <span class="cursor-pointer group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
            <!-- Tooltip -->
            <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
              Bottom Left-Aligned Tooltip
            </div>
          </span>
        </div>
      </h2>
      <span class="block mb-6 text-sm text-slate-500">Nur Umläufe die innerhalb dieser Zeitspanne starten, werden simuliert.</span>
    <!-- ToDo Bryan: Styling and positioning of errors -->
      <div id="sim_range_errors"><ul>{% for error in simulation_parameters_form.errors.values %}<li>{{ error }}</li>{% endfor %}</ul></div>
        <fieldset class="flex items-center gap-4">
          <span class="text-slate-600">Von</span>

          <!-- Start Date -->
          <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-slate-300 focus-within:outline focus-within:outline-2 focus-within:outline-green-500">
            <label for="start-date" class="sr-only">Startdatum</label>
            <input
              type="date"
              id="start-date"
              name="start-date"
              class="block w-full py-1.5 text-slate-800 placeholder:text-slate-400 focus:outline-none sm:text-sm/6"
              aria-label="Startdatum"
              min = "{{ min_date }}"
              max = "{{ max_date }}"
              value = "{{ start_date }}"
              required>
          </div>

          <!-- Start Time -->
          <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-slate-300 focus-within:outline focus-within:outline-2 focus-within:outline-green-500">
            <label for="start-time" class="sr-only">Startzeit</label>
            <input
              type="time"
              id="start-time"
              name="start-time"
              class="block w-full py-1.5 text-slate-800 placeholder:text-slate-400 focus:outline-none sm:text-sm/6"
              aria-label="Startzeit"
              value = "{{ initial_start_time }}"
              required>
          </div>

          <span class="text-slate-600">bis</span>

          <!-- End Date -->
          <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-slate-300 focus-within:outline focus-within:outline-2 focus-within:outline-green-500">
            <label for="end-date" class="sr-only">Enddatum</label>
            <input
              type="date"
              id="end-date"
              name="end-date"
              class="block w-full py-1.5 text-slate-800 placeholder:text-slate-400 focus:outline-none sm:text-sm/6"
              aria-label="Enddatum"
              min = "{{ min_date }}"
              max = "{{ max_date }}"
              value = "{{ end_date }}"
              required>
          </div>

          <!-- End Time -->
          <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-slate-300 focus-within:outline focus-within:outline-2 focus-within:outline-green-500">
            <label for="end-time" class="sr-only">Endzeit</label>
            <input
              type="time"
              id="end-time"
              name="end-time"
              class="block w-full py-1.5 text-slate-800 placeholder:text-slate-400 focus:outline-none sm:text-sm/6"
              aria-label="Endzeit"
              value = "{{ initial_end_time }}"
              required>
          </div>
        </fieldset>
    </section>

    <section class="pb-12">
      <h2 class="flex items-center gap-2 pb-2 text-xl font-semibold tracking-wide" id="temperature-heading">
        Temperatur
        <div class="relative inline-block">
          <!-- Info Icon -->
          <span class="cursor-pointer group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
            <!-- Tooltip -->
            <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
              Bottom Left-Aligned Tooltip
            </div>
          </span>
        </div>
      </h2>
      <div class="w-4/12">
        <div class="mt-2">
          <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-slate-400 ">
              <input type="number" {{ simulation_parameters_form.temperature|widget_attrs }} class="block min-w-0 grow py-1.5 pl-1 pr-3 text-slate-800 placeholder:text-slate-400 focus:outline focus:outline-0 sm:text-sm/6" placeholder="Gib eine Temperatur ein." aria-describedby="temperature-heading temperature-unit">
            <div id="temperature-unit" class="shrink-0 select-none text-slate-500">°C</div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb-12">
      <h2 class="flex items-center gap-2 pb-2 text-xl font-semibold tracking-wide">
        Fahrzeugtypen
        <div class="relative inline-block">
          <!-- Info Icon -->
          <span class="cursor-pointer group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
            <!-- Tooltip -->
            <div class="absolute left-0 top-full z-10 mt-2 w-48 rounded-md bg-slate-800 p-2 text-sm text-white shadow-lg opacity-0 transition-opacity duration-200 group-hover:opacity-100 pointer-events-none">
              Bottom Left-Aligned Tooltip
            </div>
          </span>
        </div>
      </h2>
      <span class="block mb-6 text-sm text-slate-500">Ordnen Sie jedem Fahrzeug aus dem Fahrplan ein verfügbares Standard-Fahrzeug zu.</span>


      {% include "ebustoolbox/vehicle_modification.html" with modification=modification vt_id=vt_id choice_vts=choice_vts %}
{#      validate() is defined in vehicle_modification since thos content is what is validated#}
      <button id="SubmitButton" hidden onclick="validate()"></button>

    </section>
    </form>
  </div>
</main>
{% endblock wizard_content %}

{% block wizard_buttons %}
  {% url 'simba:trips' scenario.task_id as prev_url %}
  {% with "SubmitButton" as buttonId %}
  {{ block.super }}
{% endwith %}
{% endblock wizard_buttons %}

{% block script %}
<!-- Tabs Functionality of Bus Type Cards -->

{% endblock script %}
