body {
  padding: 1.5rem;
}


.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px; /* Setzt die maximale Breite der Buttons */
    width: 100%; /* Setzt die Breite der Buttons auf 100% der Liste */
}

#landing-page {
    background: url('templates/img/bg_bus.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover; /* Stellt sicher, dass das Bild den gesamten Bereich abdeckt */
    background-attachment: fixed;
}

.page-section {
    padding: 50px 0; /* Fügt oben und unten Abstand hinzu */
    background-color: #f8f9fa; /* Setzt eine Hintergrundfarbe */
    color: #333; /* Setzt die Schriftfarbe */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Stellt sicher, dass der Container die volle Breite des Navbar einnimmt */
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectable {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

a.title {
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}

.popup-image {
    width: 100%; /* Standard */
    width: -moz-available; /* Firefox */
    width: -webkit-fill-available; /* Chrome */
}
