{% load i18n %}
{% load static %}

<footer class="bg-white text-slate-800 border-t">
  <div class="flex justify-between items-center mx-auto max-w-7xl py-8 px-6 lg:px-8">
    <img src="{% static 'core/images/logo/Logokombi_EvO+BMDV+NOW+PtJ_Presse.jpg' %}" height="144" width="624">
    <ul class="flex gap-8 text-sm">
<!--
      <li><a href="#" class="hover:underline">Kontakt</a></li>
-->
      <li><a href="{% url 'core:legal' %}" class="hover:underline">{% translate 'Impressum' %}</a></li>
      <li><a href="{% url 'core:privacy' %}" class="hover:underline">{% translate 'Datenschutz' %}</a></li>
    </ul>
  </div>
</footer>
