{% load i18n %}
{% load static %}

<script src="{% static 'custom.js' %}"></script>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "popper.js" %}"></script>
<script src="{% static "htmx.min.js" %}"></script>
<script src="{% static "class-tools.js" %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{#ToDo remove cdn #}
<script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
<script src="{% static "chart.umd.js" %}"> type="module"</script>
<script src="{% static "nouislider.min.js" %}"></script>
<link href="{%  static "nouislider.min.css" %}" rel="stylesheet">
<link href="{%  static 'ebustoolbox/css/custom_styles.css' %}" rel="stylesheet">
<link href="{%  static 'ebustoolbox/css/result_styles.css' %}" rel="stylesheet">
{% block imports %}{% endblock imports %}
<!-- For translations in javascript -->
{#to do move to appropriate spot?#}
<style>
    .drag_drop_zone {
        border-color: var(--emerald-050);
        outline: 4px solid var(--emerald-400);
        background-color: var(--emerald-050);
    }

    .errorlist {
        list-style: none;
    }
</style>



<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"

    // Create the cookie string with SameSite attribute
    document.cookie = "django_timezone=" + timezone + "; SameSite=Strict; path=/";

    // You can adjust the SameSite attribute as per your requirement
    // document.cookie = "django_timezone=" + timezone + "; SameSite=Strict; path=/";
    // document.cookie = "django_timezone=" + timezone + "; SameSite=None; Secure; path=/";
</script>
