{% load i18n %}
{% load static %}

<script src="{% static 'ebustoolbox/js/custom.js' %}"></script>
<script src="{% static 'ebustoolbox/js/jquery.min.js' %}"></script>
<script src="{% static 'ebustoolbox/js/popper.js' %}"></script>
<script src="{% static 'ebustoolbox/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ebustoolbox/js/htmx.min.js' %}"></script>
<script src="{% static 'ebustoolbox/js/class-tools.js' %}"></script>
<script defer src="{% static 'ebustoolbox/js/class-tools.js' %}"></script>
<script defer src="{% static 'ebustoolbox/js/alpine.min.js' %}"></script>
{#ToDo remove cdn #}
<script src="{% static 'ebustoolbox/js/echarts.min.js' %}"></script>
<script src="{% static "ebustoolbox/js/chart.umd.js" %}"> type="module"</script>
<script src="{% static "ebustoolbox/js/nouislider.min.js" %}"></script>
<link href="{%  static "ebustoolbox/css/nouislider.min.css" %}" rel="stylesheet">
<link href="{%  static "ebustoolbox/css/custom_style.css" %}" rel="stylesheet">

<link href="{%  static "ebustoolbox/css/select2.min.css" %}" rel="stylesheet">
<script defer src="{% static "ebustoolbox/js/select2.min.js" %}"></script>

{% block imports %}{% endblock imports %}
<!-- For translations in javascript -->
{#to do move to appropriate spot?#}
<style>
    .drag_drop_zone {
        border-color: var(--green-050);
        outline: 4px solid var(--green-400);
        background-color: var(--green-050);
    }

    .errorlist {
        list-style: none;
    }
</style>



<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"

    // Create the cookie string with SameSite attribute
    document.cookie = "django_timezone=" + timezone + "; SameSite=Strict; path=/";

    // You can adjust the SameSite attribute as per your requirement
    // document.cookie = "django_timezone=" + timezone + "; SameSite=Strict; path=/";
    // document.cookie = "django_timezone=" + timezone + "; SameSite=None; Secure; path=/";
</script>
