{% load i18n %}
{% load static %}
{% load custom_filters %}
<!-- Add Top Navigation -->
<nav class="bg-white shadow-md z-20">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <a href="{% url 'core:home' %}">
          <img class="h-6 w-auto" src="{% static 'core/images/logo/webus_green.svg' %}" alt="WeBus">
        </a>
      </div>
      <div class="hidden sm:flex items-center space-x-6">
        <a href="{% url 'simba:trips' %}" class="px-4 py-1 border-2 border-emerald-400 text-slate-800 text-sm font-semibold tracking-wide rounded-full hover:bg-emerald-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-400 active:bg-emerald-500 transition-all duration-300">
          {% translate '+ Szenario erstellen' %}
        </a>
        {% if user.is_authenticated %}
          <a href="{% url 'simba:dashboard' %}" class="text-sm text-slate-500 hover:text-emerald-500 transition-colors">{% translate 'Szenarien' %}</a>
          <a href="{% url 'simba:compare' %}" class="text-sm text-slate-500 hover:text-emerald-500 transition-colors">{% translate 'Szenarienvergleich' %}</a>
          <a href="{% url 'core:profile' %}" class="text-sm text-slate-500 hover:text-emerald-500 transition-colors">{% translate 'Profil' %}</a>
        {% endif %}
        <a href="{% url 'core:help' %}" class="text-sm text-slate-500 hover:text-emerald-500 transition-colors">{% translate 'Hilfe' %}</a>
        <a href="mailto:{% email_to %}?subject=Feedback WeBus" class="text-sm text-slate-500 hover:text-emerald-500 transition-colors">Feedback</a>
        {% if user.is_authenticated %}
          <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="text-sm flex items-center text-slate-500 hover:text-emerald-500 transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
              </svg>
            <span class="ml-2">{% translate 'Logout' %}</span>
            </button>
          </form>
        {% else %}
          <a href="{% url 'core:signup' %}" class="border-2 border-slate-800 text-slate-800 hover:bg-slate-800 hover:text-white px-4 py-2 rounded-full transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black cursor-pointer">
            {% translate 'Registrieren' %}
          </a>
          <a href="{% url 'core:login' %}" class="text-sm flex items-center text-slate-500 hover:text-emerald-500 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
            </svg>
          <span class="ml-2">{% translate 'Login' %}</span>
          </a>
        {% endif %}

      </div>

      <!-- Mobile Menu Button -->
      <div class="sm:hidden">
        <button id="menu-button" aria-controls="mobile-menu" aria-expanded="false" class="p-2 text-slate-400 hover:text-black focus:outline-none">
          <span class="sr-only">{% translate 'Menü öffnen' %}</span>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="fixed inset-0 hidden z-20 bg-white">
    <div class="flex flex-col items-center justify-center h-full space-y-8">
      {% if user.is_authenticated %}
      <button class="px-6 py-2 border-2 border-emerald-400 text-slate-800 text-base font-semibold tracking-wide rounded-full hover:bg-emerald-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-400 active:bg-emerald-500 transition-all duration-300">
        {% translate '+ Szenario erstellen' %}
      </button>
      <a href="{% url 'simba:dashboard' %}" class="text-slate-800 text-base hover:text-teal-500 transition-colors">{% translate 'Szenarien' %}</a>
      <a href="{% url 'simba:compare' %}" class="text-slate-800 text-base hover:text-teal-500 transition-colors">{% translate 'Szenarienvergleich' %}</a>
      <a href="#" class="text-slate-800 text-base hover:text-teal-500 transition-colors">{% translate 'Hilfe' %}</a>
      <a href="#" class="flex items-center text-slate-800 text-base hover:text-teal-500 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
        <span class="ml-2">{% translate 'Profil' %}</span>
      </a>
      {% endif %}
      <button id="close-menu" class="absolute top-4 right-4 p-2 text-slate-800 focus:outline-none">
        <span class="sr-only">{% translate 'Menü schließen' %}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <a class="border-2 border-slate-800 text-slate-800 hover:bg-slate-800 hover:text-white px-4 py-2 rounded-full transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black cursor-pointer">
        Registrieren
      </a>
      <a href="{% url 'core:login' %}" class="text-sm flex items-center text-slate-500 hover:text-emerald-500 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
        </svg>
        <span class="ml-2">Login</span>
      </a>
    </div>
  </div>
</nav>

<!-- Mobile Full-Screen Menu -->
<div id="mobile-menu" class="fixed inset-0 hidden z-20 bg-slate-800" aria-hidden="true">
  <div class="flex flex-col items-center justify-center h-full space-y-8">
    <a href="{% url 'login' %}" class="text-white text-2xl font-semibold hover:underline">{% translate 'Einloggen' %}</a>
    <a href="{% url 'simba:dashboard' %}" class="text-white text-2xl font-semibold hover:underline">{% translate 'Szenarienvergleich' %}</a>
    <a href="#" class="text-white text-2xl font-semibold hover:underline">{% translate 'Hilfe' %}</a>
    <button id="close-menu" class="absolute top-4 right-4 p-2 text-white focus:outline-none">
      <span class="sr-only">{% translate 'Menü schließen' %}</span>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</div>

<script>
  // Top Navigation
  // Due to htmx, there might be multiple declartions of these consts.
  // This condtional handles it, and assumes if menuButton is declared,
  // the other const are declared as well
  function setupMenu(){
  const menuButton = document.getElementById('menu-button');
  const closeButton = document.getElementById('close-menu');
  const mobileMenu = document.getElementById('mobile-menu');
  // Toggle top menu
  menuButton.addEventListener('click', () => {
    const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
    menuButton.setAttribute('aria-expanded', !isExpanded);
    mobileMenu.classList.toggle('hidden');
    mobileMenu.setAttribute('aria-hidden', isExpanded);
    if (!isExpanded) {
      mobileMenu.querySelector('a').focus(); // Focus the first menu item
    }
  });

  // Close top menu
  closeButton.addEventListener('click', () => {
    menuButton.setAttribute('aria-expanded', 'false');
    mobileMenu.classList.add('hidden');
    mobileMenu.setAttribute('aria-hidden', 'true');
    menuButton.focus(); // Return focus to the button
  });

  // Trap focus within the mobile menu
  mobileMenu.addEventListener('keydown', (e) => {
    if (e.key === 'Tab') {
      const focusableElements = mobileMenu.querySelectorAll('a, button');
      const firstElement = focusableElements[0];
      const lastElement = focusableElements[focusableElements.length - 1];

      if (e.shiftKey && document.activeElement === firstElement) {
        e.preventDefault();
        lastElement.focus();
      } else if (!e.shiftKey && document.activeElement === lastElement) {
        e.preventDefault();
        firstElement.focus();
      }
    }
  });
}
  setupMenu();
</script>
