@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_18pt-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_18pt-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_18pt-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_18pt-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter_18pt-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, 'ui-sans-serif', 'system-ui';
}

/* Fix sub alignment issue 
sub {
  bottom: -1rem;
}*/