{% load bootstrap4 %}
<div id="js-popup" class="popup rounded-lg">

  <div class="popup__header bg-emerald-500 text-white px-4 py-2 rounded-t-lg">
    <h1 id="js-popup__title" class="popup__title text-lg font-semibold">{{ title }}</h1>
    <h2 id="js-popup__municipality" class="popup__municipality text-sm opacity-90">{{ municipality }}</h2>
  </div>


  {% block class_content_1 %}{% endblock %}


  <div id="js-popup__key-values" class="popup__key-values">
    {% block key_values %}
      <span class="key-values__municipality">
        {% for key, value in data.items %}
          {% if "value" in key %}
            <span class="key-values__{{ key }}">{{ value|default_if_none:""|floatformat }}</span>
          {% else %}
            <span class="key-values__{{ key }}">{{ value|default_if_none:"" }}</span>
          {% endif %}
        {% endfor %}
      </span>
    {% endblock %}
  </div>

  {% block chart %}{% endblock %}

  <div id="js-popup__description" class="popup__description">{{ description }}</div>

  {% if sources %}
    <div id="js-popup__sources" class="popup__sources">
      Quellen:
      {% for source in sources %}
        {% if forloop.first %}
          <a href="{{ source.url }}">{{ source.name }}</a>
        {% else %}
          , <a href="{{ source.url }}">{{ source.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>