<!-- Container to center the buttons and stick to the bottom -->
<div class="container d-flex justify-content-center fixed-bottom p-5 bg-light">
    <!-- Combined Back and Forward Buttons with Adjusted Spacing -->
    <div class="d-flex gap-2">
{#        <!-- Back Button -->#}
{#        <a href="#" class="btn btn-link text-decoration-none border">#}
{#            <i class="fas fa-arrow-left"></i> Zurück#}
{#        </a>#}

        <!-- Move Forward Button -->
        <button class="btn btn-primary" type="submit">Weiter</button>
        {% if skippable %}
          <div class="container d-flex justify-content-center p-0 bg-light">
                <!-- Move Forward Button -->
                <a class="btn btn-secondary" href="{{ skippable }}">Überspringen</a>
          </div>
        {% endif %}
    </div>
</div>
