{% extends 'base.html' %}

{% block content %}


<div class="container bg-light" style="min-height: 80vh;">

  <!-- wizard -->
  {% include 'wizard.html' %}

  <!-- Main Content -->

  <div class="row lead justify-content-center d-flex m-5 p-5">
    Hier können in Zukunft Einstellungen zu den Depots gewählt werden.
  </div>
  <div class="input-item row m-5">
    <div ><h4>Aus den Eingangsdaten identifizierte Depots:</h4></div>
  <div class="row">
    {% for depot in depots %}
      <li class="list-group-item p-2">
        {{ depot.name }}
      </li>
    {% endfor %}
  </div>
  </div>

  <form class="text-center" enctype="multipart/form-data" method="POST" action="{% url 'simba:depots' task_id %}">
    {% csrf_token %}
    {% include 'continue_button.html' %}
  </form>

</div>
{% endblock %}
