{% extends 'base.html' %}

{% block content %}


<div class="container bg-light" style="min-height: 80vh;">

  <!-- wizard -->
  {% include 'wizard.html' %}

  <!-- Main Content -->

  <div class="lead justify-content-center d-flex m-5 p-5">
    Hier können in Zukunft Einstellungen zu den Depots gewählt werden.
  </div>


  <form class="text-center" enctype="multipart/form-data" method="POST" action="{% url 'simba:depots' task_id %}">
    <div class="input-item m-5 text-center">
      <h4>Aus den Eingangsdaten identifizierte Depots:</h4>
      <div class="mx-auto">
        {% if depots|length > 1 %}
          <small>Wählen Sie die zu simulierenden Depots aus.</small>
                  {% if error%}
                    <div class="alert alert-danger" role="alert">
                      {{ error}}
</div>
        {% endif %}
        {% endif %}
        <div class="row gx-5 m-2">
          {% if depots|length > 1 %}
            {% for depot in depots %}
              <div class="col-6 text-end">{{ depot.name }}</div>

              <div class="col-6 text-start form-check">
                <input class="form-check-input" type="checkbox"
                       id="flexSwitchCheckDefaultSimDepot{{ depot.id }}" checked
                       name="sim_depot_{{ depot.id }}">
                <label class="form-check-label" for="flexSwitchCheckDefaultSimDepot{{ depot.id }}"></label>
              </div>
            {% endfor %}
          {% else %}
{#             only single depot exists#}
            {% for depot in depots %}
              <div class="text-center"> {{ depot.name }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% csrf_token %}
    {% include 'continue_button.html' %}
  </form>

</div>
{% endblock %}
