{% load i18n %}
<style>
  .footer-div {
    margin-top: auto;
    width: 100%;
    text-align: center;
  }
  .footer-link {
    text-decoration: none;
  }
</style>
<footer>
  <div class="footer-div">
    <a class="footer-link" href="#">{% translate "Kontakt" %}</a>
    <a class="footer-link" href="https://wam.rl-institut.de/impressum.html">{% translate "Impressum" %}</a>
    <a class="footer-link" href="https://wam.rl-institut.de/datenschutz.html">{% translate "Datenschutz" %}</a>
  </div>
</footer>
