{#<div class="d-flex justify-content-center py-5">#}
{#        <a href="{% url 'generate_zip' task_id=task_id %}" class="btn btn-primary">Generate Download as Zip</a>#}
{#</div>#}
<div id="zipButton">
    <div class="d-flex justify-content-center py-5">
<button id="buttonGenerateZip" class="btn btn-primary" onclick="fetch_zip(this);">Generate Download as Zip</button>
    </div>
</div>

<script>
    function fetch_zip(button) {
        button.disabled = true;
        fetch("{% url 'simba:generate_zip' task_id %}").then(response => {
            if (response.ok) {
                handleZipResponse(response);
            } else {
                console.log('zip request failed: ' + response.statusText);
                console.log(response);
            }
        }).catch (error => {
            console.log('request failed', error);
        });
    }

    function handleZipResponse(response) {
        if (response.headers.get('content-type') == 'application/octet-stream') {
            // direct result: allow direct save through temporary anchor
            response.blob().then(blob => {
                const a = document.createElement('a');
                a.href = URL.createObjectURL(blob);
                a.style = 'display:none';
                a.download = task_id + '.zip';
                document.body.appendChild(a);
                a.click();
                a.remove();
                URL.revokeObjectURL(a.href);
            });
            document.getElementById("buttonGenerateZip").disabled = false;
        } else {
            // task: poll status
            setTimeout(function() {
                fetch('/download_scenario/' + task_id).then(response => {
                    if (response.ok)
                        handleZipResponse(response);
                });
            }, 1000);
        }
    }
</script>
