{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {{ task_id }}
        <form id='form'>{% csrf_token %}
            <input type='file' name='file'>
            {#This will be replaced by the progressbar, during server side analyzing            #}
            <div id="progress_{{ task_id }}"></div>

            <button id='button_{{ task_id }}' hx-encoding='multipart/form-data' hx-target="#progress_{{ task_id }}"
                    hx-post='{% url 'simba:upload_trips' task_id %}'>
                Upload
            </button>
            {#            progress bar during upload#}
            <progress id='progress' value='0' max='100'></progress>
        </form>
        <div id="runner"
                {#             Trigger sent from server if the submitted file is not handled anymore#}
             hx-trigger="notRunning from:body">
        </div>
        <script>
            {# Activate button if the server finished handling the previous file#}
            htmx.on('#runner', 'htmx:trigger', function (evt) {
                htmx.find('#button_{{task_id}}').setAttribute('disabled', false)
            });
            htmx.on('#form', 'htmx:xhr:progress', function (evt) {
                htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
            });
            {# After submitting file disable button#}
            htmx.on('#form', 'htmx:confirm', function (evt) {
                htmx.find('#button_{{task_id}}').setAttribute('disabled', true)
            });
        </script>

    </div>
{% endblock %}
