{% load static %}

<!DOCTYPE html>
<html lang="en">

<style>
    .filter-ctrl {
        position: absolute;
        top: 54px;
        right: 60px;
        z-index: 1;
    }

    .filter-ctrl input[type='text'] {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        width: 100%;
        border: 0;
        background-color: #fff;
        margin: 0;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 180px;
    }
    #sidebar {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #f8f9fa;
      transition: left 0.3s;
      z-index: 1000;
      padding: 20px;
    }

    #sidebar.active {
      left: 0;
    }

    .col-md-10 {
      transition: margin-left 0.3s;
    }

    .col-md-10.active {
      margin-left: 250px;
    }

    /* Add your custom CSS styles here */
    .sidebar {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #f8f9fa;
      transition: left 0.3s;
      z-index: 1000;
      padding: 20px;
    }

    .sidebar.active {
      left: 0;
    }

    #sidebarToggle {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 1100;
    }

    .right-sidebar {
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100%;
      background-color: #f8f9fa;
      transition: right 0.3s;
      z-index: 1000;
      padding: 20px;
    }

    .right-sidebar.active {
      right: 0;
    }

    .btn-square {
      width: 250px;
      height: 250px;
      margin: 10px 0;
      border-radius: 0;
    }

    .btn-square img {
      max-width: 100%;
      max-height: 100%;
    }

    /* Define the fixed dimensions for the div */
    .fixed-div {
        width: 152px; /* Set the width to 200 pixels */
        height: 102px; /* Set the height to 150 pixels */

    };

    /* Apply box-sizing to all elements and pseudo-elements */
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    /* Define the body font family */
    body {
      font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    }

    /* Styling for the toggle container */
    .toggle {
      cursor: pointer;
      display: inline-block;
    }

    /* Styling for the toggle switch */
    .toggle-switch {
      display: inline-block;
      background: #ccc;
      border-radius: 16px;
      width: 58px;
      height: 32px;
      position: relative;
      vertical-align: middle;
      transition: background 0.25s;
    }

    /* Styling for the switch's before and after pseudo-elements */
    .toggle-switch:before,
    .toggle-switch:after {
      content: "";
    }

    /* Styling for the switch's before pseudo-element */
    .toggle-switch:before {
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 4px;
      left: 4px;
      transition: left 0.25s;
    }

    /* Change styles on hover */
    .toggle:hover .toggle-switch:before {
      background: linear-gradient(to bottom, #fff 0%, #fff 100%);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }

    /* Styling for the checkbox when checked */
    .toggle-checkbox:checked + .toggle-switch {
      background: #56c080;
    }

    /* Additional styling for the switch's before pseudo-element when checked */
    .toggle-checkbox:checked + .toggle-switch:before {
      left: 30px;
    }

    /* Styling for the toggle checkbox */
    .toggle-checkbox {
      position: absolute;
      visibility: hidden;
    }

    /* Styling for the toggle label */
    .toggle-label {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }



</style>


  <head>
    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css" rel='stylesheet'/>
  </head>

  <body>
    {% include 'django_mapengine/map.html' %}
    {% include 'django_mapengine/map_json.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pubsub-js/1.9.4/pubsub.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->


    <script>
      // This is needed as mapengine checks for eventTopics value (bug in mapengine!)
      let eventTopics = {};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    {% include 'django_mapengine/map_js.html' %}


    <script>
      // This is needed, as otherwise map height is zero and therefore not visible (bug in mapengine!)
      document.getElementById("map").style = "height: 800px"
      //map.addControl(new maplibregl.FullscreenControl());
    </script>


    <div class="filter-ctrl">
    <input
        id="filter-input"
        type="text"
        name="filter"
        placeholder="Filter by name"
    />
</div>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">


              <div id="layer-controls"></div>

            <!-- Add more sidebar items here -->
          </ul>
        </div>
      </nav>

      <main class="col-md-10 ml-sm-auto">
        <!-- Content goes here -->
      </main>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <main class="col-md-10">
        <!-- Content goes here -->
      </main>

      <nav class="col-md-2 bg-light right-sidebar">
        <div class="position-sticky">
          <div class="d-flex flex-column align-items-center">
            <button class="btn btn-light btn-square">
              <img src="https://www.die-modelle.net/images/product_images/info_images/Rietze-76705-2-rechte-Seite.png" alt="Button 1">
            </button>
            <button class="btn btn-light btn-square">
              <img src="https://www.die-modelle.net/images/product_images/original_images/Rietze-69391-3-1.png" alt="Button 2">
            </button>
            <button class="btn btn-light btn-square">
              <img src="https://www.die-modelle.net/images/product_images/info_images/Rietze-67336-1-rechts.png" alt="Button 3">
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>





    <div style="position: fixed;
     top: 50%; left: 70px; width: 50px; height: 50px;
      z-index: 900;
     transform: translateY(-50%); display: flex; justify-content: center; align-items: center; onclick="myFunction()">
<button onclick="flyStep(-1)" style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">⇦</button>

</div>

<div style="position: fixed;
     top: 50%; right: 70px; width: 50px; height: 50px;
      z-index: 900;
     transform: translateY(-50%); display: flex; justify-content: center; align-items: center; onclick="myFunction()">
<button onclick="flyStep(1)" style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">⇨</button>
</div>


<div style="position: fixed;
     top:800px; left: 100px; width: 50px; height: 50px;
      z-index: 900;
     transform: translateY(-50%); display: flex; justify-content: center; align-items: center; onclick="myFunction2()">
<button onclick="enableDrawmode(1)" style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">✎</button>
</div>

<div style="position: fixed;
     top:800px; left: 160px; width: 50px; height: 50px;
      z-index: 900;
     transform: translateY(-50%); display: flex; justify-content: center; align-items: center; onclick="myFunction()">
<button onclick="deleteDraw(1)" style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">🗑</button>
</div>

    <div style="position: fixed;
     top:800px; left: 220px; width: 50px; height: 50px;
      z-index: 900;
     transform: translateY(-50%); display: flex; justify-content: center; align-items: center; onclick="myFunction()">
<button onclick="recalculate()" style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">🧮</button>
</div>


<div style="position: fixed;
 top:800px; left: 280px; width: 50px; height: 50px;
  z-index: 900;
 transform: translateY(-50%); display: flex; justify-content: center; align-items: center;">
<button onclick="deleteBus()", style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">💾</button>
</div>

<div style="position: fixed;
 top:800px; left: 340px; width: 50px; height: 50px;
  z-index: 900;
 transform: translateY(-50%); display: flex; justify-content: center; align-items: center;">
<button onclick="exportJson()", style="border-radius: 50%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">exp</button>
</div>

<div style="position: fixed;
 top:800px; right: 320px; width: 100px; height: 50px;
  z-index: 900; display: none;
 transform: translateY(-50%); display: flex; justify-content: center; align-items: center;">
<button id="DrawDone" onclick="endDraw()", style="display: none; border-radius: 10%; background-color: blue; color: white; padding: 0; width: 100%; height: 100%; font-weight: bold; font-size: 1.5em; font-family: sans-serif;">Done</button>
</div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="editModalLabel">edit Station</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
               <form>
                   <div class="mb-3">
                       <label for="name" class="form-label">Name</label>
                       <input type="text" class="form-control" id="name">
                   </div>
                   <div class="mb-3">
                       <label for="power" class="form-label">Power</label>
                       <input type="text" class="form-control" id="power">
                   </div>
                   <div class="mb-3">
                       <label for="unit" class="form-label">Unit</label>
                       <select class="form-select" id="unit">
                           <option value="kW">kW</option>
                           <option value="MW">MW</option>
                       </select>
                   </div>
               </form>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
               <button type="button" class="btn btn-primary" id="fromALKIS">From ALKIS</button>
               <button type="button" class="btn btn-primary" id="draw">Draw</button>
               <button type="button" class="btn btn-primary" id="saveChanges" disabled>Save</button>
           </div>
       </div>
   </div>
</div>

<script>

    // For jumping between Stations:

    var all_station_coords = [];
    var station_index = 0;

    window.addEventListener("load", function() {
        $.ajax({
            url: 'hpctool/getstationlist',
            type: 'GET',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(data){
                all_station_coords = data.message
                console.log(all_station_coords);
            },
            error: function(data){
               console.log(data);
            }
        })
    });

    // MODAL AND RIGHT-CLICK FOR NEW STATION
    var areaEndstop ="";
    var lastRightClick =  [0,0];
    var stationPopup;
    // Get a reference to the button element
    const button = document.getElementById("DrawDone");

    // Function to hide the button
    function hideButton() {
        button.style.display = "none";
    }

    // Function to show the button
    function showButton() {
        button.style.display = "block";
    }


    // JavaScript code to enable the "Save" button when one of the options is clicked
    document.getElementById("fromALKIS").addEventListener("click", function() {
       document.getElementById("draw").disabled = true;
       document.getElementById("saveChanges").disabled = false;
       areaEndstop = "FromAlkis";
    });

    document.getElementById("draw").addEventListener("click", function() {
       document.getElementById("fromALKIS").disabled = true;
       document.getElementById("saveChanges").disabled = false;
       stationPopup.remove();
       $("#editModal").modal("hide");
       map.flyTo({
            center: lastRightClick,
            zoom: 18,
            essential: true
          });
       enableDrawmode(1);
        showButton();
       areaEndstop = "POLYGON";
    });

    $(document).ready(function() {
        $("#saveChanges").click(function() {
            const name = $("#name").val();
            const power = $("#power").val();
            const unit = $("#unit").val();

            console.log(name,power,unit,areaEndstop);
            // Handle the data (e.g., save it or update your UI)
            // ...
            createStation(name,power,unit,areaEndstop)
            // Close the modal
            $("#editModal").modal("hide");

        });
    });

    function endDraw(){
        areaEndstop = draw.getAll();
        $("#editModal").modal("show");
    }

    function createStation(name,power,unit,areaEndstop) {
         var data_station = {
                          "name": name,
                          "power": unit,
                          "area": areaEndstop,
                          "latlon": lastRightClick
                        };
        console.log("Creating Station")
        $.ajax({
            url: 'hpctool/create',
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify(data_station),
            success: function(data){
                $("#editModal").modal("hide");
                hideButton();
                alert(data.message);
            },
            error: function(data){
               alert(data.status); // the status code
               alert(data.responseJSON.error); // the message
            }
        })
    }

        map.on("mousedown", (e) => {
      if (e.originalEvent.button === 2) {
          var latlon = [e["lngLat"]['lng'], e["lngLat"]['lat']];
          console.log("RIGHT")
            listDrawnLayers();
          try {
              stationPopup.remove();
          }catch{
              console.log("No open dialog")
          };

          lastRightClick = latlon
          var innerHTML ='<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"> <i class="bi bi-pencil"></i> New Station Here </button>';
            document.getElementById("fromALKIS").disabled = false;
            document.getElementById("saveChanges").disabled = true;
            document.getElementById("draw").disabled = false;


        requestAnimationFrame(() => {
            stationPopup = new maplibregl.Popup({
                // https://maplibre.org/maplibre-gl-js-docs/api/markers/#popup-parameters
                maxWidth: "280px",
            }).setLngLat(latlon).setHTML(innerHTML).addTo(map);
        });
      }
    });

    // LAYER SELECTION

     // Define your list of layers
        var layers = [
            { id: 'flur', name: 'Flurstücke' },
            { id: 'cyclepath', name: 'Radwege' },
            { id: 'residentialarea', name: 'Wohngebiete' },
            { id: 'myexamplemultipolygon', name: 'Busse' },
            { id: 'trees', name: 'Bäume' }
            // Add more layers as needed
        ];

        // Function to toggle layer visibility
        function toggleLayerVisibility(layerId) {
            var layer = map.getLayer(layerId);
            var visibility = map.getLayoutProperty(layerId, 'visibility');

            if (visibility === 'visible') {
                map.setLayoutProperty(layerId, 'visibility', 'none');
            } else {
                map.setLayoutProperty(layerId, 'visibility', 'visible');
            }
        }

        // Create checkboxes for each layer
        var layerControls = document.getElementById('layer-controls');

        layers.forEach(function (layer) {

             const toggleLabel = document.createElement("label");
            toggleLabel.className = "toggle";

            const toggleCheckbox = document.createElement("input");
            toggleCheckbox.className = "toggle-checkbox";
            toggleCheckbox.type = "checkbox";
            toggleCheckbox.checked = true;

            toggleCheckbox.addEventListener('change', function () {
                            toggleLayerVisibility(layer.id);
                        });

            const toggleSwitch = document.createElement("div");
            toggleSwitch.className = "toggle-switch";

            const toggleLabelText = document.createElement("span");
            toggleLabelText.className = "toggle-label";
            toggleLabelText.textContent = layer.name;

            toggleLabel.appendChild(toggleCheckbox);
            toggleLabel.appendChild(toggleSwitch);
            toggleLabel.appendChild(toggleLabelText);


            layerControls.appendChild(toggleLabel);
        });


    map.dragRotate.disable();


    // Function to list the currently drawn layers
        function listDrawnLayers() {
            var layers = map.getStyle().layers;
            var drawnLayers = [];

            layers.forEach(function (layer) {
                if (map.getLayoutProperty(layer.id, 'visibility') === 'visible') {
                    drawnLayers.push(layer.id);
                }
            });

            console.log('Currently drawn layers:', drawnLayers);
        }



    document.addEventListener("DOMContentLoaded", function () {
      const sidebar = document.querySelector(".sidebar");
      const content = document.querySelector(".col-md-9");
      //const sidebarToggle = document.querySelector("#sidebarToggle");

      sidebar.addEventListener("click", function () {
        sidebar.classList.toggle("active");
       // content.classList.toggle("active");
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const rightSidebar = document.querySelector(".right-sidebar");
      const content = document.querySelector(".col-md-10");

      rightSidebar.addEventListener("click", function () {
        rightSidebar.classList.toggle("active");
        //content.classList.toggle("active");
      });
    });

    function recalculate() {

        dat = draw.getAll();
        console.log(dat.features[0].geometry.coordinates[0])
        $.ajax({
            url: 'hpctool',
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify(dat.features[0].geometry.coordinates[0]),
            success: function(data){
                alert(data.message);
            },
            error: function(data){
               alert(data.status); // the status code
               alert(data.responseJSON.error); // the message
            }
        })
    }

        function exportJson() {
        $.ajax({
            url: 'hpctool/export',
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {},
            success: function(data) {
                    // Create a Blob containing the JSON data
                    const blob = new Blob([JSON.stringify(data)], { type: 'application/json' });

                    // Create a temporary anchor element to trigger the download
                    const a = document.createElement("a");
                    a.href = URL.createObjectURL(blob);
                    a.download = "electrified_stations.json";

                    // Trigger the click event to start the download
                    a.click();

                    // Clean up
                    URL.revokeObjectURL(a.href);
                },
                error: function(error) {
                    console.error("Error:", error);
                }
        })
    }


    function deleteBus() {
        console.log("Deleting the following Busses: " , deletedIDs)
        $.ajax({
            url: 'hpctool/delete',
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify(deletedIDs),
            success: function(data){
                deletedIDs = [];
                alert(data.message);
            },
            error: function(data){
               alert(data.status); // the status code
               alert(data.responseJSON.error); // the message
            }
        })
    }




    const draw = new MapboxDraw({
        displayControlsDefault: false,
            // Select which mapbox-gl-draw control buttons to add to the map.
            controls: {
            polygon: false,
            trash: false
            },
        // Set mapbox-gl-draw to draw by default.
        // The user does not have to click the polygon control button first.
        defaultMode: 'simple_select'//'draw_polygon'
    });
    map.addControl(draw, 'top-left');



    function enableDrawmode(step) {
        draw.set({
          type: 'FeatureCollection',
          features: []
        })
        draw.changeMode('draw_polygon');
     }

    function deleteDraw(step) {
        draw.trash();
    }

    function EditFlurstueck(geom, id){
        map.setLayoutProperty("flur", "visibility", "none");
        map.setFeatureState(
                    {source: 'busstop', sourceLayer:'flur', id: id},
                    {visible: false}
                );

        geom= JSON.parse(decodeURIComponent(geom))
        popup.remove();
        draw.trash();
        draw.changeMode('draw_polygon');
        draw.set({
          type: 'FeatureCollection',
          features: [{
            type: 'Feature',
            properties: {},
            id: 'example-id',
            geometry: geom
          }]
        });
    }

    map.on('draw.create', updateArea);
    map.on('draw.delete', updateArea);
    map.on('draw.update', updateArea);

    function updateArea(e) {
        const data = draw.getAll();
        console.log(data)
        if (data.features.length > 0) {
            console.log();
        } else {
            answer.innerHTML = '';
            if (e.type !== 'draw.delete')
            alert('Click the map to draw a polygon.');
        }
    }


    deletedIDs = [];

    document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.key === 'z') {
            //alert('Undo!');
              if (deletedIDs.length > 0){
                  undoID = deletedIDs.pop();
                  map.setFeatureState(
                            {source: 'busstop', sourceLayer:'myexamplemultipolygon', id: undoID},
                            {del: true}
                        );


              }
          }
    });

    var popup = null;

    function flyStep(step) {

        map.flyTo({
            center: all_station_coords[station_index],
            zoom: 18,
            essential: true
          });
        //console.log(map);
        station_index+=step;
        //document.getElementById("map").flyTo(0,0, 19);
    }

        // When the user moves their mouse over the state-fill layer, we'll update the
        // feature state for the feature under the mouse.
        hoveredStateId = null;
        map.on('mousemove', 'flur', (e) => {
            if (e.features.length > 0) {
                if (hoveredStateId) {
                    map.setFeatureState(
                        {source: 'busstop', sourceLayer:'flur', id: hoveredStateId},
                        {hover: false}
                    );
                }
                hoveredStateId = e.features[0].id;
                map.setFeatureState(
                    {source: 'busstop', sourceLayer:'flur', id: hoveredStateId},
                    {hover: true}
                );
            }
        });

        // When the mouse leaves the state-fill layer, update the feature state of the
        // previously hovered feature.
        map.on('mouseleave', 'flur', () => {
            if (hoveredStateId) {
                map.setFeatureState(
                    {source: 'busstop', sourceLayer:'flur', id: hoveredStateId},
                    {hover: false}
                );
            }
            hoveredStateId = null;
        });

    map.on('click', 'myexamplemultipolygon', (e) => {

        var latlon = [e["lngLat"]['lng'], e["lngLat"]['lat']];
        if (!deletedIDs.includes(e.features[0].id)) {

            //https://stackoverflow.com/questions/47576527/how-to-manipulate-event-bubbling-when-registering-click-event-upon-a-layer-in-ma
            //prevents that all layers are "clicked on", i.e. only top layer is clicked on
            e.originalEvent.preventDefault();

            var innerHTML = `
                <div style="text-align: center;">
                    Delete Bus with id: ${e.features[0].id} and quality ${e.features[0].properties['quality']} ?
                </div>
                <div>
                    <button onclick="onYesClick(${e.features[0].id})">Yes</button>
                    <button onclick="onNoClick()">No</button>
                </div>
            `;


            console.log("Bus clicked!", e, latlon);
            requestAnimationFrame(() => {
                popup = new maplibregl.Popup({
                    // https://maplibre.org/maplibre-gl-js-docs/api/markers/#popup-parameters
                    maxWidth: "280px",
                }).setLngLat(latlon).setHTML(innerHTML).addTo(map);
            });
        }
        ;
    });



    map.on('moveend', function() {
        zoom = map.getZoom();
        var featuresInView = map.queryRenderedFeatures({ layers: ['flur'] });
        console.log(featuresInView, zoom)
});

    map.on('click', 'flur', (e) => {
        var latlon = [e["lngLat"]['lng'], e["lngLat"]['lat']];
        //https://stackoverflow.com/questions/47576527/how-to-manipulate-event-bubbling-when-registering-click-event-upon-a-layer-in-ma
        if(!e.originalEvent.defaultPrevented) {

            $.ajax({
                  type: "GET",
                  url: `hpctool/stationpopup/${e.features[0].id}`,
                  dataType: 'json',
                  success: function (data) {
                    const popup = document.createElement('div');
                    const {html} = data;
                    popup.innerHTML = html + '<br><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" >Edit</button>'

                    map.easeTo({
                        center: latlon
                        });

                    requestAnimationFrame(() => {
                        new maplibregl.Popup({
                          // https://maplibre.org/maplibre-gl-js-docs/api/markers/#popup-parameters
                          maxWidth: "560px",
                        }).setLngLat(latlon).setHTML(popup.innerHTML).addTo(map);
                      });
                  }
                });

        }
        ;
    });


    function onYesClick(id) {
        // Code to execute when the "Yes" button is clicked
        console.log("Yes button clicked!", id);
        console.log(map);
        deletedIDs.push(id);
        map.setFeatureState(
                        {source: 'busstop', sourceLayer:'myexamplemultipolygon', id: id},
                        {del: false}
                    );
        popup.remove();



    }

    function onNoClick() {
        // Code to execute when the "No" button is clicked
        console.log("No button clicked!");
        popup.remove();
    }





    </script>











  </body>
</html>