{% extends 'base.html' %}
{% block content %}
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

  </head>
  <body>
  <div id="map" style="height:1000px;"></div>


  </body>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>

  {{ geoms |json_script:"my_array" }}
  <script>

      let center_lat = {{center_lat}}
      let center_lon = {{center_lon}}

      var map = L.map('map').setView([center_lat, center_lon], 13);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      let geoms = JSON.parse(document.getElementById('my_array').textContent);
      for (const geom of geoms) {
          var marker = L.marker([geom.lat, geom.lon]);
          marker.bindPopup(geom.popup).openPopup();
          marker.addTo(map);
      }


  </script>
{% endblock content %}
