{% extends 'base.html'%}
{% block header %}
<title>Szenarios</title>
<style>
  th {
    text-align: center;
    padding: 1rem;
  }
  td {
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #ccc;
  }
  tr:nth-child(odd) {
    background-color: #eee;
  }
  ul.no-bullets {
    list-style-type: none;
  }
  .delete {
    border: none;
    background: none;
  }
  .delete:hover {
    background: red;
  }
</style>
{% endblock %}

{% block content %}
{% if not scenarios %}
  <span>Noch keine Szenarios vorhanden. <a href="{% url 'simba:home' %}">Hinzufügen...</a></span>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Ergebnis</th>
    <th>User Groups</th>
    <th>Manager?</th>
    <th>Erstellt</th>
    <th></th>
  </tr>
  {% for scenario in scenarios %}
    <tr>
      <td>{{ scenario.name }}</td>
      <td>
        {% if scenario.finished %}
          <a href="{% url 'simba:result' %}?task_id={{scenario.task_id}}">{{ scenario.finished }}</a>
        {% else %}
          <span>---</span>
        {% endif %}
      </td>
      <td>
        {% if scenario.manager == user %}
        <select scenario='{{scenario.id}}' multiple onchange="updateUserGroup(this);">
          <option value='0'>---</option>
          {% for ug in user.usergroup_set.all %}
            <option value='{{ug.id}}' {% if scenario in ug.scenarios.all %}selected{% endif %}>{{ug.name}}</option>
          {% endfor %}
        </select>
        {% else %}
        <ul class="no-bullets">
          {% for ug in user.usergroup_set.all %}
            {% if scenario in ug.scenarios.all %}
              <li>{{ ug.name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </td>
      <td>{% if scenario.manager == user %}✅️{% else %}❌️{% endif %}</td>
      <td>{{ scenario.created }}</td>
      <td>
        {% if scenario.manager == user %}
        <form id="form" method="post">
          {% csrf_token %}
          <button type="submit" class="delete" name="delete" value="{{ scenario.id }}">🗑️</button>
        </form>
        {% endif %}
    </tr>
  {% endfor %}
</table>
{% endif %}

<script>
function updateUserGroup(elem) {
  // update a scenario's user groups in backend without refreshing page
  const scenario = elem.attributes.scenario.value;
  let selected = Array.from(elem.selectedOptions).map(({ value }) => value);
  const form_data = new FormData();
  form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
  form_data.append("update", scenario);
  form_data.append("values", selected.join(','));
  fetch("{% url 'simba:scenarios' %}", {
    method: 'POST',
    body: form_data,
  });
}
</script>
{% endblock %}
