{% extends 'base.html'%}
{% block content %}
{% load static %}

<body>
    <!-- wizard -->
    {% include 'wizard.html' %}

    {#  <p>Add scenario overview here :)</p>#}
    {#  This page shows all selected attributes of the scenario, or at least a summary (maybe don't list all el stations, but say how many there are)#}
    {#  Thix page also shows all plots that can be created without a simulation, and any other plot once simulation is done#}
      <form id='form' hx-target="#my_progress_bar" hx-get='{% url 'simba:run_simulation' task_id %}'>{% csrf_token %}
        <input hidden="hidden" name="task_id" value="{{ task_id }}">
        <button id="simba_submit_button" type="submit" class="btn btn-primary"
        >Starte Simulation</button>
        <div id="result"></div>
      </form>
    <div id="my_progress_bar">
        <progress id='progress' value='0' max='100'></progress>
    </div>

    <div style="height: 900px;">
    {% include 'minimal_mapengine.html'%}
    </div>
    {% load plotly_dash %}
    {% plotly_app  slug=task_id ratio=0.6 %}



    <script>
        var task_id = "{{task_id }}";
        console.log(task_id);
        map.on('idle',function(){
            map.resize()
        })

      document.addEventListener('htmx:beforeRequest', function(event) {
        var button = document.getElementById('simba_submit_button');
        button.disabled = true;
      });
    </script>

</body>
{% endblock %}
