{% extends 'base.html'%}
{% block content %}
{#  <p>Add scenario overview here :)</p>#}
{#  This page shows all selected attributes of the scenario, or at least a summary (maybe don't list all el stations, but say how many there are)#}
{#  Thix page also shows all plots that can be created without a simulation, and any other plot once simulation is done#}
  <form id='form' hx-get='{% url 'simba:run_simulation' task_id %}' hx-target="#result">{% csrf_token %}
    <input hidden="hidden" name="task_id" value="{{ task_id }}">
    <button id="simba_submit_button" type="submit" class="btn btn-primary"
    >Run simulation</button>
    <div id="result">{{ task_id }}</div>
  </form>
{% endblock %}