{% load static %}
<div id="options_form" class="text-center px-4">
  <form id='form'>{% csrf_token %}
    {#    use HX-retarget to target form instead of progess bar in cases of errors#}
    <div class="form-group my-4">
      <div class="input-group">
        <input type="text" class="form-control " id="scenarioName" name="scenario_name"
               aria-describedby="scenarioNameHelp"
               placeholder="Mein Szenario"> <span class="input-group-text">Name des Szenarios</span>
      </div>
      <small id="scenarioNameHelp" class="form-text text-muted">Gib deinem Szenario einen Namen. So findest du es
        später
        hier <a href="{% url "simba:scenarios" %}">'Meine Szenarien'</a> </small>
    </div>

    {% if reader_num == 1 %}
      <fieldset class="form-group">
        <div class="mb-4">
          <div class="input-group">
            <input {% if form.file_path.help_text %}title="{{ form.file_path.help_text }}"{% endif %} type="file"
                   class="form-control" id="{{ form.file_path.auto_id }}" required
                   name="file_path">
            <span class="input-group-text">{{ form.file_path.label }}</span>
            <a href="{% static 'ebustoolbox/examples/trips_example.csv' %}" class="input-group-text" download>Download
              Beispiel-Fahrplan</a>
            <div>
              {% if error in form.file_path.errors %}
                <ul>
                  {% for error in form.file_path.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>

      </fieldset>
    {% endif %}


    {% if reader_num > 1 %}
      {{ form.as_p }}
    {% endif %}


    {#This will be replaced by the progressbar, during server side analyzing            #}
    <div id="upload-progress_{{ task_id }}"></div>
    <div>
      <button
              id='upload_btn_{{ task_id }}'
              class="btn btn-primary"
              type=submit
              hx-encoding="multipart/form-data"
              hx-target="#upload-progress_{{ task_id }}"
              hx-post="{% url 'simba:upload_trips' task_id=task_id reader_num=reader_num %}">
        Hochladen
      </button>
      {# progress bar during upload#}
      <progress id='progress' value='0' max='100'></progress>
    </div>
  </form>

  <form action="{% url 'simba:cancel_upload' task_id=task_id %}" method="post">
    {% csrf_token %}
    <button
            id="cancel_btn_{{ task_id }}"
            class="btn btn-danger"
            type=submit
            style="display: none;"
    >
      Abbrechen
    </button>
  </form>
  <script>
      // set the first progressbar according to the upload progress
      htmx.on('#options_form', 'htmx:xhr:progress', function (evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
      });
      // After submitting file hide upload button, show abort button
      // TODO change this script to work with all of the buttons?
      htmx.on('#options_form', 'htmx:confirm', function (evt) {
          htmx.find('#upload_btn_{{task_id}}').style.display = "none";
          htmx.find('#cancel_btn_{{task_id}}').style.display = "initial";
      });
  </script>
</div>
