{% extends 'base.html' %}
{% block content %}
<div id="dynamic-content">

    <div id="dynamic-list">
        <h2>Select Stations which should be electrified:</h2>
            <form id="item-form" hx-post="/update_station">
                {% for station in stations %}
                    <label>
                        <input type="checkbox" name="item_id" value="{{ station.id }}">
                        {{ station.name }}
                    </label>
                    <br>
                {% endfor %}
                <button type="submit">Update Scenario</button>
            </form>
    </div>



    <form enctype="multipart/form-data" method="POST"> {% csrf_token %}
      <div>
        <button type='submit' class="btn btn-primary">Continue</button>
        <!--  -->
      </div>
    </form>
</div>
{% endblock %}