{% extends 'base.html' %}
{% block content %}
<div id="dynamic-content">

    <div id="dynamic-list">
        <h2>Select Stations which should be electrified:</h2>
            <form enctype="multipart/form-data" method="POST" action="{% url 'simba:set_station_values' task_id %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% for station in stations %}
                    <label>
                        <input type="checkbox" name="item_id" value="{{ station.id }}">
                        {{ station.name }}
                    </label>
                    <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
    </div>
</div>
{% endblock %}