<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eBus-Toolbox</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/mystyle.css">

</head>

<body>

  <!-- Start Top Bar -->
  <div class="container py-4 px-3 mx-auto">

    <header class="d-flex justify-content-between align-items-md-center pb-3 mb-5 border-bottom">
      <h1 class="h4">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span>RLI</span>
        </a>
      </h1>
    </header>
  <!-- End Top Bar -->

  <div class="callout tiny primary">
    <div class="row column text-center">
      <h1>
        <div class="title">eBus-Toolbox</div>
      </h1>
      <h3>Drive For Perfection</h3>
    </div>
  </div>


  <div style="margin-inline: 10px;">
      <!-- left side  -->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>