{% extends 'base.html'%}
{% block content %}
<div>
  {{mode_list}}
  <form enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <input type="submit" value="sim" name="add_mode">
    <input type="submit" value="report" name="add_mode">
    <input type="submit" value="remove" name="add_mode">
  </form>
</div>


{{form.modes}}
<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
  <button type='submit' class="btn btn-primary">Submit</button>
  {% for element in form %}
    {% if element != form.modes %}
      <div class="form-group row">
        <div class="col-md-3">
          <h5>{{element.label}}</h5>
        </div>
        <div class="col-md-9">
          {{element}}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</form>

{% endblock %}
