{% extends 'base.html' %}

{% block content %}

<div id="schedule-vehicle-types-container">

    <h3> Default Vehicle Types</h3>
    {% if schedule_vehicle_types %}
        <ul>
            {% for schedule_vt in schedule_vehicle_types %}
                <li>
                    {{ schedule_vt.name }}
                    <select name="vehicle_type_dropdown">
                        {% for optional_vt in optional_vehicle_types %}
                            <option value="{{ optional_vt.id }}">{{ optional_vt.name }}</option>
                        {% endfor %}
                    </select>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No default vehicle types available.</p>
    {% endif %}
</div>

<div>
    <form enctype="multipart/form-data" method="POST" hx-post="schedule/" hx-target="stations/" hx-swap="outerHTML" hx-trigger="click">
        {% csrf_token %}
        <div>
            <button type='submit' class="btn btn-primary">Continue</button>
            <!-- dummy vehicle types get default vehicle type values -->
        </div>
    </form>
</div>


{% endblock %}