<!-- templates/my_template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waiting for Result</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function check_status(task_id) {
             $.getJSON('/long_running_task_status/', {task_id: task_id}, function(data) {
                    if (data.success) {
                        $('#task-status').text('Task completed successfully.');
                        get_success()
                    } else {
                        setTimeout(function() {
                            check_status(task_id);
                        }, 1000);
                    }
                });
    }

    function get_success() {
       const currentQueryString = window.location.search;
       window.location.href = '/result/' + currentQueryString;
}
    </script>
</head>
<body>
<div id="body">
    <h1> Calculating id {{request.GET.task_id}} and waiting for result</h1>
    <script>
<!--// Get the current URL-->
const urlString = window.location.href;

<!--// Parse the URL string to extract the parameters-->
const url = new URL(urlString);
const searchParams = new URLSearchParams(url.search);
let task_id = searchParams.get('task_id')
 check_status(task_id);

    </script>
</div>
</body>
</html>
