
<div class="map-overlay" id="map-overlay">

    <style>
        .slider-container {
            width: 90%;
        }
        #slider-range {
            margin-top: 20px;
        }
    </style>

      <div class="map__layers-close">
        <button type="button" class="btn-close" id="js-map-layers-box-close"
                aria-label="Close"></button>
      </div>
      <div class="map-overlay-content">

            <div class="basemaps__btn">
    <button id="basemaps__default" class="btn" onclick="toggleBasemap(null);">
      <img src="{% static 'django_mapengine/images/layer_ctrl_default.svg' %}" alt="Default basemap view">
      <span>{% trans "default"|title %}</span>
    </button>
  </div>
  <div class="basemaps__btn">
    <button id="basemaps__satellite" class="btn" onclick="toggleBasemap('satellite');">
      <img src="{% static 'django_mapengine/images/layer_ctrl_satellite.svg' %}" alt="Satellite basemap view">
      <span>{% trans "satellite"|title %}</span>
    </button>
  </div>


      <div id="buttonContainer"></div>

          <div class="slider-container">
    <label>Min: <span id="minValueDisplay">0</span></label> -
    <label>Max: <span id="maxValueDisplay">100</span></label>
    <div id="slider-range"></div>
</div>
    <script>

        // Create the slider with two handles (for min and max)
    var slider = document.getElementById('slider-range');

  /*  const features = map.queryRenderedFeatures({ layers: "station" });
    const numberOfFeatures = features.length;
    for (let i = 0; i < numberOfFeatures; i++) {
        console.log(features[i].num_arrivals);
    }*/

    noUiSlider.create(slider, {
        start: [0, 100],    // Initial values for min and max
        connect: true,      // Color the range between the handles
        range: {
            'min': 0,       // Minimum possible value
            'max': 100      // Maximum possible value
        },
        step: 1,            // Increment step
        tooltips: [true, true],  // Show tooltips with current values
        format: {
            to: value => Math.round(value),
            from: value => Math.round(value)
        }
    });

    // Function to update the displayed values and call the filter function
    slider.noUiSlider.on('update', function(values, handle) {
        const minRange = values[0];   // First knob (min value)
        const maxRange = values[1];   // Second knob (max value)

        // Update displayed values
        document.getElementById("minValueDisplay").textContent = minRange;
        document.getElementById("maxValueDisplay").textContent = maxRange;

        // Trigger the applyRangeFilter function with updated values
        applyRangeFilter('station', 'num_arrivals', parseInt(minRange), parseInt(maxRange));
    });

    let routesIDList = [];

    function addIdToList(id, idList) {
        // Check if the ID is not already in the list
        if (!idList.includes(id)) {
            // Add the ID to the list
            idList.push(id);
        }
    }

    function getRouteIds() {
        const layerId = 'routes';
        if (map.getLayer(layerId)) {
            const features = map.queryRenderedFeatures({ layers: [layerId] });
            const numberOfFeatures = features.length;
            for (let i = 0; i < numberOfFeatures; i++) {
                addIdToList(features[i].id, routesIDList);
            }
        } else {
            console.log('Layer "routes" does not exist.');
        }
    }

    function filterByIntRange(key, minValue, maxValue) {
        var filters = [
            'all',
            [">=", key, minValue],
            ["<=", key, maxValue]
        ];
        return filters;
    }

    function filterByInt(key, value) {
            value = parseInt(value);
            var filters = [
                'all',
                ["==", key, value]
            ];
            return filters
        }

    function filterByBool(key, value) {
            value = (value === 'true' || value === true);
            var filters = [
                'all',
                ["==", key, value]
            ];
            return filters;
        }

    function removeFilters(layerId){
        // this is actually how it is supposed to be done according to the docs!!
        if (map.getLayer(layerId)) {
            // Layer exists, remove filters
            map.setFilter(layerId, null);
        } else {
            console.log('Layer "routes" does not exist.');
        }
    }

    function createButtons() {
        const buttonContainer = document.getElementById('buttonContainer');

        // Clear any existing buttons
        buttonContainer.innerHTML = '';

        const DepotButton = document.createElement('button');
        DepotButton.classList.add('btn', 'btn-primary', 'm-2');
        DepotButton.textContent = `Show Depots only`;
        DepotButton.addEventListener('click', showDepots);
        buttonContainer.appendChild(DepotButton);

        const AllStationButton = document.createElement('button');
        AllStationButton.classList.add('btn', 'btn-primary', 'm-2');
        AllStationButton.textContent = `Show Stations`;
        AllStationButton.addEventListener('click', function() {
                removeFilters('station');
            });
        buttonContainer.appendChild(AllStationButton);

        const Electrified = document.createElement('button');
        Electrified.classList.add('btn', 'btn-primary', 'm-2');
        Electrified.textContent = `Show Electrified`;
        Electrified.addEventListener('click', showElectrified);
        buttonContainer.appendChild(Electrified);

        const button = document.createElement('button');
        button.classList.add('btn', 'btn-primary', 'm-2');
        button.textContent = `Show All`;
        button.addEventListener('click', function() {
                removeFilters('station');
            });
        buttonContainer.appendChild(button);

        // Create buttons based on the given number
        for (let i = 0; i < routesIDList.length; i++) {
            const button = document.createElement('button');
            button.classList.add('btn', 'btn-primary', 'm-2');
            button.textContent = `Show ID ${routesIDList[i]}`;
            button.setAttribute('data-id', routesIDList[i]);

            // Add event listener to call showRoute function on button click
            button.addEventListener('click', function() {
                showRoute(this.getAttribute('data-id'));
            });

            buttonContainer.appendChild(button);
        };
    }

    // Function to show route based on data-id
    function showRoute(dataId) {
        filters = filterByInt("id", dataId);
        map.setFilter('routes', filters);
    }

        // Function to show route based on data-id
    function showDepots() {
        filters = filterByBool("is_depot", true);
        map.setFilter('station', filters);
    }

    function showElectrified() {
        filters = filterByIntRange("electrified", 9,11);
        map.setFilter('station', filters);
    }

    map.on('idle', function () {
        getRouteIds();
        StationPowerFilter()
        createButtons();

    });

    function StationPowerFilter(){
        const layerId = 'station';
        if (map.getLayer(layerId)) {
            const features = map.queryRenderedFeatures({ layers: [layerId] });
            const numberOfFeatures = features.length;
            for (let i = 0; i < numberOfFeatures; i++) {
                console.log(features[i]);
            }
        } else {
            console.log('Layer "routes" does not exist.');
        }

    }

    function applyRangeFilter(layerId, key, minValue, maxValue) {
        if (map.getLayer(layerId)) {
            var filters = filterByIntRange(key, minValue, maxValue);
            map.setFilter(layerId, filters);
        } else {
            console.log(`Layer "${layerId}" does not exist.`);
        }
    }

</script>




      </div>
</div>